[2018-06-29 19:38] simondel commented on #920
[code]
Nice.

Seriously though. This is something we'll have to look at. @nosideeffects @JoshuaKGoldberg I don't suppose either of your projects is open source, right?

[2018-06-29 19:43] simondel commented on #919
I don't think it's documented anywhere yet. Did you use `stryker init` to get your project up and running?

[2018-06-29 20:05] nosideeffects commented on #920
@simondel Correct. This is a mostly closed source repository.

The only other potentially helpful information I have is that regardless of the amount of heap space I provide to `node`, the process runs out of memory in the same time frame (within a minute of starting test runners).

[2018-06-29 20:16] JoshuaKGoldberg commented on #919
Yes, and it created approximately those settings.

[2018-06-29 20:19] JoshuaKGoldberg commented on #920
Correct, closed source. Though I will use this thread and others when I attempt to convince my managers to open source it! 🙌

A _very_ old version of my setup that _might_ help repro is: https://github.com/JoshuaKGoldberg/wallabyjs-office-ui-fabric-react-bug-repro

I doubt any of the problems are specific to my particular repo, so if you copy & paste or autogenerate around 500 files with ~2-3 test

[2018-06-29 20:28] simondel commented on #919
@nicojs @mthmulders @Archcry Shall we change the jest runner to initialize Stryker with coverage analysis off?

[2018-06-29 22:10] andrepm06 commented on #920
I'm getting this OOM issue too. I have 1366 mutants running.

Also, my very last test hangs (99%). Then, the suite is never finished.

[2018-06-30 06:00] mthmulders commented on #919
Yes, we could forcibly turn it off. Or investigate the possibility of getting coverage analysis to work....

By the way, the lack of coverage analysis support [is documented](https://github.com/stryker-mutator/stryker-jest-runner/blob/master/README.md#configuring-stryker).

[2018-06-30 08:42] #919 closed

[2018-06-30 11:14] nicojs commented on #920
@andrepm06

Could you create a separate issue for that? I'm very curious about your stryker configuration and test runner. It might be that one of the reporters has problems finishing, or the test runner itself keeps running and you have a high timeout setting.

We're going to investigate this issue. We have trouble finding big open source projects to test stryker on. For example, expressjs (sound

[2018-06-30 11:16] nicojs commented on #917
Thanks @JoshuaKGoldberg for this feature request. I think you're specifically mean the `stryker init` command right?

Should be fairly straight forward to implement. Do you want to give it a shot? It might take some time for us, as we're focusing on releasing 1.0 right now.

[2018-06-30 11:46] nicojs commented on #925
@richardwerkman thanks for this feature request.

I'm actually thinking of totally moving the _actual_ html report generation to a separate git repo and module, for example: html-mutation-reporter. A generic api, with a CLI would be preferable. That way, it's fairly easy to either:

1. Generate a json file and call the CLI for non-nodejs tools.
2. Call the programmatic api for node- tools.

@stryk

[2018-06-30 11:56] nicojs commented on #919
Its clear we're still missing coherent documentation somewhere.

In the mean time, I've created a PR to turn coverage analysis of when `stryker init` is used and jest is configured: https://github.com/stryker-mutator/stryker-jest-runner/pull/55

[2018-06-30 12:29] hugo-vrijswijk commented on #925
We have the starting position of the mutation. We could then calculate the span from that.

How would that work with multi-line statements? (E.g. emptying a function)

[2018-06-30 15:38] JoshuaKGoldberg commented on #917
I'm in a bit of a time crunch right now but sure, why not :smile:. Do you have any tips for getting started?

[2018-06-30 19:10] nicojs commented on #917
Haha, I think I know the feeling.

The initializer logic is all in the [initializer](https://github.com/stryker-mutator/stryker/tree/master/packages/stryker/src/initializer) directory. The actual npm call is here: https://github.com/stryker-mutator/stryker/blob/ca16dc0408e7661a3e3709719fc57ead9ef95909/packages/stryker/src/initializer/StrykerInitializer.ts#L142

I think a quick question using the [

[2018-07-01 12:19] nicojs commented on #925
@hugo-vrijswijk that is an excellent idea! I didn't even think of that.

It might even be pretty simple to do, as the current source code is already TypeScript. One thing we would need to do is  make it a single page application, as we cannot rely on the generation of HTML files anymore. We might be able to do it using web components or something like that.

Deep linking should work as well. We ca

[2018-07-02 01:25] JoshuaKGoldberg opened #928 "Warn when test files are mutated?"
### Summary

If your `mutate` setting neglects to exclude however you define your tests, Stryker will apply mutations to those files as well.

For example, with Jest, I'm defining tests as `src/**/*.test.ts` and source files as `src/**/*.ts`. Stryker is now reporting mutant survivors that converting test descriptions from `it("some name", () => ` to `it("", () =>`.

### Stryker config

[code]

###

[2018-07-02 16:53] andrepm06 opened #932 "Stryker hanging on the very last test"
Hello,

I'm, currently facing an annoying issue:

During my tests execution my very last test doesn't end. So stryker hangs at 100% and i never gets the report.

I've tested a few combinations to figure this out, but the best so far i only discovered that this happens when i have approximately 400 mutators running. At the moment, the folder which i'm targeting generates 1366 mutators. But i have p

[2018-07-02 16:54] andrepm06 commented on #920
@nicojs wow, 1841 in 8 minutes? I'm interested on that.

I've created an the issue #932 @nicojs

[2018-07-02 20:59] nosideeffects opened #933 "Request: mutator to remove async/await"
In a transition to using `async/await` from callbacks or Promises, these very important keywords can be lost in merges. Unit tests _should_ catch these omissions, so I propose the addition of the following mutators:

before | after
------ | -----
`await (expression)` | `(expression)`
`async function() { }` | `function() { }`
`async () => {}` | `() => {}`

[2018-07-02 22:19] andrepm06 commented on #933
Fanstastic suggestion!

[2018-07-03 08:28] nicojs commented on #932
@andrepm06 thanks for reporting this issue.

How long did you wait for Stryker to hang at 100%? I Stryker might be waiting on one or more mutants that are still being tested. You specify a `timeoutMs` of `300000` (5 minutes).

Could you try without the `timeoutMs` option (the default value should be fine).

More background info:

Stryker can mutate your code in such a way that it creates an infini

[2018-07-03 08:31] nicojs commented on #933
This is indeed a good suggestion. @simondel do you agree? @nosideeffects do you want to take a swing at this feature?

[2018-07-03 08:46] nicojs commented on #928
@JoshuaKGoldberg thanks for excellent suggestion.

What would be your preferred solution? It is difficult to scan the _actual file content_ for tests itself (file could be TS/JS/CoffeeScript and use Mocha, Tap, or anything else). I think an easier approach is to use the names of the files.

For example: when mutating these files:

[code]

We could log:

[code]

I've added the `noWarningOnMutateTes

[2018-07-03 14:31] andrepm06 commented on #932
More than 5 minutes for sure.

Also, removing `timeoutMs` i have 721 tests being running in 20 minutes, but all of them timed out.

[2018-07-03 14:32] nosideeffects commented on #933
@nicojs I can definitely make an attempt. Should I implement both a TypeScript and JavaScript mutator?

[2018-07-03 15:08] nicojs commented on #933
That would make sense yes. They also share tests, so should be easy.

@simondel what should the mutator name be? Create 2? One for `await` and one for `async`?

[2018-07-03 15:27] nicojs commented on #932
What OS are you running? If you're running on linux of mac: I might know what the cause is.

For the timeout issue: this should actually be fixed. I've implemented a fix here: https://github.com/stryker-mutator/stryker/commit/ad06c115cac064a02dc90f7a446966c2cc2219b7#diff-d43e1982197040e98ca0edb58dc5ddaa however, it seems that it didn't end up in the changelog for some reason.

@simondel any idea w

[2018-07-03 15:36] JoshuaKGoldberg commented on #928
That sounds good! As long as the regex wonders are sourced from whatever config the user has specified.

[2018-07-03 16:41] andrepm06 commented on #932
I'm running in MacOS 10.13.3.

I've upgraded the dependencies as you suggested, but timeouts are still there.

[2018-07-04 06:18] aviram26 commented on #916
Guys, maybe you have an example running `stryker` with `typescript` and `webpack`?

It's basically the same process of transpiling with webpack and running the specified mutator plugin with the specified test runner/framework, right?

[2018-07-04 15:09] nicojs commented on #920
@andrepm06 I've created a branch for it: see https://github.com/nicojs/express/tree/add-mutation-testing

[2018-07-04 15:13] nicojs commented on #932
Sorry, forgot the dependency update for _stryker itself_ :(. Could you try it? stryker@0.24.2 (just did a new release with a fix that might you ==> 0.24.2).

If that doensn't work I need some more information. Could you attach a screenshot of the console output and a screenshot of your processes?

[2018-07-05 15:12] andrepm06 commented on #932
@nicojs I think i cannot share my running processes, but I've attached the npm processes running. What do you need?

![captura de tela 2018-07-05 as 12 09 16](https://user-images.githubusercontent.com/6975975/42331682-6cecdd6c-804c-11e8-8bf7-88e241ad1ec0.png)

<img width="1265" alt="captura de tela 2018-07-05 as 12 09 28" src="https://user-images.githubusercontent.com/6975975/42331681-6cc2e3a4-804

[2018-07-06 06:44] nicojs commented on #916
@aviram26 that's an interesting setup. I've created a PR that makes stryker work. I'm closing this issue for now, if you have any questions or problems, please let us know.

https://github.com/aviram26/stryker-poc/pull/1

With this pull request I made Stryker work with your setup.

Your test pipeline looks like this:

[code]

This was masked by the fact you were using mocha-webpack. The first thin

[2018-07-06 06:44] #916 closed

[2018-07-06 11:44] legopiraat commented on #925
Would be very cool if we could achieve this. The json format looks fine to make. @stryker-mutator/stryker4s @stryker-mutator/stryker-net @stryker-mutator/stryker-core could we make a decision on this format for the team being? So we can start the development to fulfill this fields as we do not have all this info out of the box available at this moment.

[2018-07-06 12:31] nicojs commented on #925
@legopiraat yes, you can already start implementing. The json structure might change a little bit, but as long as @richardwerkman and @hugo-vrijswijk are happy for now, there shouldn't be any major changes.

We should create a [json-schema](http://json-schema.org/) for it, so it's absolutely clear exactly which fields are optional and which aren't.

I would not add that in this first release. It's

[2018-07-06 12:48] legopiraat commented on #925
Good plan on the `json-schema` found a tool online that can create a basic json schema based on the json structure [json schema generator](http://json-schema.org/specification.html).

[2018-07-07 00:20] nicojs commented on #925
I've created a repository for it. I suggest we continue discussing there.

[2018-07-07 00:20] #925 closed

[2018-07-07 13:54] ankeshdave commented on #897
Yup, I'll test this once its resolved , I have been trying to introduce mutation testing to my team :)

[2018-07-08 08:00] JoshuaKGoldberg opened #956 "Show ETC as minutes or hours when applicable"
### Summary

When on a laptop with 4 cores instead of a dev machine with 16, Stryker takes quite a bit longer for large projects:

![image](https://user-images.githubusercontent.com/3335181/42417913-d71cf394-8249-11e8-8020-e9a0b7e48c08.png)

Could we get this in hours instead, please?

### Stryker environment

[code]

### Your Environment
| software         | version(s)
| ---------------- | ------

[2018-07-08 08:01] JoshuaKGoldberg opened #957 "Build error: innerFSMock.readFileSync is possibly 'undefined'"
### Summary

Following the steps in `CONTRIBUTING.md`, `npm install` and `npm test`:

[code]

[2018-07-08 08:42] JoshuaKGoldberg opened #960 "Build error: keyof T is no longer a subset of string[]"
Following the steps in CONTRIBUTING.md after applying #958, npm install and npm test:

[code]

This is because TypeScript updated the `keyof` type array to also include `number` and `symbol`. [[link](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html)]

[2018-07-08 08:46] JoshuaKGoldberg commented on #960
Oh, funny, you already fixed this :)

[2018-07-08 08:46] #960 closed

[2018-07-08 11:54] #957 closed

[2018-07-08 19:05] #526 closed

[2018-07-08 19:07] nicojs commented on #693
We're closing it for now. Please create a new issue if the problem persists.

[2018-07-08 19:07] #693 closed

[2018-07-08 20:43] JoshuaKGoldberg opened #963 "Support for CSS-in-JS style creators?"
### Summary

We use [Glamor](https://github.com/threepointone/glamor) with React to declare our CSS styles in JS. For example:

[code]

We do have unit tests for `ColoredText` to ensure it displays `{text}`, but it's against our preference to include unit tests for, say, `fontWeight: "bold"`. Unit testing CSS is too detailed for us and we prefer using visual regression testing for that kind of sce

[2018-07-09 06:45] nicojs commented on #956
We could, but it wouldn't make it go faster ;).

Seems like a fair request and a good first issue for anyone interested. Thanks @JoshuaKGoldberg

[2018-07-09 08:58] nicojs commented on #956
@JoshuaKGoldberg both moment and luxon are good suggestions, but both come at a cost (namely download size). Let's try to avoid them if the only thing we need is a human readable ETC.

[2018-07-09 14:02] gugacavalieri commented on #466
Hey Guys,

Found a solution by mocking the Meteor Framework :)

I created a repo for this.

You can check it out at https://github.com/gugacavalieri/stryker-meteor-integration

Many thanks to https://github.com/pcorey/unit-testing-with-testdouble

[2018-07-09 18:51] Tobino opened #965 "Feature request - Add coverage analysis for Jest"
### Summary

Is it possible to add coverage analysis, to provide a better experience on mutation testing with jest ?
For now, `stryker-jest-runner` create mutants on every single part of code, even if statement or branch are not reach.

I would like to add my contribution to stryker, to help bigger application to use stryker, without to add mutation on unreachable statement during initial test run

[2018-07-09 18:59] macabeus commented on #243
I also would like support Ava.js for Stryker. In my job we have many projects that uses Ava, and the Stryker will be useful.

[2018-07-09 20:37] nicojs commented on #466
@gugacavalieri awesome you were able to pull it off! I see you're trying to setup the mutation score badge. If you're having trouble with it, please don't hesitate to drop us a line at gitter: https://gitter.im/stryker-mutator/stryker

[2018-07-09 20:45] gugacavalieri commented on #466
@nicojs Thanks ! Will check again why it is not rendering and let you know :smile:

[2018-07-10 16:46] JoshuaKGoldberg opened #967 "tslib dependency is a few versions behind"
### Summary

`tslib` is now at 1.9.3. Your versions are:
* `stryker`: ^1.5.0
* `stryker-api`: ^1.6.0
* `stryker-javascript-mutator`: ^1.8.0
* `stryker-karma-runner`: ^1.6.1
* `stryker-mocha-framework`: ^1.5.0
* `stryker-mocha-runner`: ^1.5.0
* `stryker-typescript`: ^1.5.0

 I'm particularly fond of [Greenkeeper](https://greenkeeper.io/) for CI and [npm-check-updates](https://github.com/tjunnone/np

[2018-07-10 16:53] nicojs commented on #967
This is strange. @dependabot, any idea why this versions are behind?

[2018-07-10 18:40] simondel commented on #967
It is not behind actually. See: https://github.com/stryker-mutator/stryker/pull/904 for example.

A clean install should give us the latest version of tslib for each package. We could either: add a package.lock.json again or remove the `^` before the version so Dependabot will give a PR with every version.

[2018-07-10 18:46] JoshuaKGoldberg commented on #967
Ah my apologies, I didn't think to check whether you already had Dependabot :)

+1 to explicit version ranges!

[2018-07-10 19:33] simondel commented on #967
No problem :) bots can be sneaky. What would you suggest as a version range for tslib? Pinning major and minor versions down but not the patch version?

[2018-07-10 20:52] JoshuaKGoldberg commented on #967
I prefer exact versions to be sure of the exact version.

Package authors sometimes "mess up

[2018-07-10 20:52] JoshuaKGoldberg commented on #967
I prefer exact versions to be sure of the exact version.

Package authors sometimes "mess up

[2018-07-10 20:58] JoshuaKGoldberg commented on #967
_(sorry, large thumbs on mobile)_

+1 to including major and minor versions.

Even with `package-lock.json`/`yarn.lock`, there are benefits to explicitly stating your version. It's impossible to exactly follow semver, as even additions to an existing API can be breaking changes (e.g. to checks of whether some APIs exist). It's also clearer to non-package-authors what versions you're using: both in

[2018-07-11 13:50] nicojs commented on #967
This should be done for all dependencies, right? Not only tslib

[2018-07-11 19:07] nicojs commented on #965
@Tobino thanks for creating this issue.

We've chatted about this on Gitter, I'll include the explanation I gave there here as a reference for anyone interested.

You've shown interest to help us crack this nut. Thanks a lot in advance! I've created a branch ("965-jest-coverage-analysis") and added one integration test (`'Integration test for Strykers Jest runner should be able to retrieve code co

[2018-07-11 19:33] nicojs commented on #967
@JoshuaKGoldberg I've created PR #974. Would you mind reviewing this one?

[2018-07-11 20:42] nicojs commented on #667
Side note: this will make it much easier to run Stryker on the Stryker modules themselves! As we can simply use local references to plugins.

[2018-07-12 04:38] JoshuaKGoldberg opened #975 "Use prettier colors on the CLI reporter?"
### Summary

https://twitter.com/_nicojs/status/1017154960834945024

Referring to colored output in terminals:

[2018-07-12 05:30] #967 closed

[2018-07-12 06:20] nicojs commented on #975
I was actually referring to the deep linking. It would be awesome if you could click to the exact location where the mutant is located. Pretty colors are nice as well, we already have some colors I think, but as I said in the twitter chat, it might all use a make over 💄. You may work your magic by all means 👍

The code is already prepared to write to file as well (it uses an output stream). Not su

[2018-07-12 08:30] nicojs opened #976 "Silent test runners"
When running a test runner, we pass through any message on the standard error stream to the current console window. This results in a lot of clutter in those cases where a lot of `console.error` calls are written. For example, using karma with project: angular cli.

Suggestion is to make it silent (log on debug is fine I guess). When a process crashes unexpectedly we can always show the last 10 me

[2018-07-12 09:49] samfoot opened #977 "Runtime errors"
### Summary

I am getting a large number of runtime errors when running stryker. I have tried running with loglevel: 'debug' but I don't see any obvious errors, the tests run manually with jest without issue. How can I find out what is causing me to have so many runtime errors?

### Stryker config

[code]

### Stryker environment

[code]

### Your Environment
| software         | version(s)
| ----

[2018-07-12 10:02] nicojs commented on #977
Hmm interesting. Could you try again with `loglevel: 'trace'`? Testrunner processes are currently silenced unless loglevel is trace.

[2018-07-12 10:10] samfoot commented on #977
Thanks for getting back to me @nicojs

I just ran it again with `loglevel: 'trace'` and I am now getting a load of `Mutant caused runtime error` errors on the output, screenshot below.

<img width="925" alt="screen shot 2018-07-12 at 11 07 55" src="https://user-images.githubusercontent.com/818528/42627147-19e58c5e-85c4-11e8-928e-5e0203a08ad6.png">

[2018-07-12 10:12] samfoot commented on #977
thanks for getting back to me @nicojs

I ran it with `trace` and I am now getting loads of `Mutant caused a runtime error!` errors in the output:

<img width="925" alt="screen shot 2018-07-12 at 11 07 55" src="https://user-images.githubusercontent.com/818528/42627272-703e2188-85c4-11e8-9203-a3ebd48ff849.png">

[2018-07-12 10:16] nicojs commented on #977
If you scroll up you should be able to see the runtime errors themselves. It is printed before the actual results. We're working on a feature for logging to a file. Untill then, you could use `stryker run > out.txt` to redirect output to a file

[2018-07-12 10:22] samfoot commented on #977
I can't see any runtime errors in the output, could I send you the output directly to take a look?

[2018-07-12 10:30] samfoot commented on #977
I just ran one of the test manually copying the trace output:

```{"collectCoverage":false,"collectCoverageFrom":["**/*.{js,jsx}","!**/node_modules/**","!src/test/**","!coverage/**","!src/index.js"],"coverageReporters":["text","lcov"],"coverageThreshold":{"global":{"branches":10,"functions":10,"lines":10,"statements":10}},"verbose":false,"bail":false,"rootDir":"/Users/sf/proj1/.stryker-tmp/sandbox

[2018-07-12 10:53] nicojs commented on #977
Hmm ok, so we know the problem is somewhere in Stryker. Could you send me the console output somehow? You can use nicojs [AT] infosupport [DOT] com (no spaces)

[2018-07-12 13:53] simondel commented on #667
Constructor injection of dependencies seems like a good way to go. I don't really like the idea of an object that contains our dependencies and injecting that

[2018-07-12 14:59] JoshuaKGoldberg commented on #975
Is there a dedicated emoji for scope creep? 🐍 perhaps?

What is the total feature set discussed here?

💄 Color make over for the CLI if in tty mode?
🔗 Links to original file lines in output?
👽 Emoji decorations in output if in a terminal that supports them?

[2018-07-12 15:11] nicojs commented on #975
I think you just coined the emoji: 🐍 it is! 🥇

Yes. Well... I'm not sure if tty is the correct check to be making. Non-tty can support colors and emoj.

For example:

In vscode debugger terminal:
![image](https://user-images.githubusercontent.com/1828233/42642057-43dc7fa4-85f6-11e8-9bf8-9a364276ca82.png)

In [conemu](https://conemu.github.io/):

![image](https://user-images.githubusercontent.com/1

[2018-07-12 16:19] novemberborn commented on #243
@macabeus if you could help with the issues I [linked to previously](https://github.com/stryker-mutator/stryker/issues/243#issuecomment-392021748) that'd be fantastic.

[2018-07-12 19:23] nicojs commented on #873
@Zikoel Any luck? I'm closing this issue for now. Don't hesitate to contact us if you have more problems.

[2018-07-12 19:23] #873 closed

[2018-07-12 19:50] nicojs commented on #789
@sorokin-evgeni Could you try it again with the latest version of stryker (0.24.2)? We've recently implemented a fix where we now kill the entire child test process tree (instead of just the direct child). I've noticed that this was a problem in linux and mac in particular. If this was the cause, than it should be fixed now.

[2018-07-12 20:23] nicojs commented on #667
Well.. maybe. You mean, just use the one and only `settings` object as a "Dependency injection container". That would work, is unpractical. The idea of the dependency injection container is that it would be constructed on the child process side. The current `settings` objects are pojo's to be serialized and send over the wire.

Using that settings object to also house our `getLogger` method would

[2018-07-13 13:56] samfoot commented on #977
With the help of @nicojs we found the problem to be on of my tests leaking state, a global `Object.defineProperty` in one of my dependencies was causing Jest to throw a `TypeError: Cannot redefine property:` error, this happens in Stryker because the same test is being run multiple times in the same process.

Currently these errors are not being output to the user even with the  `loglevel: 'trace'

[2018-07-13 14:52] nicojs opened #1001 "Race condition in integration test"
Build fails sometimes because of a race condition in `ResilientTestRunnerFactory when test runner behind has a slow init and dispose cycle`

[code]

[2018-07-14 10:17] Tobino commented on #965
Hello,

It seems that Jest [deep clone __coverage__](https://github.com/facebook/jest/blob/aff9681e397d38be96e0fa4bd6868ef50fe2fc77/packages/jest-runner/src/run_test.js#L173) on each testSuite, and push this result on coverage field. I guess coverage is the result of each worker from Jest, and I don't know if Stryker is able to use this format directly or a merge of coverage with `istanbul-lib-cov

[2018-07-14 15:47] nicojs commented on #965
Thanks for your update, I will take a look next week. Just to be clear, is Jest itself also instrumenting the code?

[2018-07-14 16:45] andrepm06 commented on #932
@nicojs Not worked =(

[2018-07-14 17:20] nicojs commented on #975
There is an issue for emoji support in Windows console: https://github.com/Microsoft/console/issues/190

It seems that there already is _some_ support. So no need to actively check for support I think

[2018-07-16 09:50] aviram26 commented on #916
@nicojs -Thanks!!
I will update if there is anything interesting...

[2018-07-16 15:00] simondel commented on #920
@nosideeffects @JoshuaKGoldberg Could you try to replace the content of `node_module/stryker/src/TestableMutant.js` and see if this makes a difference? I've looked at this with @nicojs and found a possible leak.

This may break the report that stryker generates, but this is just for testing purposes.

With:
[code]

[2018-07-16 21:47] JoshuaKGoldberg commented on #920
Well, it went from `144/4299` tested to `145/4299` tested, with a different error message. I assume the error is nondeterministic and it didn't fix it 😢:

FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

[code]

[2018-07-17 00:44] nicojs commented on #920
Ah, this is slightly different from the main error, as this happens in a _test runner child process_.

Stryker should be able to recover from that. We could identify this error and retry to run mutant in a fresh Testrunner process. In fact, there already is a decorator to do just that, but it isn't handeling this particular case: the [`RetryDecorator`](https://github.com/stryker-mutator/stryker/bl

[2018-07-17 06:59] #748 closed

[2018-07-17 15:33] Tobino commented on #965
I think Jest use istanbulJs to instrument the code, but I am not sure if it's the right answer.

[2018-07-17 15:49] nicojs commented on #965
Yeah, that isn't what we want. We now use istanbul to instrument the code our selves before the initial test run (based on the `coverageAnalysis` setting). However, this could change in the future our own instrumentation.

We're actually looking for a way to mark a global variable as "don't touch this one" in jest. Do you know if that's possible? I have looked at this problem before, but usually w

[2018-07-18 08:21] JoshuaKGoldberg commented on #917
Filed an issue in the stryker-cli repo; this one is enough for me! Thanks for the support! 🙌

[2018-07-18 08:21] #917 closed

[2018-07-18 16:36] nicojs commented on #920
Some news on this front. We can now reproduce this when running stryker on stryker itself. This was definitely _not_ the case earlier, so it seems to have happened due to some change on our side or one of our dependencies.

Unfortunately, figuring that out is not easy, as we don't run stryker on stryker in our CI build (it takes too long). We still need to configure a nightly build to mutation tes

[2018-07-18 22:04] NodeGuy opened #1034 "Test runner blows up on first run: [ERROR] TestRunnerChildProcessAdapter"
### Summary

I'm trying to use Stryker for the first time on https://gitlab.com/NodeGuy/channel and it appears to break when it hits a mutant (I'm guessing):

[code]

### Stryker config

[code]

### Stryker environment

[code]

### Your Environment
| software         | version(s)
| ---------------- | -------
| node             |  v9.11.1
| npm              | 5.6.0
| Operating System | macOS 10.13.

[2018-07-19 17:30] nosideeffects commented on #920
I'm glad you have found a reproduction using Stryker's own source! I've been working around this issue by mutating small subsets of code while writing unit tests, when appropriate. If I run into this in one of these subsets, I'll be sure to post an update here on the code contents, to hopefully help pinpoint the underlying issue.

[2018-07-20 06:54] #977 closed

[2018-07-20 08:40] simondel commented on #1034
Thanks for opening this issue! I have created a branch to resolve this issue.

By the way, your mutation score is 93.44% 🥇

[2018-07-20 11:57] simondel opened #1038 "Log4js error logging when child process exits"
When a child process exits unexpectedly, Log4js logs the following error:

[code]

[2018-07-20 11:57] simondel commented on #1038
Note: this is on Windows

//cc @nicojs

[2018-07-20 12:41] simondel commented on #1001
Should we increase the timeout?

[2018-07-21 11:04] simondel commented on #920
Ok, I figured something out. We transpile every mutant, which results in one or more source files that will be placed in the sandbox during testing. This transpiling is done in a separate process so we can run it while we run the tests. If you are not using any transpiler, the code just passes through. That means that you end up having a lot of files in memory.

I think this causes the memory issu

[2018-07-21 11:51] simondel commented on #920
@JoshuaKGoldberg Are you running on Windows?

[2018-07-21 14:36] JoshuaKGoldberg commented on #920
Yup! Windows Server 2016.

[2018-07-21 15:38] simondel commented on #920
Nice. Could you select the **main process** when you run stryker?

At the start, there should be only one NodeJS process in your terminal:
![image](https://user-images.githubusercontent.com/4221997/43037307-bb0560ba-8d0c-11e8-964c-47cf320e3e4c.png)
If you click it, it will stay selected as more child-processes are created for testing and transpiling:
![image](https://user-images.githubusercontent.

[2018-07-21 16:30] JoshuaKGoldberg commented on #920
Main is **`7412`**.

While the last message is `Creating 12 test runners (based on CPU count)`:
![image](https://user-images.githubusercontent.com/3335181/43037766-61488552-8cc6-11e8-860c-f4190c8851df.png)

At 1% (`36/4471 tested`):
![image](https://user-images.githubusercontent.com/3335181/43037893-249e541e-8cc7-11e8-98f9-18ae5f04ec5c.png)

At 3% (`119/4471 tested`):
![image](https://user-images.

[2018-07-21 17:04] simondel commented on #920
Nice, PIDs. I should also turn that on. Unfortunately I don't see the huge spike in memory as I do on my machine so it looks like you're having a different issue.

Nonetheless, we should fix the issue with Stryker transpiling every mutant as fast as it can, without waiting for the test runners to catch up.

[2018-07-23 00:00] #1034 closed

[2018-07-23 00:30] nicojs commented on #1001
This test doesn't exist anymore in the current code base. Closing for now.

[2018-07-23 00:30] #1001 closed

[2018-07-23 04:50] simondel commented on #553
Well, it is something we may want to fix. However, `babel.parse` will be in Babylon 7 which is not out yet (without beta)

[2018-07-23 05:12] simondel commented on #920
So, one solution would be to pause the `MutantTranspiler` if the process feels it's getting overrun with data. However, since this uses reactive programming, it would require us to give an `Observable` to the `MutantTranspiler` so it can provide a value based on the current value of the `Observable`, indicating if it should pause.

This does feel like a bit of an anti-pattern though..

[2018-07-23 06:17] simondel commented on #1034
Fixed with:
stryker@0.25.1
stryker-api@0.18.0
stryker-javascript-mutator@0.8.0
stryker-mocha-framework@0.11.0
stryker-mocha-runner@0.13.0

[2018-07-23 17:22] NodeGuy commented on #1034
Wowee, that was fast!  Thanks!

[2018-07-23 19:35] simondel commented on #1034
During testing I noticed that Stryker does not shut down after it is done. This may be due to your tests still using some resources on your system.

[2018-07-23 19:59] nicojs commented on #1034
Might be fixed on the latest branch I've been working on. 976-silent-testrunners

[2018-07-24 21:05] Tobino commented on #965
I think `testResult.coverage`is untouch by jest, and then coverage report is generate using this field.  Maybe there is a chance to improve stryker.

[2018-07-25 06:20] nicojs commented on #920
@JoshuaKGoldberg We found (one of) the memory leaks in Stryker. Since sinon 5, using `sinon.stub()` without using `sinon.restore()` is a memory leak. We used it here and there to create one-of-stubs. If you're doing something similar, you'll probably have a memory leak in your tests too.

This makes it kind of interesting. I think a lot of people have memory leaks in there unit tests. Usually, it'

[2018-07-25 06:34] nicojs commented on #920
This is for performance reasons. We reuse the test runner process. With mocha, we clear only _your_ modules from the node cache so Sinon will still be in de cache and happely clog your memory.

For jest, we leave the clearing up to the jest testrunner. Not sure what exactly is cleared there, but I imagine it's the same thing

[2018-07-26 18:23] prsn670 opened #1046 "Improve Mocha support"
### Summary

Hello all, I was hoping somebody could let me know what I'm doing wrong here. I keep getting a syntax error on CSS files. We're using Stryker version 0.14.1. We are also using react/redux with the mocha test framework. We are not using webpack. I'm unsure if it is some configuration error, version issue, or something completely different. The error is as follows:

[2018-07-26 13:02:05

[2018-07-26 18:44] nicojs commented on #1046
Thanks for reporting this issue. I see that you have both a webpack configuration and a Babel configuration. You normally won't need webpack when using mocha as a test runner. What does your babelrc and npm test command look like?

[2018-07-26 18:46] simondel commented on #1046
@nicojs the post was edited after placing it. The webpack config is now gone and the post mentions they don't use webpack. (I was about to ask the same question)

[2018-07-26 19:06] prsn670 commented on #1046
Sorry about the mistake in the config file, I did edit it right after I noticed it. Here is my babelrc and npm test command.

## babelrc
[code]
## npm test command
"test": "cross-env NODE_ENV=test mocha \"./test/**/*-tests.js\"",

[2018-07-26 19:12] simondel commented on #1046
As a check, could you upgrade the Stryker dependencies to their latest versions? If you use Git for this project, you may be able to remove the `files` property from the config as well.

[2018-07-27 08:33] nicojs commented on #768
I had some time on a 10 hour flight, so I decided to implement this feature. @DiegoRBaquero do you want to review it? I'm especially interested to see if made some obvious mistakes using `require('child_process').exec`.

[2018-07-27 13:43] prsn670 commented on #1046
Sorry for taking so long to reply. I was able to update Stryker to the latest version, but may have to wait till Monday till the other dependencies can be updated. I tried running with just the updated Stryker and got this error:

module.js:440
    throw err;
    ^

Error: Cannot find module 'stryker-api/logging'
    at Function.Module._resolveFilename (module.js:438:15)
    at Function.Module._lo

[2018-07-27 13:53] simondel commented on #1046
Yeah, we've recently revamped the logging so you'll have to update all Stryker dependencies (including the plugins such as stryker-mocha-runner).

Don't worry about taking a while to respond. We're here to help you and if you need some time that's perfectly fine. We also don't have time to reply or fix things right away :)

[2018-07-27 16:31] nicojs opened #1049 "Support "presets" during `stryker init`"
Running `stryker init` can be complicated. You get a number of questions that are pretty technical. People using angular or react might not even know what _test runner_ or _test framework_ they're using.

Therefore I propose one additional question:

* Choose a preset for your project:
  * Angular (uses angular cli)
  * React (uses react-scripts)
  * Custom (choose for yourself)

If you choose a p

[2018-07-27 22:24] DiegoRBaquero commented on #768
Cool! I'll try to review it this weekend

[2018-07-28 12:25] nicojs opened #1051 "Zero config test runs"
With the command test runner (#1047) and the new sane default for the `files` array (#665), I think we have everything in place to support zero configuration test runs. I would suggest the following defaults to be added:

* Test runner: `'command'`
* Mutator: ~~The installed mutator (javascript/typescript)~~ `"javascript"`
* Files to mutator: `['src/**/*.js', 'lib/**/*.js']`
* Coverage analysis: `

[2018-07-28 17:06] mthmulders commented on #1051
Getting people started with a minimum of effort sounds like a good idea to me!

[2018-07-29 22:33] JoshuaKGoldberg commented on #1049
This sounds nice!

If there exists a `package-lock.json` or `yarn.lock`, we could auto-choose that option as a default for the non-custom ones.

[2018-07-30 12:44] nicojs commented on #1049
Well... maybe... but they might just as well be absent. It would also not surprise me if one or the other would support both in a short while. I wouldn't want to invest the time when it turns out that this functionality changes.

I've did a little digging around. It seems that you can get the raw *.md file from git wikis pretty easily by adding the `".md"` postfix.

I've created this page: https:/

[2018-07-30 13:16] prsn670 commented on #1046
I installed the upgraded dependencies this morning and reran the init command. The only thing the setup asked me was what type of reporters I wanted and the package manager I was using. The config file had a few labels with nothing filled in so I filled it in. I'm still receiving an error:

08:01:56 (13016) ERROR TestRunnerChildProcessAdapter Child process exited with non-zero exit code 1. Last 10

[2018-07-30 15:03] prsn670 commented on #1046
I tried the configuration @nicojs suggested but I get a syntax error on the import. This happens when we don't include the babel transpiler. We do have a mocha.opts file in which our mocha-hook.js file is required. babel-register is required in the hook.js file, which should also disable our css imports. Could there be an issue where the mocha.opts file is not being used correctly?

[2018-07-30 15:12] nicojs commented on #1046
Yes, this is most definitely it. It is not used by default. Mocha has no clean way of providing the mocha.opts file, instead we had to recreate the functionality. See https://github.com/stryker-mutator/stryker/tree/master/packages/stryker-mocha-runner#configuring

I our implementation _doesn't support local requires_. Could you try this:

[code]

That should do the trick.

[2018-07-30 16:21] prsn670 commented on #1046
Alright, I think we're almost there. I am getting a different error:

11:17:04 (7868) ERROR TestRunnerChildProcessAdapter Child process exited with non-zero exit code 1. Last 10 message from the child process were:

11:17:04 (7868) ERROR InitialTestExecutor One or more tests resulted in an error:
        TypeError: (0 , _mocha.describe) is not a function
TypeError: (0 , _mocha.describe) is not a f

[2018-07-30 18:12] prsn670 commented on #1046
Unfortunately, adding the dom.js file to the require.resolve didn't have any impact. I'm still receiving the error of mocha.describe not being a function.

[2018-07-30 18:14] prsn670 commented on #1046
Unfortunately adding the dom.js didn't resolve any issues. I'm still getting the same error for mocha.describe.

[2018-07-30 19:42] nicojs commented on #1046
Yes, they should make sure `describe` is on the global scope.

Hmm ok, time to pull out the big guns. Could you open up `/node_modules/stryker-mocha-runner/src/MochaTestRunner.js` and replace the `additionalRequires` function? Should be on line 109 to 113. Replace it with this:

[code]

That should make local requires possible (and add some logging).

If you now remove the entire `require` from yo

[2018-07-31 19:50] andy128k opened #1057 "Inconsistency with object keys"
Semantically `{ "key": "value" }` and `{ key: "value" }` are the same, but Stryker creates 2 mutants for former and only one for latter.

So it is possible to hide uncovered code (bug?) from Stryker just by removing quotes.

[2018-07-31 20:42] nicojs commented on #1057
Hmm good catch. I think this is just an oversight. @simondel, I think this mutant is a false positive, right?

[2018-07-31 23:27] nicojs opened #1058 "Build: use typescript 3 project references"
Using typescript 3's project references could mean a big quality of life improved for us. Goals:

- Smaller build time
- Not able to use things like `describe` in production code anymore

Bear minimum example: https://github.com/RyanCavanaugh/learn-a?files=1
Ts 3 changeling: https://blogs.msdn.microsoft.com/typescript/2018/07/30/announcing-typescript-3-0/

[2018-08-01 13:08] prsn670 commented on #1046
I'll see to creating a small repository that reproduces the problem (today). Unfortunately the replacement of the function did not help, I'm still getting the same error. I also added the ui tag and gave it 'bdd', but that didn't seem to help either.

I also wanted some clarification on location of the config file. The readme says that it is expected to be the current working directory, but then g

[2018-08-01 13:32] nicojs commented on #1046
No, no issue there.

Awesome! I'm sure we'll be able to fix this issue once we can reproduce it 👍

[2018-08-02 14:42] jeznag opened #1061 "Adopt the Just World License"
I would love to see Stryker adopt the Just World License: https://github.com/raisely/jwl

See https://medium.com/@jeremynagel/is-open-source-working-for-the-enemy-80f113ca1b0 for rationale.

[2018-08-02 15:06] nicojs commented on #1061
Wow, awesome initiative. I'm definitely going to discus this with our company.

A question. If the build is taking 4 hours longer because of Stryker, which means the server is consuming more power, which means that the power plant is burning more coal considered "environmental destruction" according to the license?

Another question: is it ethical to use JWL software if you're working for an oil c

[2018-08-02 15:09] nicojs commented on #1051
I've updated the mutator to being`"javascript"` by default. I think that is a little easier to wrap your head around.

[2018-08-02 15:11] Archcry commented on #1061
If [this](https://github.com/raisely/jwl/pull/13) pull request is approved then it's definitely not.

If we were to adapt this license we would lose some of the apache-2.0 license goodies. Also, how many changes to the license can we expect in the near future the license becomes more popular and gets more pull-requests?

[2018-08-02 16:25] prsn670 commented on #1046
So I figured out what was causing describe not be recognized as a function. I got the idea [here](https://stackoverflow.com/questions/47716547/typescript-mocha-describe-is-not-a-function). I simply had to remove my import statement for mocha and it started working. The weird thing is when I tried to reproduce the error on my computer with the import statements it would still work and give me no er

[2018-08-02 18:45] #1038 closed

[2018-08-03 06:02] chrisjensen commented on #1061
Thanks guys for considering the license. We'll lock down a 0.1 of the license as it is now so you can have some stability, and work towards a 1.0.

In terms of what it ideologically encompasses, it's pretty stable barraing someone bringing up a glaring omission. I'd welcome any input on things we can do to make our standpoint clearer.

Can I check what apache-2.0 aspects you'd miss?

[2018-08-03 12:01] nicojs commented on #718
Duplicate of #1049 ?

[2018-08-03 12:16] #976 closed

[2018-08-03 12:19] nicojs commented on #650
I think this also solves #137

[2018-08-03 12:19] nicojs commented on #245
Close for now (will be fixed with #650)

[2018-08-03 12:19] #245 closed

[2018-08-03 12:19] nicojs commented on #137
Close for now (will be fixed with #650)

[2018-08-03 12:19] #137 closed

[2018-08-03 12:31] simondel commented on #356
@nicojs Is this still a thing or has it been fixed since?

[2018-08-03 12:32] simondel commented on #392
@nicojs Do you still want this? There is already the option to log to a file.

[2018-08-03 12:32] simondel commented on #398
@nicojs This has been fixed right?

[2018-08-03 12:33] simondel commented on #553
We haven't heard from people actually having issues with this for a while, so I'll close it for now.

[2018-08-03 12:33] #553 closed

[2018-08-03 12:34] nicojs commented on #398
Yep #976

[2018-08-03 12:34] #398 closed

[2018-08-03 12:40] simondel commented on #1057
What we need to check here is if the parent of the `StringLiteral` node is a `PropertyAssignment` and the current node is the `name` property of that parent. (Names of types/properties may differ between Babylon and TypeScript.

We should add this to the mutator specification so both mutators have to comply with it.

@andy128k Would you be interested in making this change? We can help to guide you

[2018-08-03 12:46] nicojs commented on #1057
Sounds good. Don't forget:

[code]

Let's make sure the following keeps working though:

[code]

[2018-08-03 13:01] simondel commented on #1049
@JoshuaKGoldberg I discussed this with @nicojs and the Wiki does not sound like a good place to put documentation if we want others to contribute.

What we propose is the following: have a separate repo with documentation for stryker (and stryker scala, stryker.net etc.). This documentation can include example configurations for different types of projects. We can link to that repo from our websit

[2018-08-03 13:07] simondel commented on #963
I'm not sure if we can detect this. What are your thoughts @nicojs?

[2018-08-03 15:40] nicojs opened #1062 "Stryker hangs for 5 minutes"
As discussed with @simondel, the latest release of Stryker hangs for a long time before exiting. Timeouts are not cleared.

See output of [wtfnode](https://github.com/myndzi/wtfnode). (awesome tool)!

[code]

[2018-08-03 17:11] simondel commented on #1062
Fixed

[2018-08-03 17:11] #1062 closed

[2018-08-03 20:39] jeffreyscholz commented on #932
I don't know if this is helpful, but I had the same issue. It went away after I used explicit whitelists and used no blacklist for the `mutate` field. I'm using this in node, and my suspicion is that some weird framework file or dependency gets mutated and that causes the hang. I don't know what the root cause is.

[2018-08-03 20:41] andrepm06 commented on #932
@jeffreyscholz You mean, expliciting the files which i want to mutate?

[2018-08-03 20:59] jeffreyscholz commented on #932
@andrepm06 no, folder level. For example, in my node project I did `[middleware/**/*.js, routes/**/*.js, ...]`. I suggest only allowing a small subset into the mutation then slowly expanding it until you see the error pop up again. I realize this is not a real fix, but this is what I ended up doing.

[2018-08-04 16:07] kmdrGroch opened #1064 "Stryker does not overwrite karma config"
### Summary

Stryker does not overwrite karma config

### Stryker config

[code]

Karma
[code]

### Stryker environment

[code]

### Your Environment
| software         | version(s)
| ---------------- | -------
| node             | 10.6.0
| npm              | 6.1.0
| Operating System | win10

[2018-08-04 20:28] kmdrGroch commented on #1064
yes @simondel. @nicojs current one

[2018-08-04 20:54] nicojs commented on #1064
I think I see what the problem is. The keys are different. `browser` vs `browsers`. I've made this mistake as well in the past.

[2018-08-04 20:58] nicojs commented on #1046
I would like to keep this issue open. I want to fix 3 things:

- [ ] use your mocha.opts file by default (if exists)
- [ ] Make sure relative imports when using `--require` (same as mocha does it)
- [ ] Make sure `const { describe } = require('mocha');` works as well.

[2018-08-04 21:18] kmdrGroch commented on #1064
it makes sense. Thanks @nicojs

[2018-08-07 12:11] nicojs commented on #932
@andrepm06 could you try this again after upgrading to 0.26.1? We changed the core of how we spawn and handle test runners in child processes.

In addition, could you try to use [wtfnode](https://www.npmjs.com/package/wtfnode) to run Stryker? For example: `wtfnode node_modules/.bin/stryker run`. When Stryker hangs again, it will output the reason to the screen after interrupting the application (C

[2018-08-07 18:34] nosideeffects commented on #920
So is there a current workaround for my specific issue? Is there a way to throttle the test runners, or limit the number of files in memory concurrently?

[2018-08-09 16:07] andrepm06 commented on #932
It worked!

`"stryker": "0.26.1",
   "stryker-api": "0.18.0",
   "stryker-html-reporter": "0.14.2",
   "stryker-javascript-mutator": "0.7.2",
   "stryker-jest-runner": "0.5.1",`

[2018-08-09 16:18] simondel commented on #932
Awesome! nice to hear that it has been fixed. I'll close this issue for now. If the issue comes back, please let it know!

[2018-08-09 16:18] #932 closed

[2018-08-09 19:31] blabno opened #1072 "Support git submodules"
If I don't specify `files` inside `stryker.conf.js` then by default `git ls-files --others --exclude-standard --cached --exclude .stryker-tmp` is used.

The problem appears when repo has git submodules, as those are included by the command above.
Then stryker tries to copy such folder as if it was a file which ends up in cryptic error:

There is a silent assumption in `InputFileResolver` that the

[2018-08-09 19:38] nicojs commented on #1072
Thanks for the great bugreport @blabno. Would it be safe to ignore directories? Or are they needed to run your tests?

As a workaround for now you could define files yourself.

[2018-08-09 19:44] blabno commented on #1072
In my case, I don't need submodule for running unit tests, thus for stryker, so for me it would be safe to ignore directory if it happens to be on the list returned by `git ls-files`.

[2018-08-10 10:44] simondel commented on #897
@ankeshdave We have started working on a handbook for Stryker. Our first guide will be a guide for Angular projects. Could you take a look at it as well? https://github.com/stryker-mutator/stryker-handbook/pull/2

[2018-08-10 12:51] simondel opened #1076 "Rename 'project' config key to 'projectType'"
As mentioned by @nrg500 in https://github.com/stryker-mutator/stryker-handbook/pull/2 the config setting `'project'` in the stryker-karma-runner and stryker-jest-runner can be quite confusing because your project name could be a valid value. A name such as `'projectType'` would probably result in less confusion about the intended use of the property.

**Suggestion:**
Add a property `'projectType'`

[2018-08-11 12:22] kmdrGroch opened #1077 "no coverage and error"
### Summary

I get an error (times a lot [])
``(11272) ERROR log4js A worker log process hung up unexpectedly { Error: read ECONNRESET
    at TCP.onread (net.js:659:25) errno: 'ECONNRESET', code: 'ECONNRESET', syscall: 'read' }`` and report is bad (like it doesn't test good(?))

[code]
[code]

### Command I run:
- node ./node_modules/stryker/bin/stryker run --basePath=C:\Users\19gro\Desktop\hi

##

[2018-08-11 12:34] simondel commented on #1077
Thanks for opening this issue! Could you try to downgrade to Karma 2.0.5? Karma 3.0.0 has been out for two days and we haven't tested our support her.

[2018-08-11 12:47] kmdrGroch commented on #1077
@simondel standard testing with Karma 3.0.0 seems to be working. But ill try with 2.0.5 too

[2018-08-11 12:49] kmdrGroch commented on #1077
with karma 2.0.5 does not work again but there is no errors at least

[2018-08-11 12:52] kmdrGroch commented on #1077
[stryker.log](https://github.com/stryker-mutator/stryker/files/2280247/stryker.log)
here you have log for 2.0.5

[2018-08-11 13:07] simondel commented on #1077
Could you open up C:/Users/19gro/Desktop/front-tools/reports/mutation/html/index.html

In your log file I see that you have one test and Stryker found two mutants

[2018-08-11 13:09] kmdrGroch commented on #1077
it does created 2 mutants but it seems it doesn't test them properly ```js
function add(a, b) 0{
    return 1a + b;
}```
first
[code]
second
function add(a, b) {
    return a - b;
}```

[2018-08-11 13:37] simondel commented on #1077
Awesome. This sounds like a small project. Would it be possible to share the sources with me? You could send them to simondelang@gmail.com or create a repo on GitHub.

[2018-08-11 13:43] kmdrGroch commented on #1077
I'll send you it this evening I suppose or tomorrow, since on GitHub I have older version.

[2018-08-11 13:45] simondel commented on #1077
Sounds good 👍

[2018-08-11 15:00] chrisjensen commented on #1061
I've frozen an [initial release](https://github.com/raisely/NoHarm/tree/v0.1) at if you're keen to use this now

[2018-08-11 19:55] simondel commented on #1077
Thanks! With your example I'm able to run Stryker if I remove your basePath logic, set the basePath in your karma config to `"basePath": config.basePath || "",` and use the following Stryker config:
[code]
*Note: The `files` array could probably be removed in your case since you're working with a git repo.*

With the settings above, when I run `stryker run` from the command line I get the followin

[2018-08-11 20:38] kmdrGroch commented on #1077
@simondel have you tried running tests from different folder? (not where all these node_modules are)

[2018-08-11 20:44] kmdrGroch commented on #1077
i have structure like -> ``front-tools/`` (folder with all node_modules, configs, logic stuff etc) and ``hi/`` in completely different directory. I want to run tests from in ``hi/``, have reports there etc

[2018-08-11 21:04] kmdrGroch opened #1078 "New mutators"
### Summary
maybe good mutators could be made of:
- ``>`` -> ``<``
- ``>`` -> ``===`` (etc)
- ``==`` -> ``===`` -> ``==``
- ``!=`` -> ``==`` -> ``!=``
- ``{ some object }`` -> ``{}``
- remove all ``cases`` from ``switch`` and leave only ``default``
-
- Based on https://stryker-mutator.io/mutators.html

[2018-08-12 06:36] simondel commented on #1077
We have an open issue to add the option to specify a project root: https://github.com/stryker-mutator/stryker/issues/650

Because your karma config always points to the `hi/` folder in your use case, the tests that contain the mutants and/or are instrumented to collect code coverage are never executed since they are in `front-tools/.stryker-tmp/sandboxXXXXXXXXXX`.

This is unfortunately not a use

[2018-08-12 06:40] simondel commented on #1078
Thanks for opening an issue for this!
We already support:
- ``>`` -> ``<``
- ``==`` -> ``===``
- ``===`` -> ``==``
- ``!=`` -> ``==``
- ``==`` -> ``!=``

Mutating case statements and switch statements sounds interesting! I don't really understand what you mean with
- ``>`` -> ``===`` (etc)
Could you be more specific on that one? Why is this a construction that you think should be changed?

[2018-08-12 07:53] kmdrGroch commented on #1077
@simondel do you plan add this feature in the nearest future?

[2018-08-12 07:58] nicojs commented on #1077
As long as configured paths are relative, we should be able to support it once #650 is solved, right @_simondel?

[2018-08-12 08:10] simondel commented on #1077
@nicojs I think we would be able to support this after #650. The basepath `"/"` indeed points to the root of your disk.

@kmdrGroch I don't expect us to have the feature in the next month or so, but it is definitely something that is important to us and will added in the future.

[2018-08-12 08:42] kmdrGroch commented on #1077
@nicojs "/" returns current directory, so if it's launched in ``front-tools`` it should get ``front-tools`` directory. Root of the disc will be obtained with ``C:/``

[2018-08-12 08:43] #1077 closed

[2018-08-12 08:46] kmdrGroch commented on #1078
@simondel ``etc`` v
- ``<`` -> ``===``
- ``>`` -> ``===``
- ``>=`` -> ``===``
- ``<=`` -> ``===``
It would test another cases.

[2018-08-12 08:47] kmdrGroch commented on #1078
Also i would like to notice that on your official page -> ``>`` -> ``<``; ``==`` -> ``===`` are not included; https://stryker-mutator.io/mutators.html

[2018-08-12 09:01] kmdrGroch opened #1079 "Karma 3.0.0 -> errors"
### Tags 😛
- For future; "warning" error; Information for developers

### Summary

There are is an issue with ``Karma 3.0.0``; Since they updated one dependency ``log4js [version 3.0]`` it can throw some errors (then don't influence on results though i think); error -> ``log4js A worker log process hung up unexpectedly { Error: read ECONNRESET at TCP.onread (net.js:659:25) errno: 'ECONNRESET', cod

[2018-08-12 09:46] nicojs commented on #1077
@kmdrGroch

Great! I'll add that to #650, we should support that as well.

We can send you a message, but you can also watch the issue itself. You'll get notified as soon as there is an update

[2018-08-12 10:43] kmdrGroch commented on #1079
@nicojs i also have told karma crew about it, thought they said it is not their fault, and i should tell it to "authors of package". It doesn't have impact on stryker functionality though - it just throws errors ._.

[2018-08-12 12:42] simondel commented on #1078
My bad! We actually don't have these mutators that I claimed we have.
- ``>`` -> ``<`` is already covered by ``>`` -> ``<=``
- ``==`` -> ``===``  will almost never cause an issue and the use of ``==`` is not recommended
- ``===`` -> ``==`` should never cause any issues except for linting

We could add the above mutators (same goes for the ``>`` -> ``===`` etc.) but since they are will almost never

[2018-08-12 12:51] simondel commented on #789
As mentioned, we expect that the issue is resolved if you use the latest versions of Stryker. I'll close this issue for now. If it still persists, let us know!

[2018-08-12 12:51] #789 closed

[2018-08-12 12:52] kmdrGroch commented on #1078
@simondel since ``>`` is changed to ``>=`` or ``<=`` you don't need ``===``. ``==`` -> ``===`` is really dumb (i was writing that at night so i was stupid then xD). You could also try emptying each object like ``Int8Array`` etc but i dunno if it won't cause some issue (or can be hard to implement)

[2018-08-12 12:53] simondel commented on #718
This is now the stryker-handbook :) https://github.com/stryker-mutator/stryker-handbook

[2018-08-12 12:53] #718 closed

[2018-08-12 12:58] simondel commented on #1046
@nicojs Shall we create an issue for the problems you mention?

[2018-08-12 13:01] simondel opened #1080 "Migrate to Lerna 3"
Lerna 3 has been released. We should checkout what's different and migrate our project to it.

[2018-08-12 16:03] nicojs commented on #1046
I was thinking to use this issue for them. Doesn't matter really.

[2018-08-13 01:12] kmdrGroch commented on #1078
@simondel i think this object replacer would look sth like
[code]

[2018-08-13 02:16] kmdrGroch commented on #654
@simondel, @nicojs I am trying to solve some easy issues and refactors you need. I am quite newbie in your project, try to understand how it really works, and to understand TS in 100%. Do you have some instructions / tips, how can I work out / find out myself in that big project?

[2018-08-13 06:08] simondel commented on #1076
Nice catch! I have updated the main post.

[2018-08-13 06:10] nicojs commented on #1076
While you're at it, please update the name of `default` to `custom` in the jest-runner. It doesn't make sense to say a `projectType` is `default` imo

[2018-08-13 10:06] simondel commented on #654
Awesome :) We have a mono-repo. All the stryker plugins that we maintain ourselves are in here. We use Lerna to bind it all together and ensure the packages work together locally. If you run commands such as `npm install` from the root of the repo, they will be executed in each package.

Perhaps a nice one to start with is this: https://github.com/stryker-mutator/stryker/issues/1076
It's isolated

[2018-08-13 11:52] kmdrGroch commented on #654
@simondel i don't know if you checked what I have done yesterday in fork. I could make pull request today but i have solved #860 and #654 i think. Also did some minor changes to mutators

[2018-08-13 12:15] kmdrGroch commented on #654
also i have question about packages/stryker-karma-runner/package.json. In all files you define ``project [projectType]`` to be ``default`` and then you change it to ``custom``. Is it issue or I missed some line in config

[2018-08-13 12:37] kmdrGroch commented on #654
I have tried to test but it crashes on ```js
1) A babel project with the `only` option enabled
       should be able to transpile the input files:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (C:\Users\19gro\Desktop\stryker\packages\stryker-babel-transpiler\test\integration\BabelProjects.it.js)```

[2018-08-14 00:46] jeffreyscholz commented on #1078
I second the object mutators. I just had some tests pass that in one of my projects that should not have passed if the object was emptied.

[2018-08-15 11:35] takuhii opened #1083 "Struggling to Setup Stryker"
I have followed your instructions pretty much to the letter, but I cannot get Stryker to work... I have managed to get it to this point;

[code]
My stryker.conf.js looks like this;

[code]
Any help would be greatly appreciated

[2018-08-15 12:18] simondel commented on #1083
Thanks for opening this issue! What kind of project am I looking at?
I would recommend removing the `plugins` section of the config as it's not required in your case.
Are you using git? If that's the case then I would also remove the `files` option in your config. If you aren't using git. Please add all files you need in your project (sources, tests, karma config etc.) to the files array.

[2018-08-15 12:41] kmdrGroch commented on #1083
@takuhii you need to add karma config to it.

[2018-08-15 13:19] takuhii commented on #1083
It is a gulp build pipeline

[2018-08-15 13:37] simondel commented on #1083
Awesome, what does the logging say after you use the new stryker.conf.js?
Where in your repository is your karma.conf.js?

[2018-08-15 16:13] takuhii commented on #1083
Says exactly the same thing;
[code]

The stryker.conf.js sits here;
![screenshot 2018-08-15 at 17 11 26](https://user-images.githubusercontent.com/193907/44159161-7d324400-a0ae-11e8-9e86-eefa8ddd2d84.png)

[2018-08-15 16:18] takuhii commented on #1083
I would like to point out that the `common/javascript/app` folder contains the working JS, not the test files...the test files reside NEXT to the app folder;

[code]

[2018-08-15 16:46] simondel commented on #1083
Thanks for the info!
Could you add
[code]
To the root of the config object? (Same level as the mutator and testFramework). The bit of config above is usually added by the `stryker init` command.

[2018-08-16 09:26] philippw opened #1084 "Use npm scoped packages for stryker and its plugins"
### Summary

Since npm 2, npm supports [scoped packages](https://docs.npmjs.com/getting-started/scoped-packages#how-to-work-with-scoped-packages). In a nutshell, this allows for logically grouping parts of a project together.

Given that stryker comes with a useful set of plugins, it'd be nice to have such a group for them. E.g.:
So instead of ``stryker-jest-runner`` we'd get ``@stryker/jest-runne

[2018-08-16 09:30] simondel commented on #1084
@nicojs Your plan was to do this with v1.0.0 right?

[2018-08-17 02:38] rodoabad opened #1085 "Docker + Stryker"
### Summary

Hey Nico, I have a test repository here with docker and I keep getting an error whenever I run my tests through docker.

I've posted the log below and was wondering if this is something you're familiar with.

I've added a link to my repo if you want to test it out yourself (I've updated the read me just in case).

[code]

https://github.com/rodoabad/automatic-palm-tree

And then when

[2018-08-17 08:05] simondel commented on #1083
Hi @takuhii Did you happen to find some time to test stryker with the karma settings I metioned in the previous comment?

[2018-08-17 09:03] simondel opened #1086 "Don't log reading the karma config as info"
Right now, every time the stryker-karma-runner reads the karma.conf.js file a log statement is logged using level _info_. Whenever a test runner process restarts, the progress bar that stryker uses is interrupted:
![image](https://user-images.githubusercontent.com/4221997/44257671-08c1e700-a20d-11e8-98b4-1e91a567049d.png)

I would suggest logging this line on something like logLevel debug instead

[2018-08-17 09:08] takuhii commented on #1083
Hi,
Sorry I was OoO yesterday and unable to test... I have made those amends and now have this in my stryker.conf.js;

[code]
and now get this for every JS file;
[code]
I think it is because we use RequireJS in this project, So I thought about adding
`frameworks: ['require']`
to the config in stryker.conf.js?

[2018-08-17 09:12] takuhii commented on #1083
When I add
`framework: ['jasmine', 'requirejs']`

I get this in the terminal;
[code]

My new stryker.conf.js looks like this;
[code]

[2018-08-17 09:14] simondel commented on #1083
Thanks for testing it! Could you add `fileLogLevel: 'trace'` to the root of the stryker config object? That will generate a log file. Could you send that with your karma.conf.js to simondelang@gmail.com? Feel free to obfuscate paths to files if that helps you :)

[2018-08-17 10:49] #768 closed

[2018-08-17 11:44] simondel commented on #578
Initial VueJS support is ready to be tested :) Checkout https://github.com/stryker-mutator/stryker-handbook/pull/4 and https://www.npmjs.com/package/stryker-vue-mutator

Let me know what you think!

[2018-08-19 19:12] #793 closed

[2018-08-19 20:00] simondel commented on #365
@nicojs Do we also want to update the RunResult and RunOptions and such?

[2018-08-19 20:03] nicojs commented on #365
Yes, they can be readonly as well

[2018-08-20 09:09] takuhii opened #1093 "Support for Jenkins"
Would it be possible to support Jenkins CI with Stryker?

[2018-08-20 09:56] simondel commented on #1093
What kind of support are you looking for?

[2018-08-20 10:32] takuhii commented on #1093
Integration as with Travis and CircleCI

[2018-08-20 10:44] takuhii opened #1094 "Scan entire folder for Mutations except for one sub-folder?"
How can I scan an entire directory as part of my mutation tests, but exclude one folder within said directory?

Basically I have a POLYFILLS directory within my JS folder. I want to scan the entire JS folder without scanning the polyfills folder, but I still NEED the polyfills folder as part of the testing...

[code]

[2018-08-20 10:45] takuhii commented on #1083
I will do this ASAP ;) Sorry for the delay, weekend and all...

[2018-08-20 11:07] takuhii commented on #1093
I might also add, it is a private repo

[2018-08-20 11:41] simondel commented on #1093
What kind of integration do we have with Travis and CircleCI? For Travis we support the dashboard reporter but I don't think we do anything for CircleCI.

How would you expect to use Stryker in your Jenkins pipeline?

[2018-08-20 11:45] simondel commented on #1094
Could you try:
[code]

[2018-08-20 11:53] nicojs commented on #1093
Right now, we only support public repositories. We're planning to enable the full HTML report, so it doesn't really make sense to enable it for private repos.

Integration with Jenkins (public repo) should be rather straightforward. We just need environment variables which tell us:

1. the name of the repo,
2. Whether or not it is a PR
3. The branch name

See https://github.com/stryker-mutator/str

[2018-08-20 12:52] takuhii commented on #1094
I could couldn't I. Sorry, completely missed that...

[2018-08-20 12:52] #1094 closed

[2018-08-20 12:56] takuhii commented on #1093
I will wait for the FULL HTML Reporter ;) thank you for your time :)

[2018-08-20 12:56] #1093 closed

[2018-08-20 13:30] blabno opened #1095 "Muntants survive despite tests guarding well"
I've got standard Angular 6 project, created with `ng new`.
I've just bumped karma to "^2.0.5".

Now following mutation (providedIn "root" is substituted with ""):
[code]
is being reported as surviving this test:
[code]
which is simpossible, because that code does not even compile:
[code]

package.json:
[code]

[2018-08-20 13:30] blabno commented on #1095
The solution is to downgrade karma to "^1.7.1".

[2018-08-20 13:48] blabno opened #1096 "Stryker hangs in the middle of Angluar 6 tests"
I've got standard Angular 6 project generated with `ng create`

First attempt to run `stryker run` told me to update `@angular/cli`, so I've run `ng update @angular/cli`.
But now tests hang somewhere between mutations.
Log file revealed that stryker was doing this mutation:
[code]
`templateUrl` got replaced with empty string which resulted in:
[code]

[2018-08-20 13:48] blabno commented on #1096
Solution was to update `@angular-devkit/build-angular` as well.

    ng update @angular-devkit/build-angular

[2018-08-20 20:10] nicojs commented on #1096
Great you got it working. This is documented in the [handbook](http://github.com/stryker-mutator/Stryker-Handbook), however many people seems to run into this issue so I think a runtime check might be in order.

[2018-08-20 20:38] simondel commented on #1096
This is in the handbook *because* he ran into the issue :p

[2018-08-20 21:22] nicojs commented on #1096
Right, so now all info is in one place ✌️

[2018-08-21 05:02] blabno commented on #1096
You recommend there karma 2.0.4 but it causes false reports. When mutation causes compilation write it is reported as survived.

[2018-08-21 09:34] takuhii commented on #1083
Hi Simon, I have sent you an email

Kind regards
Darren

[2018-08-21 09:47] simondel opened #1098 "stryker-karma-runner logs MODULE_NOT_FOUND when the karma.conf.js does not exist"
When I set an incorrect path to my karma.conf.js file or if I don't copy the karma.conf.js file to my sandbox. I  see the following logging:

[code]

It would be good to check if the file exists in the sandbox before trying to require it.

We could use fs.access before trying to require the file (only then with a promise):
[code]

[2018-08-21 09:50] simondel commented on #1098
Another option would be to try to read the file and if it fails, check if the error code is `'MODULE_NOT_FOUND'`

[2018-08-21 21:16] #860 closed

[2018-08-22 12:48] kmdrGroch opened #1103 "TS2345 issue while testing"
### Summary

[code]
+-- stryker - current
+-- stryker-api - current
[code]

[2018-08-23 11:34] eskimoblood opened #1106 "Stryker does not work in jest with jest.mock"
### Summary

Running stryker on jest tests fails when the test is using mocks

[code]
### Stryker config

[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             |
| npm              |
| Operating System |

### Add stryker.log

[code]

[2018-08-24 09:16] simondel commented on #1106
Thanks for opening this detailed issue!

Could you remove the following from your Stryker config and then try again?
[code]

[2018-08-24 16:36] csimko opened #1109 "Stryker with Mocha / Typescript results in different mutation score every run"
### Summary
When running **stryker run** with mocha and typescript it succeeds. However the issue is that on every subsequent run the score is different. No file manipulation is present, no changes to source are made during runs.

### Reproduction

1. Please checkout the following branch:
https://github.com/ChannelApe/channelape-typescript-web-service-sdk/tree/feature/channelape-actions-controller

[2018-08-25 12:39] kmdrGroch commented on #1109
@csimko It can be caused because using windows or not enough space. Try to empty ram and CPU as much as you can, also check if there are not killed processes. Also try testing in headless browser if you are not doing it.

[2018-08-25 13:31] simondel commented on #1109
@csimko I can also reproduce this on my machine. The score seems to be more consistent if I don't test in parallel (`maxConcurrentTestrunners: 1`).

The transpiler errors seem to always be the same, so the issue really seems to be in your tests. What kind of application is it? What system resources (files outside of src and test, network ports on your system, etc) does it use?

[2018-08-26 09:45] Archcry commented on #1109
I am seeing consistent runs on Linux with a score of 21,74%. Seems to be related to Windows indeed.

[2018-08-26 10:41] simondel commented on #1109
Thanks for testing it @archcry!

[2018-08-26 19:46] kmdrGroch commented on #1109
@Archcry, @simondel when I was making PR and testing on linux i also had inconsistent results (probably caused by memory limit) [travis tests it perfectly :/], but on windows it is not consistent at all. [Simondel PR is waiting for you :)]

[2018-08-27 09:27] nicojs commented on #1106
@eskimoblood

That is true, but it seems that Jest is responsible for that. You now configured both Stryker and Jest to transpile your code. Removing `transpilers` from your stryker config, should solve that problem.

[2018-08-27 09:57] nicojs commented on #436
It's hard to comment on this. Could you create a PR for this?

Could you try to place this TSConfig in the root of the repo and simply use

[code]

Everywhere else?

[2018-08-27 11:18] nicojs commented on #897
@ankeshdave see https://github.com/stryker-mutator/stryker-handbook/blob/master/stryker/configuration/angular.md. Feel free to introduce Mutation testing to your team. Be the star of the day! ⭐️

[2018-08-27 11:27] eskimoblood commented on #1106
Still failing:

[code]

[2018-08-27 11:40] nicojs commented on #1106
Still failing, but with a different error: `UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: Cannot read property 'then' of undefined`

Just to be sure, you're still using jest 23, right? Jest 21 is not supported and will result in this error (or something simular).

Would it be possible to make a small repository to reproduce this issue? It seems that so

[2018-08-28 15:35] Chowarmaan opened #1115 "Launching Browser PhantomJS error in stryker run, Karma works"
### Summary
I have karma installed and configured to use Chrome and Chromium as the headless browser.  These work correctly and run the tests correctly.  PhantomJS is not listed in my karma configuration at all.

When running a test with Stryker, the PhantomJS browser fails to run.  As Stryker should be using my karma installation, not sure why I need to install and configure PhantomJS as well.

#

[2018-08-28 15:41] kmdrGroch commented on #1115
@Chowarmaan In stryker config make:
karma.config.browsers -> ["Chrome"] or [ "ChromeHeadless" ]
like:

[code]

[2018-08-28 15:43] kmdrGroch commented on #1076
@simondel, @nicojs I think it can be closed.

[2018-08-28 15:45] kmdrGroch opened #1116 "New mutator: Error mutator"
We could add error mutator, so each Error / TypeError etc will be changed to `return` or empty Error

[2018-08-28 15:49] Chowarmaan commented on #1115
Thank you. That was so obvious.  I can remove the PhantomJS install then, as the older outdated software fails on the basic Angular tests.

[2018-08-28 15:49] #1115 closed

[2018-08-28 16:27] kmdrGroch commented on #1115
@Chowarmaan Can you share a log?

[2018-08-28 16:36] Chowarmaan commented on #1115
Actually, it is my Jest that is failing on the test with the basic
application.

On Tue, Aug 28, 2018 at 12:27 PM Bartosz Leoniak <notifications@github.com>
wrote:

[2018-08-28 16:41] nicojs commented on #1076
Closed via #1107 thanks again @kmdrGroch  👍

[2018-08-28 16:41] #1076 closed

[2018-08-28 18:44] nicojs commented on #1115
It isn't trivial to switch from karma to jest. For one: there is no browser in jest tests. What is your use case?

[2018-08-28 19:54] Chowarmaan commented on #1115
I was getting an error with embedded browser support, and thought it was
something similar to the karma test.  Once I transfered to jest my tests on
their own were not working, when I had the jest.config.js setting of
`testEnvironment: "node"` configured.  When I removed this, my jest tests
began to run properly again, and Stryker was also then able to get through
its test mutations.

On Tue, Aug

[2018-08-30 17:07] severen opened #1119 "Add the ability to exclude files from being transpiled"
I'm working on a [project](//github.com/severen/disposition) for loading configuration files that are written in TypeScript, which means that during its tests I want to test if it can correctly load configuration files from the disk. Unfortunately, since Stryker (seems to) transpile *every* TypeScript file in the project, [one of my tests](//github.com/severen/disposition/blob/master/test/disposit

[2018-08-30 17:14] severen commented on #1119
It's also worth noting that Stryker worked perfectly fine _until_ I decided to have it transpile my TypeScript files (which is useful for catching mutations via the type checker, if I understand how it works).

[2018-08-30 17:28] severen opened #1120 "Fails to run with TypeScript transpilation enabled and includes specified in tsconfig.json"
### Summary

Stryker fails to run when I have transpilation enabled for TypeScript files _and_ the `include` field set in `tsconfig.json` (which is `"include": ["./src"]` in my case). It functions fine when I remove that (ignoring my issue in #1119).

### TypeScript Config

[code]

### Stryker Config

[code]

### Stryker Environment

[code]

### Your Environment

| software         | version(s)
|

[2018-08-30 17:48] nicojs commented on #1119
@severen thanks for reporting this issue.

Stryker should use your tsconfig file and only transpile those files that are also included in your typescript project. I think that when #1120 is solved, this issue should be solved as well, no?

This is an excellent idea. We're thinking about as feature for Stryker vNext. It might make configuring Stryker easier. First want to get 1.0 out the door, then

[2018-08-30 18:48] severen commented on #1119
Thanks for the quick response!

Neat, I did not think of that. I believe this issue will be solved as well then in that case.

Really pushing for some fully-integrated TypeScript support would be pretty nice, as well as a good selling point.

Also, I would like to say that aside from the issues I reported using Stryker has been a pleasure, and it worked perfectly out of the box (excluding my issue

[2018-08-31 12:56] severen commented on #1120
Something else worth noting is that I am using Jest with ts-jest and have the following configuration:

[code]

I've also done some more investigation by poking around in the sandbox directory Stryker makes, and it seems that the TypeScript in my src directory is _already_ being transpiled by something else (ts-jest?) _before_ Stryker runs TypeScript on the code itself. So when TypeScript _does_ g

[2018-09-01 22:44] leonormes opened #1123 "Add option to type check all typescript files"
### Summary
I understand that Stryker type checks (using typescript that is) the current file being tested. Could we have an option to transpile all files so that we can be sure any mutations used would not have been caught by type checking?
I am using typescript to add safety and relying on the type checking so that I do not have to write extra tests just for types. If a mutation in file1.ts resu

[2018-09-02 14:14] mickaelw commented on #717
I have the same error with:
Stryker config:
[code]

And Jest config:
[code]

| Package        | Version           |
| ------------- |:-------------:|
| Node      | 8.11 & 10.9 |
| React Native      | 0.56      |
| TS | 3.0.3      |
| Jest | 23.5.0      |
| Stryker | 0.29.1      |

[2018-09-02 15:16] kmdrGroch opened #1124 ""demo configurations""
We could make some demos with different setups of stryker, like stryker with karma, stryker with jest, typescript, react, angular apps, etc. It would be easier for people i suppose. Or add it in stryker-cli to provide some default configs.

[2018-09-02 16:14] kmdrGroch opened #1125 "discord for stryker"
We can make some discord for easier comunication with each other. Channels like: development for each stryker, website, and help: for live help.

[2018-09-02 16:37] simondel commented on #1125
The most important thing for me is to reduce the amount of input channels. Right now we have:
* GitHub
* Gitter
* Twitter
* Private email
* Work email
* Work Slack (between devs and users/fans inside our company)
* WhatsApp (directly between devs)

[2018-09-02 16:53] kmdrGroch commented on #1125
roger that @simondel. Closing then :)

[2018-09-02 17:03] simondel commented on #1125
That doesn't mean that this is not a good idea :) I just would not like to have everything that we have now _and_ also have Discord.

Do you think Discord could replace some input channels that we have right now?

[2018-09-02 17:08] nicojs commented on #1125
We could also move our slack to the public.

Problem with slack and discord is that they are volatile. So if we help someone or make some decisions, it is quickly forgotten.

[2018-09-03 15:03] kmdrGroch commented on #1123
@leonormes stryker does not change anything to create issue with types (probably emptying function could cause an issue, but i am not sure). If there is type error in your code, it won't be transpiled by typescript, so stryker won't even start.

[2018-09-03 17:02] kmdrGroch commented on #1124
I can take care of it in this week and add "templates" folder to stryker repo. What do you think @nicojs ?

[2018-09-03 17:07] nicojs commented on #1123
@kmdrGroch If there is a type error the mutant isn't even tested, indeed. However @leonormes is correct in that when a mutant in foo.ts causes a type error in bar.ts it won't result in a compile error (or `TranspileError` as we call it). This issue is created after the discussion on Gitter, thanks for that.

[2018-09-03 17:10] simondel commented on #1124
@kmdrGroch could you also look at #1049?

[2018-09-03 17:26] kmdrGroch commented on #1124
@nicojs, @simondel I will try to take a look and try to make some PR for it. I have to make new branch in my repo though since you have not checked my previous PR yet 😠

[2018-09-03 18:08] simondel commented on #1123
When we empty a function, we may cause a type error because a return value is expected, either explicitly in the definition of the function, or implicitly by code that calls the function.

[2018-09-03 19:45] nicojs commented on #1124
Sorry 😥 ! I will do this tomorrow. Spare time is ... sparse

[2018-09-04 05:16] kmdrGroch commented on #1124
What about structure of the files? I have been thinking about it and it looks like this:
- remove / move files from ``docs``
- add ``templates`` folder and add there samples in folders like ``stryker-typescript-template``, ``stryker-angular-template``, ``stryker-karma-template``, etc. We could also add it to ``npm`` so each template can be downloaded (if you know what i mean).
- add to ``docs`` fo

[2018-09-04 20:09] nicojs commented on #1124
I didn't know it still existed. Yes, remove please :). It is already copied to stryker-mutator/stryker-handbook#6.

The problem with that is that it would need to be kept in-sync with the stryker-handbook guides. That's why i thought af an elaborate scheme where we download the templates directly from github during `stryker init`. It would be a bit complicated to do:

1. Do an HTTP GET for the cor

[2018-09-05 06:05] nicojs commented on #1124
Hmm I'm not sure about karma.conf.js and tsconfig.json files. They are probably already in your project. For example: using `karma init` or `ng new`. Same goes for react projects, etc.

There will also already be a package.json, so I would suggest do `npm install --save-dev ....` of all stryker dependencies. This is what `stryker init` already does now.

[2018-09-05 06:06] nicojs commented on #1124
This issue is morphing into a duplicate of #1049, isn't it?

[2018-09-05 06:09] nicojs commented on #1125
In contrast to those solutions, we could point people to stack overflow for questions. There already is one question out there: https://stackoverflow.com/questions/44023041/stryker-mutation-tesing-with-es6-files

The upside is that it is very public. It directly helps others. By far the best place for questions I think. @simondel what do you think?

[2018-09-05 08:05] kmdrGroch commented on #1124
@nicojs, it doesn't install all required dependencies though. When I was installing karma + jasmine it was missing a few of them. So it should be solved. @simondel, it would be like a demo so people can see example of config.

[2018-09-05 08:16] nicojs commented on #1125
True. But those questions can easily be answered with: "please open an issue". Once the issue is resolved we can update the answer / create a new answer on stack overflow.

That would help document the questions and provide help for people on places they already know.

[2018-09-05 09:02] nicojs commented on #1125
This is where comments are used for in stack overflow all the time. I also think that people can judge this for themselves. If it is a technical error they see, they'll probably report it as a bug. If it is a functional warning/error they don't understand, they'll open a question.

In short:

* I think people can make the distinction
* If someone makes a wrong assumption, no problemo, we can point

[2018-09-05 09:31] simondel commented on #1124
@kmdrGroch so it would be an application with source files, tests, package.json, test runner config, Stryker config etc. Right?

[2018-09-05 13:06] kmdrGroch commented on #1123
@simondel, @nicojs, what about instead of empty function, provide sth like:
function functionName(): someType {
  return new someType();
}

[2018-09-08 01:29] lunafi-dorian commented on #578
I get the same error everytime I run it (I have limited scope to mutate 2-3 files and tried on all):
[code]
Let me know if you have any thoughts, because all the unit tests pass atm.

Below is debugging output.

[code]
`stryker.conf.js`
[code]
`jest-config-ci.js`
[code]
`package.json`
[code]
`.babelrc`
[code]

[2018-09-10 17:18] kmdrGroch opened #1133 "strange part of code"
I have been looking through the code and I noticed some strange code:
[code]
shouldn't it be sth like:
[code]
+ value can also be ``typeof function`` so all cases haven't been checked. (if you don't count NaN as a primitive then also NaN should be checked)

path: stryker\packages\stryker\test\helpers\producers.ts

so final code i suppose should be is like:
[code]

[2018-09-10 18:08] kmdrGroch opened #1135 "Travis"
I noticed that travis doesn't work when PR from branch other than ``master`` :/

[2018-09-10 18:48] simondel commented on #1135
Do you have an example?

[2018-09-10 18:57] kmdrGroch commented on #1135
you can see my PR @simondel https://github.com/stryker-mutator/stryker/pull/1134

[2018-09-10 19:02] simondel commented on #1135
I got no issue with#1136

[2018-09-10 19:35] simondel commented on #1135
Could you try to update your branch with a small change? You can revert it later but I think Travis just didn't trigger.

[2018-09-10 20:04] kmdrGroch commented on #1135
Sure @Simondel. I think I can find small place

[2018-09-12 05:02] Archcry opened #1140 "Filenames not showing up correctly in report"
### Summary
In one of my recent projects I used Stryker to mutation test. The report does not seem to be correct though because some wierd glitch is showing up in the filenames.
![screenshot_20180912_065312](https://user-images.githubusercontent.com/1557855/45402940-89330680-b658-11e8-8ff5-435cc22ee124.png)

`modules/helloController.ts` is not working correctly here. My directtory structure looks

[2018-09-12 05:26] Archcry commented on #1140
Basically the same, and it cannot sure the contents of the file.

[2018-09-12 05:28] simondel commented on #1140
Does the path exist in the reports folder or is that one also incorrect?

[2018-09-12 05:46] Archcry commented on #1140
`reports/mutation/html/modules/helloController.ts/` exists in the reports folder. But I think the `html-reporter` is only reporting what Stryker told it to report. I assume something is going wrong when creating the data for all reports because all reporters seem to have this problem.

[2018-09-12 06:14] nicojs commented on #1140
Yeah, probably a bug in the recursive function of the `ScoreResultCalculator`. Could you enable the `'event-recorder'` reporter? That way we can see the `"onScoreResultCalculated"` event. Should be fairly clear.

[2018-09-12 08:46] Archcry commented on #1140
Same result there:

[code]

[2018-09-12 13:38] #1135 closed

[2018-09-12 13:43] kmdrGroch commented on #436
@nicojs I think it can be closed and removed from ``backlog``

[2018-09-15 13:09] kmdrGroch opened #1146 "Reduce amount of test helpers"
I noticed there are a lot of helpers / mocks. But there are being duplicated. We could reduce it's size by putting it in some other folder and importing from that 1.

[2018-09-16 16:58] nicojs commented on #436
Yes this one can be closed. What solution did you find for forcing an import order?

[2018-09-16 16:58] #436 closed

[2018-09-16 16:59] nicojs commented on #1146
What do you suggest exactly? When it comes to tests, a bit of redundancy doesn't hurt. The most important thing is that the tests are easily to read and understand. I've made some

[2018-09-16 18:39] kmdrGroch commented on #436
@nicojs there is an option in tslint, but honestly i dunno how it works (ASCII i suppose, SOMEHOW)

[2018-09-16 18:41] kmdrGroch commented on #1146
I'll see what I can do :)

[2018-09-17 14:09] nicojs commented on #1049
I don't feel like we should do live queries to the stryker-handbook anymore. It is too error prone:

* Configuration on the https://github.com/stryker-mutator/stryker-handbook can be out sync with your installed version of Stryker
* Editing the stryker handbook can result in error in `stryker init` configuration. This is undesirable.

Let's just program them right into the stryker main package. Th

[2018-09-19 07:04] legopiraat commented on #1125
I've been thinking about this a lot as well, I agree with Simon that there are many input channels for Stryker.   Maybe we should move from our internal slack and work email to an overall StrykerDevTeam gitter channel so we can eliminate 2 input channels? Not sure how the company will react to this.

[2018-09-20 14:52] Chowarmaan opened #1152 "Stryker fails when Jest has it.skip() tests"
### Summary
In my test suite, I have a test that is marked to be skipped using the it.skip() syntax.  When Stryker is analyzing this test, it determines that the test had initial test failures, where the skipped tests are not failures, but should be ignored.
[code]

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| --------

[2018-09-20 20:42] mattleff opened #1153 "Using tsconfig-paths with Stryker"
### Summary

When using `paths` in `tsconfig.json` the path in the `require` call does not match the file path on disk (see https://github.com/Microsoft/TypeScript/issues/5039#issuecomment-206451221). This can be solved by using https://github.com/dividab/tsconfig-paths which patches Node's module loading to calculate the correct module path using the `tsconfig.json` `paths`. The question is how c

[2018-09-22 12:40] kmdrGroch opened #1154 "Reduce size of Stryker"
We should look for unused packages, or try to replace some of them. Whole stryker - in dev form - weights 1.6GB. Thats really big.
I understand there are other dependencies which have other depe... etc... But still. 260000files and 1.6GB...

[2018-09-22 18:40] simondel commented on #1154
This is the distribution on my machine:
![image](https://user-images.githubusercontent.com/4221997/45920394-ac08ba80-bea3-11e8-967f-0c3921a1ba9f.png)

Could you try a fresh repo to see if you also end up with that size?

[2018-09-22 18:42] simondel commented on #1154
I created #1155 to remove two dependencies.

[2018-09-22 20:30] CheshireSwift opened #1156 "SwitchCase mutation mishandles empty fallthrough cases"
### Summary

When handling an empty fallthrough case, e.g.:

[code]

SwitchCase will raise an unchanged (thus unkillable) mutant which simply removes + readds the `case 'A'` (maybe changing the formatting slightly, but not the semantics).

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node

[2018-09-22 20:46] kmdrGroch commented on #1154
@simondel did you build too? or only `npm install` I was removing folder today and it said "1.6GB"

[2018-09-24 09:51] simondel commented on #1154
Yes, I did an `npm install` and an `npm test` (to ensure the integration tests also had their dependencies installed)

[2018-09-24 11:15] kmdrGroch commented on #1154
Well, ok. Strange then. But as you have already done, we can find and remove dependencies from integration tests (unused dependencies)

[2018-09-24 14:12] kmdrGroch opened #1157 "Configure mocha timeout in package.json"
| Operating System | win10

So i managed to find that issue which is like always.

1) A babel project with the `only` option enabled
       should be able to transpile the input files:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (C:\Users\user\Desktop\stryker\packages\stryker-babel-transpiler\test\integra

[2018-09-24 16:49] nicojs commented on #1157
OK, thanks for reporting. It might take some time, but I'll definitely take a look once I get some time.

[2018-09-24 16:51] nicojs commented on #1156
Thanks for reporting. This is most definitely a bug. It is recently introduced as this is a new mutator. @tommilligan would you mind taking a look? Maybe if you have some time, fixing this issue? Thanks for any feedback you might have.

[2018-09-24 16:52] nicojs commented on #1153
Thanks for reporting. I will take a look once I've got some time. It might take a few weeks though.

[2018-09-24 21:28] Chowarmaan opened #1158 "Test Case loops over constants to do a test. Mutants remain in same tests where others did not"
### Summary
I have some constants defined that I import into my program.  I then have a test case created that has an interface, and the tests in one array structure. When I loop through that array structure, all the tests pass, but Stryker records 1 or 2 lines of mutants surviving, when the test is identical for all lines.  The number of mutants surviving has changed between runs.

### Stryker co

[2018-09-25 12:34] tommilligan commented on #1156
No problem, will put in a fix this evening. Thanks for letting me know

[2018-09-27 18:21] kgwebsites opened #1161 "Inform the user when no mutator plugin is specified"
### Summary

The javascript mutator is not included with `stryker-api` or `stryker`, packages.

After configuring everything, I tried to run `./node_modules/.bin/stryker run` and got this error:
[code]

The main issue is that the npm package `stryker-javascript` as defined in the error, does not exist. It should say `stryker-javascript-mutator`. Once I installed that package, it worked as expected

[2018-09-27 18:30] simondel commented on #1161
Thanks for opening this issue! We expect that most users will setup Stryker using the `stryker init` command. That will most likely ensure that the correct mutator is installed.

As I read it now, you manually configured Stryker, is that correct?

@nicojs how do you think we should handle this case? It may happen more after we remove the ES5 mutator with v1.0

[2018-09-27 21:11] kmdrGroch commented on #1156
@nicojs I think it is ready to close

[2018-09-27 21:11] #1154 closed

[2018-09-27 21:12] #1146 closed

[2018-09-27 21:13] #1079 closed

[2018-10-01 07:01] simondel commented on #740
@nicojs As discussed. This is not yet implemented.

[2018-10-01 07:03] nicojs commented on #740
No it is not. If the port that Stryker has chosen for karma is unavailable, karma will automatically select the next available port. That part works perfect. However, when next Stryker executes `karma run`, it does so using the old port. In other words, the port that karma opens still needs to be fed back to the `stryker-karma-runner`.

[2018-10-01 07:55] simondel commented on #1079
@kmdrGroch is this fixed now?

[2018-10-01 12:44] frostmar opened #1164 "Error when mutating code that uses any-promise"
### Summary
If the code under test uses package [`any-promise`](https://www.npmjs.com/package/any-promise), and registers any promise implementation other than the default, running stryker exits with an error like this:

[code]

This is because any-promise only allows one promise implementation to be registered, and once that's done it cannot be changed. In our case the code under test contains `r

[2018-10-01 12:47] frostmar commented on #1164
The code we're testing isn't in a public repo, but if it'd help I can make a cut-down example which reproduces the problem.

[2018-10-01 13:18] simondel commented on #1164
@frostmar Thanks for letting us know! As a test, could you try to configure the command testrunner?
https://www.npmjs.com/package/stryker#test-runner

[2018-10-01 13:35] frostmar commented on #1164
Yup, swapping the config to `testRunner: 'command'` let stryker run successfully (after I disabled some `pretest` and `posttest` npm scripts which do linting and coverage enforcement for us).

I guess the stryker ChildProcessProxyWorker and code under test are then in separate processes?

[2018-10-01 13:49] simondel commented on #1164
The command test runners runs the command in a separate process if I recall correctly. Other test runners run directly inside the worker (which is already a child process).

So it looks like the dependency inside of stryker is not the issue, but instead the fact that your tests are executed multiple times in the same process.

Is it possible for you to perform a cleanup of the promise functionalit

[2018-10-01 14:43] frostmar commented on #1164
I believe it's a dependency in the stryker worker that leads to the problem, rather than running tests repeatedly.
Hacking `require('any-promise/register/bluebird')` in as the first line of `stryker/src/child-proxy/ChildProcessProxyWorker` lets stryker run OK.

The flow of control is something like:
- stryker spawns ChildProcessProxyWorker.js in a child process
- ChildProcessProxyWorker.js require

[2018-10-01 17:44] simondel commented on #1161
I agree that we should have a check when there is no mutator specified and the stryker-javascript-mutator is not installed so we can throw a more helpful message.

[2018-10-01 17:44] kmdrGroch commented on #1079
I havent seen this bug for some time. I would need to reproduce it to check it, but since we still don't support cross-folder testing, it should be closed for now.

[2018-10-01 19:55] Archcry commented on #1140
Solved in #1165

[2018-10-01 20:04] nicojs commented on #1146
I would like to make 1 folder called `helpers` or `mocks`

I presume you mean that it is duplicated across multiple packages. That is true, and you're right those can be consolidated. Any ideas? The only thing I can think of is having a package called `test-helpers` and make that reusable across the packages.

[2018-10-02 04:29] Archcry commented on #1152
Do you have a repository to reproduce this issue bynany chance. That'll help us to more easily resolve this issue.

[2018-10-02 04:31] Archcry commented on #1156
Closing this issue, when you encounter further problems feel free to reopen.

[2018-10-02 04:31] #1156 closed

[2018-10-02 04:34] Archcry commented on #1120
Jest transpiles the typescript files, could you try running with the typescript compiler turned off?

[2018-10-02 04:53] #1140 closed

[2018-10-02 07:58] kmdrGroch commented on #1146
Ohh it makes sense @nicojs. I haven't thought about it. Maybe package like you said or `stryker-testmocks` / `stryker-mocks` could be cool too.

[2018-10-02 11:51] Chowarmaan commented on #1152
I can create one, but you just need to simply add a test with it.skip() and
expect(true).toBeTruthy() will show the issue.

On Tue, Oct 2, 2018 at 12:29 AM Sander Koenders <notifications@github.com>
wrote:

[2018-10-02 15:17] Archcry commented on #1152
I was able to reproduce this issue with some random jest project I found online. I'll fix it tonight.

[2018-10-02 21:33] tommilligan commented on #621
+1, ran into this issue while running integration tests locally. `angular-project` can hang forever if karma fails to setup properly:

[code]

I'd like to treat this as the more generic case of the `Sandbox.create` function hanging, as we may encounter this with other test runners in future.

[2018-10-03 07:42] #573 closed

[2018-10-03 07:48] #1152 closed

[2018-10-03 16:36] tommck commented on #444
I have a perfect scenario for this: Support for momentjs.

I don't think we want to keep ballooning the size of the default plugins, but it would be nice to be able to just configure support for momentjs `isBefore` `isAfter`, etc.

We _can_ add that to the base, but I see that becoming a maintenance and speed issue over time.

[2018-10-03 21:30] JordyLangen opened #1171 "Karma config not being picked up for the sandbox environment"
### Summary

I've set up an existing project with stryker, and I'm finding difficulties getting it to work. I have one issue in particular. The setup of the project is like this: we have an angular based project which we build with webpack (not the anguar-cli, please don't get me started) and we use karma & jasmine for testing.

When executing `stryker run` I get the follow error message:

I check

[2018-10-03 22:02] Stukongeluk commented on #1080
The result of upgrading to Lerna 3.4.0 and running the scripts defined in the `package.json` didn't result in any errors. (Only a deprecated warning for `commands` in the `lerna.json`).
This is expected, because Stryker isn't using any lerna commands which has had (documented) breaking changes.

How much further do you want to research the new Lerna before it will be used in Stryker? @simondel

[2018-10-04 04:58] simondel commented on #1171
Thanks for opening this issue! What do you see inside of the sandbox folder? Is the file actually there?

[2018-10-04 04:59] simondel commented on #1080
I'd like to test a release that also uses conventuonal-commits on both Windows and Linux to ensure a setup like ours still works (upgrading from Lerna 1 to 2 broke this for a while)

[2018-10-04 06:05] JordyLangen commented on #1171
No the file really isn't copied over to the sandbox directory, even double checked that :sweat_smile:

[2018-10-04 07:20] Archcry commented on #956
It seems like this ain't as easy as we thought it would be, we are using https://github.com/visionmedia/node-progress and it does not support any other format.

As seen in this issue https://github.com/visionmedia/node-progress/issues/63 there have been multiple pull-requests for this but none was accepted.

[2018-10-04 10:14] nicojs commented on #956
Please upvote: https://github.com/visionmedia/node-progress/issues/174

[2018-10-04 16:14] GeneralYouri opened #1172 "Stryker and BigInt notation"
### Summary

Stryker crashes while parsing BigInt notation, such as `4n`.

It looks like stryker-javascript-mutator uses Babel 6, while Babel 7 is required to support such BigInt notation (through @babel/plugin-syntax-bigint).

My project does contain the proper version of Babel, and the proper .babelrc file, but these are ignored. I also tried stryker-babel-transpiler as it lets me explicitly spe

[2018-10-04 16:20] GeneralYouri commented on #1172
I don't see the actual output in the log file, including the error being thrown, so I figured I'd post that here (the stack trace is omitted, it just lists a bunch of Babylon files).

17:58:10 (17192) INFO ConfigReader Using stryker.conf.js in the current working directory.
17:58:11 (17192) INFO InputFileResolver Found 29 of 202 file(s) to be mutated.
17:58:11 (17192) INFO InitialTestExecutor Star

[2018-10-04 16:28] simondel commented on #1172
Thanks for letting us know! We use a submodule of Babel (Babylon, now @babel/parser). This submodule does not support the regular Babel config but instead requires its own config.

We have a branch open which migrates the stryker-javascript-mutator to @babel/parser and that _should_ fix your issue. While migrating I ran into an issue with migrating switch statements, which is why it's not patched

[2018-10-04 16:32] GeneralYouri commented on #1172
Oh that's good news, do you have any ETA on this migration?

Until that's done, I suppose there's no option other than avoidng those files?

[2018-10-04 19:27] nicojs commented on #1080
How do you want to do this? Just try it out and see what it does? (living on the edge!)

[2018-10-04 19:41] simondel commented on #1080
Just like how we tested it for V2, with a demo project

[2018-10-04 20:08] nicojs commented on #1164
@frostmar thanks for spotting this issue and all your hard work!

It is difficult to guarantee a clean environment. One would think you can use fs/mz without side effects... too bad 😓

The most pragmatic thing we can do is just remove mz in it's entirely from our dependencies. @simondel what do you think?

[2018-10-04 23:51] JoshuaKGoldberg commented on #920
FWIW, I'm able to run Stryker without memory leaks by limiting the amount of files to be mutated and mutations to create, but I still see this odd log once in a while:

[code]

[2018-10-05 11:42] simondel commented on #1164
I think we can remove fs/mz, but I believe you had some convincing arguments on why we wanted to use this package instead of the regular fs package. Do you still recall them @nicojs?

[2018-10-05 12:09] simondel commented on #1083
@takuhii Did you have time to look at my last mail? (mailed 2 september)

[2018-10-05 12:12] nicojs commented on #1164
Most definitely. We mostly (only?) use it to get a promisyfied api around `fs`. I would like to start using [fs.promises](https://nodejs.org/dist/latest-v10.x/docs/api/fs.html#fs_fs_promises_api), or [util.promisify](https://nodejs.org/api/util.html#util_util_promisify_original), but those are node 10 and node 8 only (respectively).

The main issue with mz/fs is that it supports `any-promise`, whi

[2018-10-05 15:08] nicojs commented on #1172
@simondel thanks for sharing.

I'm working on a solution using a decorator pattern-like thing. It looks like this:

[code]

Part of the `generateMutants` logic moves to the `AstNodeMutator`. The `CaseSwitchMutator` will be the only mutator to directly implement the `NodeMutator` interface.

I'll work on this more probably this evening.

[2018-10-05 20:44] guilherme-vasconcellos opened #1174 "Ignore Function With Comment"
### Feature: Ignore Function With Comment

Add a comment that ignores a statement from being mutated, added to the coverage and considered in mutation score.

Something like:
[code]

Based on [instanbul ignore code from coverage](https://github.com/gotwarlost/istanbul/blob/master/ignoring-code-for-coverage.md)

[code]

---
### The Problem

I use unit testing for lambda functions, for example, and

[2018-10-05 22:06] legopiraat commented on #1174
Hi, This is an interesting way to exclude mutators!

I understand the reason some wrappers or loggers are not tested. But can you give some more background information on why the deprecated functions are not being tested?

@nicojs what do you think of this suggestion?
Would this also be a good way to exclude methods that give a lot of false positives?

 (Was looking into some ways to exclude mutat

[2018-10-05 23:16] vitfgarcia commented on #1174
In relation to the deprecated functions, we recently started rewriting functions with testing.
The project with this functions is used on other projects as a dependency, so we can't simply delete all old functions.
Since the rewriting process is slow, we wanna be able to evaluate the quality of the new functions without the old ones bringing the mutation score down and without breaking the semanti

[2018-10-06 00:08] nicojs commented on #1172
Wow, that was a lot simpler than expected. Didn't need any of that decorator stuff, as it turns out you simply _can generate code for a single case statement_. See PR #1175, should fix this issue.

[2018-10-06 00:52] nicojs commented on #1174
@guilherme-vasconcellos thanks for opening this issue!

But in general, I think it is a bad idea to use these hidden-to-the-public tactics of increase mutation score / code coverage. It's like saying:

However, I see where you are coming from.  And I agree that, when using it carefully and sparsely, it can be helpful in some cases (you make pretty good arguments in your issue).

The technical way

[2018-10-06 05:58] simondel commented on #1172
Nice find! The docs still say you have to pass an AST instead of a Node so I didn't try that option.

[2018-10-06 06:47] nicojs commented on #1172
A single node is also an AST.

[2018-10-06 07:00] simondel commented on #1172
True, but the V6 generator crashed if you tried to give it a regular Node.

[2018-10-06 07:02] nicojs commented on #1172
Than I'm glad I didn't know that and tried it anyway :+1:

[2018-10-06 08:51] legopiraat commented on #1174
The false positives am talking about is for `stryker4s` specifically, for example, the `indexOf` and `lastIndexOf`. When applied to a list with all unique values they would always produce a false positive mutation.

Maybe something in the line of `/* stryker-mutator ignore: indexOf, lastIndexOf /*` would be a nice way to exclude fine-grained mutators on a function.

[2018-10-06 13:41] JordyLangen commented on #1171
[stryker.log](https://github.com/stryker-mutator/stryker/files/2453068/stryker.log)

[2018-10-06 16:03] #1172 closed

[2018-10-08 00:15] JoshuaKGoldberg opened #1177 "StringMutator replaces single quotes with double quotes"
### Summary

[code]

I'd be surprised if this is actually an issue for anyone, but it'd be nice to use the source string's quotation style.

### Stryker config

From the robobar-example config:

[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             |  9.7.1
| npm              |  6.4.1
| Operating Syste

[2018-10-09 05:14] #956 closed

[2018-10-09 06:41] nicojs commented on #1171
@JordyLangen I think i know what the problem is. I can see that your karma.conf.js file is transpiled by typescript. After transpiling, it no longer resides in the root of your project, instead it is located in tsc-output:
`'C:\\projects\\******-******-app\\dist\\out-tsc\\karma.conf.js'`.

What does your tsconfig.json file look like?

[2018-10-09 06:50] nicojs commented on #1164
I'm trying to remove `'mz'` entirely, but I'm running into some problems.

TLDR;

I thing we should introduce a utility library to the packages.

Long version:

* `'mz'` is used in all plugins.
* there is no good alternative IMHO. You can find a lot of them, but all have issues:
   * They are not maintained
   * and/or they don't have typescript definition files (this is not trivial, it is a lot o

[2018-10-09 06:58] simondel commented on #1164
@nicojs Sounds good!

[2018-10-15 08:28] #1164 closed

[2018-10-15 10:32] nicojs commented on #1157
The test would probably be green the first time as well, if we upped the timeout. The failing tests need more timeout.

 It's difficult to choose correct timeouts at this moment. It is set from within the tests. I want to propose the following:

Remove all `this.timeout(xxxxx)` from code, instead using the [`--timeout` mocha option](https://mochajs.org/#usage). To do this, change up all `npm test`

[2018-10-15 10:37] nicojs commented on #1120
@severen Indeed you shouldn't need the typescript transpiler when using jest. Could you please try without it?

[2018-10-15 10:38] nicojs commented on #1119
I'm closing this issue for now, since we're triaging this issue in #1120

[2018-10-15 10:38] #1119 closed

[2018-10-15 10:41] nicojs commented on #1078
I'm closing this issue, since now have 2 new mutators! (Thanks @tommilligan, @kmdrGroch ). Please report a new issue per proposal from now on (so it is easier for issue tracking) 👍

[2018-10-15 10:41] #1078 closed

[2018-10-15 10:43] nicojs commented on #1084
Yeah, this is the midterm plan. We have our first scoped package here: https://www.npmjs.com/package/@stryker-mutator/util

Current timeline for 1.0 release will be probably something like Februari. Closing this issue for now, since we are using scoped packages.

Thanks for the great idea @philippw !

[2018-10-15 10:43] #1084 closed

[2018-10-15 10:45] nicojs commented on #1133
This is indeed a problem. Good proposal. Looking forward to a PR 👍 😎

[2018-10-15 10:50] nicojs commented on #1177
Although I am sympathetic, I don't see an immediate solution. Maybe someone can take a look.

[2018-10-15 10:53] nicojs commented on #1116
Empty error is already tested with the `StringLiteral` mutator. Do we really need an additional `return` there?

I would feel more for a "throw statement mutator". So `throw` is removed from code. @stryker-mutator/contributors do you agree?

[2018-10-15 11:13] nicojs opened #1189 "Unicode emoji support in the console reporter"
Add unicode emoji support to the console reporter.

For more info, see #975

[2018-10-15 14:13] kmdrGroch commented on #1133
@nicojs should i PR it? Or you will do it on hacktoberfest?

[2018-10-15 14:16] nicojs commented on #1133
Nope, this one isn't claimed yet. You're picking it up?

If you do + want a free T-shirt, make sure you're signing up for hacktoberfest: https://hacktoberfest.digitalocean.com/

[2018-10-15 14:18] kmdrGroch commented on #1133
I can pick it up :slightly_smiling_face:

[2018-10-15 19:20] kmdrGroch commented on #1133
@nicojs this can be closed.

[2018-10-15 19:46] nicojs commented on #1133
Yes it can. Thanks @kmdrGroch

If you add `fixes #1133` in the description it will close this issue automatically when the PR is accepted.

[2018-10-15 19:46] #1133 closed

[2018-10-16 10:04] kmdrGroch commented on #1133
thanks :D

[2018-10-16 17:15] kmdrGroch opened #1191 "Strict typedefing"
In TSlint there is an option to enforce using type definitions everywhere. Now the question is, do you want it, or should it be optional (like it is now).

https://palantir.github.io/tslint/rules/typedef/

for now I'm testing this setup:
[code]
what are your opinions?

[2018-10-16 18:27] nicojs commented on #1072
Let's go with the excluding of directories.

[2018-10-17 12:24] goldbergyoni opened #1193 "Wrong mutants + reports don't show replacement"
Thanks for this amazing framework!

Would like to have your help with the following - After running stryker successfully it tells me that some mutants survived but this seems to be wrong and the HTML reports don't show the replacements (See prtscn). Issue 1 - I don't think there are mutants (very simple code attached). Issue 2 - The reporter shows both survived and killed on the same location and

[2018-10-17 12:31] simondel commented on #1193
Thanks for opening this issue!

Could you click on one of the numbers in the report? such as the green `1` just after the if-statement?
You should see something similar to this:
![image](https://user-images.githubusercontent.com/4221997/47086262-4b0da180-d219-11e8-9f59-e78b1daf59f8.png)
source: https://stryker-mutator.io/robobar-example/reports/mutation/html/services/OrderService.js.html

[2018-10-18 06:28] nicojs commented on #1193
I think @i0natan is referring to the table on the right side. I've noticed too that it doesn't always show the correct code. Weird. For example: mutant 8 in the table.

However, as @simondel explains, clicking on the mutant works well. We should explain that better in the report. Also fix the issue with the table.

[2018-10-18 08:59] nicojs commented on #1191
My opinion is that we shouldn't enforce typedefs everywhere. For example:

[code]

I personally think this is very annoying to maintain. I would rather enable `strict` mode. With at least `noImplicitAny` to ensure we cannot do this:

[code]

@kmdrGroch could you come up with a few examples where you think explicit typedef would help code maintainability?

[2018-10-18 17:11] kmdrGroch commented on #1191
@nicojs I could try enforcing config to require type everywhere where it is necessary - and remove where it is "obvious-type" or sth like that

[2018-10-18 17:12] kmdrGroch commented on #1191
maintainability... it is rather for "everywhere is the same" since in some files you type everything, in other you don't.

[2018-10-20 19:39] roelandvanbatenburg commented on #370
I investigated this, but as far as I can see the object pattern structure has been removed so this can no longer be accomplished. And you can get this behavior by proper glob patterns. So this issue should be closed.

[2018-10-20 19:41] #1072 closed

[2018-10-20 19:48] roelandvanbatenburg commented on #1057
This is resolved and can be closed.

[2018-10-20 20:38] roelandvanbatenburg commented on #1085
I suspect this has something to do with you using node_modules as an anonymous volume. Can you confirm that by temporarily removing that anonymous volume?

I have the node_modules inside my container and no issues.

[2018-10-20 20:54] nicojs commented on #370
True, but same goes for:

[code]

[2018-10-21 18:02] roelandvanbatenburg commented on #370
That is already handled here: https://github.com/stryker-mutator/stryker/blob/master/packages/stryker/test/unit/input/InputFileResolverSpec.ts#L260

Or am I missing the point?

[2018-10-21 18:37] nicojs commented on #370
Wow! Didn't even know it was already implemented. Thanks for pointing it out!

[2018-10-21 18:37] #370 closed

[2018-10-21 18:44] nicojs commented on #1057
Thanks @roelandvanbatenburg

[2018-10-21 18:44] #1057 closed

[2018-10-25 06:39] nicojs commented on #1191
I think a lot of IDE's have the same kind of support.

I understand that this can be frustrating, I myself have also a bit of OCD-like symptoms. Is there a setting where we can enforce explicitly type return values of _public_ functions and _public_ attributes alone? I think there is value in explicitly typing public functions, as you don't want the return type to change without a developer wantin

[2018-10-25 11:19] alexvictoor commented on #1072
I ran into the same issue. I am pretty eager to try the fix on my day job project, hope the next release will come soon :)

[2018-10-25 13:43] kmdrGroch commented on #1191
@nicojs
[code]
only settings like that

[2018-10-25 13:49] simondel commented on #1072
Hi @alexvictoor I just started a release :) Hope this fixes it for you!

[2018-10-25 14:40] f-arruza opened #1202 "Block in execution of Stryker for AngularJS in docker container"
Hello, Can someone please help me with this topic?

I made the configuration of a Docker container that includes Stryker for Angular with the following definition in the DockerFile:
[code]
The source code of the application under test is in the **/webapp** folder, therefore, it is included in the container.
The container is constructed and executed from a docker-compose, with the following definit

[2018-10-25 17:30] simondel commented on #1202
Thanks for opening an issue! Could you please post your karma.conf.js and stryker.conf.js?

Also, what did you set the `logLevel` property to? If it's not `"trace"` could you try running it with that?

[2018-10-25 17:50] simondel commented on #1083
Since we haven't heard from you in a while, we're closing this issue for now.

If you need any help in the future, feel free to let us know!

[2018-10-25 17:50] #1083 closed

[2018-10-25 17:57] simondel commented on #1061
The Open Source Consortium has a baseline definition for licenses for open source software.

Two of these criteria conflict with the JtW license because they are about descrimination:
[code]
Source: https://opensource.org/osd-annotated

Because of this, I don't think we should adopt the JtW license.

[2018-10-25 18:20] nicojs commented on #392
Yeah, let's close this one!

[2018-10-25 18:20] #392 closed

[2018-10-25 19:08] simondel commented on #1106
Hi @eskimoblood is there something we can do to help you with this issue?

[2018-10-25 19:53] f-arruza commented on #1202
Hello, I share the configuration files. Thank you very much for your answer.

[config.zip](https://github.com/stryker-mutator/stryker/files/2516495/config.zip)

[2018-10-25 20:13] simondel commented on #1202
Thanks for the info! Could you take a look inside the container when it's running? Is the node_modules folder symlinked correctly?

Could you also run it with `logLevel: 'trace'`? Perhaps you'll see some more output.

[2018-10-25 20:46] f-arruza commented on #1202
This is the error.
![captura de pantalla 2018-10-25 a la s 3 44 43 p m](https://user-images.githubusercontent.com/21024069/47529316-116a1580-d86d-11e8-82d8-6c7118c8fbd7.png)

[2018-10-25 20:51] f-arruza commented on #1202
The /node_modules folder is linked correctly.

![captura de pantalla 2018-10-25 a la s 3 48 10 p m](https://user-images.githubusercontent.com/21024069/47529559-cac8eb00-d86d-11e8-9931-7218bdae3247.png)

[2018-10-26 01:08] f-arruza commented on #1202
I changed the browser settings and it worked. Thanks for the help.
[code]

![captura de pantalla 2018-10-25 a la s 8 04 51 p m](https://user-images.githubusercontent.com/21024069/47538565-b1399a80-d891-11e8-9534-edc99975f8d6.png)

[2018-10-26 01:08] #1202 closed

[2018-10-26 04:50] simondel commented on #1202
Glad to hear that that helped!

[2018-10-26 08:12] nicojs opened #1205 "Add remark to run again with loglevel trace"
When Stryker crashes, it would be awesome if we could add a remark to run again with logLevel trace (when `fileLogLevel` wasn't already trace). Something like:

Or something like that

[2018-10-26 08:13] simondel commented on #1161
Let's change two things:
1. Add an info log message when no `mutator` property is specified by the user, informing you that we will fall back to the 'javascript' mutator.
2. Change the 'error' message when a mutator plugin cannot be found so it says:
_Could not find a mutant-generator with name javascript, did you install it correctly (for example: npm install --save-dev stryker-javascript-mutator

[2018-10-26 08:18] nicojs opened #1206 "Enable `strictFunctionTypes` tsconfig option"
Enable `strictFunctionTypes` tsconfig option (in the root tsconfig.json file) and fix any build errors that come along.

[2018-10-26 08:20] nicojs opened #1207 "Enable `alwaysStrict` tsconfig option"
Enable `alwaysStrict` tsconfig option (in the root tsconfig.json file) and fix any build errors that come along.

[2018-10-26 08:25] nicojs opened #1209 "Enable `noFallthroughCasesInSwitch` tsconfig option"
Enable `noFallthroughCasesInSwitch` tsconfig option (in the root tsconfig.json file) and fix any build errors that come along.

[2018-10-26 08:28] nicojs opened #1210 "Enable `noImplicitThis` tsconfig option"
Enable `noImplicitThis` tsconfig option (in the root tsconfig.json file) and fix any build errors that come along.

[2018-10-26 08:28] simondel commented on #1157
Just to clarify, this issue is about our own unit tests. We should improve those package.json scripts (and test files) with the fix that @nicojs is suggesting. This should probably be changed in all packages that we have.

[2018-10-26 08:30] nicojs opened #1211 "Enable `noUnusedParameters` tsconfig option"
Enable `noUnusedParameters` tsconfig option (in the root tsconfig.json file) and fix any build errors that come along.

Refactor tip: let's say you have this function:

[code]

You can signal that you don't need the first 2 parameters by using `_`:

[code]

[2018-10-26 08:57] simondel commented on #1124
We're closing this issue for now because we'll add presets in the future and we also have the handbook.

[2018-10-26 08:57] #1124 closed

[2018-10-26 08:58] simondel commented on #1058
We've given this the Pesto label, but we suggest fixing some other typescript related issues in Stryker first to get to know the workflow of working with a mono repo with typescript.

[2018-10-26 09:00] simondel commented on #1061
I've discussed this with @nicojs and we're not adopting the license for now.

[2018-10-26 09:00] #1061 closed

[2018-10-26 09:02] simondel commented on #1049
Adding a mention to the handbook in the generated stryker.conf.js would be nice so you have a reference to documentation.

[2018-10-26 09:05] nicojs opened #1212 "Add documentation to generated stryker.conf.js (stryker init)"
Right now, the `stryker init` command results in a stripped down config file, without any explanation. For example, if you choose "mocha" as your test runner, you'll get an example mocha configuration in your stryker.conf.js, but without any further info. When the `stryker run` command later fails because of miss configuration, you're effectively stuck.

It would be awesome if the command adds the

[2018-10-26 10:52] lucaslago commented on #1211
Taking a look into this :)

[2018-10-26 11:15] simondel commented on #1211
Awesome :) if you need some help, feel free to let us know!

[2018-10-26 11:50] nicojs opened #1213 "Refactor readme layout of configuration options"
The layout of the configuration options of our current main stryker package readme is old fashion. We already started using a new layout for the configuration options in the stryker-mocha-runner package. We should also use that for the stryker package.

For example:

this:

Should become like:

[2018-10-26 14:13] kmdrGroch commented on #1157
yes @simondel I happens sometimes. Like first run after PC reboot

[2018-10-26 22:06] DanielSauve commented on #1210
I'll give this a shot

[2018-10-28 12:06] #1211 closed

[2018-10-28 12:28] #975 closed

[2018-10-28 12:32] nicojs opened #1218 "Add a global config option to enable/disable colors in console"
We should allow people to disable console colors with one setting. Right now, both the clear text reporter and the log4js logger log with colors. Build servers generally don't support colors.

We should add a global config option `allowColors` or `allowConsoleColors`. If that is false, we should not use colors.

I think we should also disable the clear text specific setting for this, or i would li

[2018-10-28 17:33] kmdrGroch commented on #1207
@nicojs have you started working on this? I could try to fix it :)

[2018-10-28 17:47] JoshuaKGoldberg commented on #1218
Sometimes I've found it useful to log a readable format with colors to the console for development, then
a more advanced but non-colored form to a file on disk... but agreed that it definitely doesn't sound like a high priority issue.

[2018-10-28 19:25] kmdrGroch opened #1220 "Inconsitency in testing"
While running code in travis, one test passed (node 6), while second didnt with error:
[code]
details:
https://travis-ci.org/stryker-mutator/stryker/jobs/447486517

[2018-10-28 20:58] kmdrGroch commented on #1220
so should I do a small change in my PR to see if it fails again, or we assume it is working correctly since once of tests passed?

[2018-10-28 23:45] mattacus commented on #1213
Working on it!

[2018-10-29 07:50] nicojs commented on #1218
Would you ever want colors to be written to file? I would suggest to never do that, no text editor supports it, right? Right now, the log4js format chosen for file and console is different precisely to not write color codes to files.

[2018-10-29 22:02] #1210 closed

[2018-10-29 22:14] nicojs commented on #1220
I've restarted the build for node8. Should be green now.

Could we keep the discussion in this issue to the problem at hand? Communication about different PR's can be done in those PR's please 👍

[2018-10-31 23:58] kmdrGroch commented on #1220
@nicojs I posted it as an issue since it happened before as well. Wanted to point that out

[2018-11-01 00:01] kmdrGroch commented on #1209
it was solved in #1217

[2018-11-02 14:59] RobertBroersma opened #1226 "Running Jest with --findRelatedTests"
When running Stryker with Jest, it runs your entire test suite for every mutation. If you have a large test suite this can take quite some time.

Jest has an awesome flag called `--findRelatedTests`, which finds tests related to the file you pass as an arguments. E.g. `jest --findRelatedTests index.js` would only run the tests related to `index.js`. (Often used with [lint-staged](https://github.co

[2018-11-03 15:58] alexvictoor opened #1227 "Analysis crashes with 'too many open files'"
### Summary

When running stryker on my day job project, I get a "too many open files error"
This is a project using Flow (version 0.65). I have tested the config on a small hello world project, it worked fine.

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             | 8.10.0
| yarn

[2018-11-04 09:11] simondel commented on #1227
Hi Alex! Thanks for letting us know. Could you test this using `stryker@0.29.5`? With `0.30.0` we changed the way we do file management and I'm wondering if we broke it with that change or if it was already broken.

[2018-11-04 09:12] simondel commented on #1226
@nicojs What are your thoughts on this compared to doing code coverage analysis? To use this feature, we'll need to let the testrunner know which file contains a mutant.

[2018-11-04 09:52] nicojs commented on #1226
Hmm sounds like a fairly straightforward solution that could speed things up for jest users. We would have to make sure we add integration tests for it. Also: we might need to add it as a confirmation option, as it might result in unexpected behavior, right?

This is the documentation for the feature: https://jestjs.io/docs/en/cli#findrelatedtests-spaceseparatedlistofsourcefiles

@RobertBroersma t

[2018-11-04 11:14] RobertBroersma commented on #1226
@nicojs I suppose the option could be added to the config file, perhaps even supporting the `--bail` flag, which stops jest as soon as a test fails (mutant killed, why kill it again).

I would like to have a crack at it, but I'd need to see if I can get some company time allocated to this, otherwise do it in my spare time. If you could give me some pointers on where to start that would be great!

[2018-11-04 22:34] alexvictoor commented on #1227
Hello again
With stryker@0.29.5 I get a different error  message:
[code]
Let me know if I should bring some other changes in my config

[2018-11-05 14:36] simondel commented on #1206
@nicojs There are two pull requests open for this issue right now, what do you want to do with it?

[2018-11-06 13:55] Mrna1 opened #1229 "SyntaxError: 'import' and 'export' may appear only with 'sourceType: "module"' (8:0)"
Hi all
I am having troubles with babel when I try to run stryker run.
It works fine when I compile my code.

Stack trace: 14:14:11 (23990) INFO ConfigReader Using stryker.conf.js in the current working directory.
14:14:12 (23990) INFO TypescriptConfigEditor Loading tsconfig file /home/frantisek/Perforce/fmanak_workspace/Platform_Solutions/Brno/GLMatching_Mainline/tsconfig.json
14:14:12 (23990) INF

[2018-11-06 14:31] simondel commented on #1229
@Mrna1 Thanks for opening this issue! Could you please give us your current `stryker.conf.js` file, `.bablrc` file and `npm test` command?

[2018-11-06 17:56] wachri opened #1230 "Ran out of memory with large angular application"
### Summary
When running stryker in a large angular application (`Found 2 of 1615 file(s) to be mutated`) with jest I'm getting errors. Before I increased the timeout I only got  a timeout error. After increasing a out of memory error is displayed:

[code]

With the same setup, but when everything except one dummy component is removed, stryker works fine.

Already tried to increase the memory limi

[2018-11-06 18:14] simondel commented on #1230
Thanks for opening this detailed issue! It looks like Stryker crashes during the initial test run. I haven't seen this before. I'll take a more thorough look at your config and logging tomorrow 👍

[2018-11-07 05:48] Mrna1 commented on #1229
Hi, here they are.

stryker.conf.js:
[code]
.babelrc.js

[code]

npm test command:
I do not have any extend command just use Environment variables:
`TS_NODE_COMPILER_OPTIONS={"module": "commonjs", "moduleResolution": "node", "target": "es5"}
`

[2018-11-07 07:10] simondel commented on #1229
Thanks for the info! Right now we don't support babel transpilation with TypeScript. To get Stryker to run anyways you should be able to set `transpilers: ['typescript'],` in your Stryker config.

Could you let me know if that works for you? I'll create a new issue for TypeScript support with Babel (7)

[2018-11-07 07:12] simondel opened #1232 "Support TypeScript projects using Babel"
With Babel 7, you can use Babel together with TypeScript. Our current `stryker-babel-transpiler` plugin does not support this yet because it uses Babel 6.

I would suggest upgrading the `stryker-babel-transpiler` to use Babel 7 internally. This will be a breaking change for projects that use Babel 6 as the transpilation and/or config may be different.

We should also document Babel projects on the

[2018-11-07 07:15] simondel commented on #1227
Unfortunately I'm not able to reproduce this locally.
Could you try downgrading `stryker-api@0.21.4` to `stryker-api@0.21.2`? I just noticed that we also hit that package with our [file system change for any-promise](https://github.com/stryker-mutator/stryker/blob/master/packages/stryker-api/CHANGELOG.md#bug-fixes)

[2018-11-07 09:10] wachri commented on #1230
Thank you. If I can help feel free to add instructions :)

[2018-11-07 09:40] Mrna1 commented on #1229
Thank you it helped, just failed with another issue with bin.js.map, but I will investigate it later.

[2018-11-07 21:56] alexvictoor commented on #1227
I have downgraded stryker-api but I get the exact same error :|

[2018-11-08 09:59] bharaninb commented on #1161
@simondel Currently when no `mutator` is specified, default mutator is `es5`

[2018-11-08 10:37] bharaninb commented on #1157
Working on it

[2018-11-08 15:17] #1205 closed

[2018-11-09 09:04] nicojs commented on #1232
A agree whole heatedly. People using babel 6 can use the old version of the stryker-babel-transpiler (RIP for them poor fellows).

[2018-11-09 09:19] nicojs commented on #1227
This is a strange problem,

The `undefined` part in this log message should be filled with the child processes process id (PID). No wonder that `send` isn't defined on a child process that isn't spawned.

@alexvictoor
Just for debugging sake, could you try to reduce the amount of concurrent test runners? You can do this by setting `maxConcurrentTestRunners` to `1` in your stryker.conf.js file.

[2018-11-09 09:38] wachri commented on #1230
@nicojs using jest has really speed up our tests, especially in the development environment. Already tried this and the jest tests are running fine.

[code]

[2018-11-09 10:03] #423 closed

[2018-11-09 10:59] mnahkies commented on #526
@nicojs is there any chance you could link whatever changes / documentation came out of this issue?

[2018-11-09 11:43] nicojs commented on #526
Sure! For people getting started with angular-cli + Stryker: please see https://github.com/stryker-mutator/stryker-handbook/blob/master/stryker/guides/angular.md

[2018-11-09 12:17] #1161 closed

[2018-11-10 04:31] bharaninb commented on #1046
Working on it

[2018-11-11 11:18] alexvictoor commented on #1227
@nicojs the crash does not happen when maxConcurrentTestRunners is set to 1 (or even 2)...
Looks like a concurrent issue ;)

[2018-11-12 13:55] wachri commented on #1230
It looks like that `--max-old-space-size` is ignored in the child process. When I have a look into my system monitor the process never reaches this. Had tried it on a machine with 32GB RAM and `--max-old-space-size=20000`. The process it self has reached around `5GB` and then it crashes with out of memory.

<img width="569" alt="bildschirmfoto 2018-11-12 um 14 48 43" src="https://user-images.githu

[2018-11-13 06:35] bharaninb commented on #740
@simondel we can get port from karma that they've selected.
[https://github.com/karma-runner/karma/blob/master/lib/server.js#L173](https://github.com/karma-runner/karma/blob/master/lib/server.js#L173)
I am working on updating stryker config after port changes.

[2018-11-13 20:52] #1213 closed

[2018-11-13 20:56] #1046 closed

[2018-11-14 06:17] simondel commented on #1158
What does your Jest config look like?
Mine is:
[code]
But that gives me:
![image](https://user-images.githubusercontent.com/4221997/48463706-48cd4180-e7dd-11e8-92f8-77044c863911.png)

[2018-11-14 07:52] nicojs commented on #1227
Hmm that seems like an old fashion race condition.

This is the piece of compiled javascript code that gives the error:

[code]

The `send` method is here is a pass through to `worker.send`. If send crashes with the given error, that would mean the `child_process.fork` failed somehow. I didn't know that could happen. We should figure out why and harden Stryker for this problem.

Thanks @alexvictoo

[2018-11-14 14:52] Chowarmaan commented on #1158
I have a lot more settings, but mostly due to Code Coverage.

module.exports = {
collectCoverage: true,

// An array of glob patterns indicating a set of files for which coverage
information should be collected
collectCoverageFrom: [
'<rootDir>/src/**/*.ts',
// '!<rootDir>/src/**/*.interface.ts',
'!<rootDir>/src/**/*.mock.ts',
'!<rootDir>/src/**/*.module.ts',
'!<rootDir>/src/**/*.spec.ts',
'!<root

[2018-11-14 16:45] Chowarmaan commented on #1158
I do get an error running with your jest.config.js package.

(WARN) "[jest-config].globals.ts-jest.tsConfigFile" is deprecated, use
"[jest-config].globals.ts-jest.tsConfig" instead. As such, your test suite
fails to run.  However, with the jest configuration I emailed, I do get a
100% pass.

On Wed, Nov 14, 2018 at 9:51 AM Steven Scott <chowarmaan@gmail.com> wrote:

[2018-11-19 10:13] Wmaarts commented on #1079
I have the same issue. Using Karma 3.0.0 gives me the following warning repeatedly:
`11:03:43 (20088) ERROR log4js A worker log process hung up unexpectedly { Error: read ECONNRESET
    at TCP.onStreamRead (internal/stream_base_commons.js:111:27) errno: 'ECONNRESET', code: 'ECONNRESET', syscall: 'read' }`

It doesn't impact functionality it seems: the tests run fine. (so not a breaking issue). And

[2018-11-19 10:49] Wmaarts opened #1242 "npm install fails on stryker project root (thanks to babel__parser dependency)"
### Summary
I followed the instructions in CONTRIBUTING.md

#### Problem: Running 'npm install' fails.

### The problem(?)
'npm-cache/_logs' debug log shows

### Workaround fix :/
In package stryker-javascript-mutator, I changed the package.json.

From:

To:

Which solved the problem.

[2018-11-19 14:09] #1242 closed

[2018-11-21 18:28] nicojs opened #1245 "Stryker logs log4js errors on windows"
See #1038, problem was never solved. You can reproduce it on windows with the robobar example:

[code]

[2018-11-21 20:11] bharaninb commented on #465
Working on it

[2018-11-22 14:21] Djaler opened #1249 "Support for babel.config.js"
### Summary

At the current moment I can only specify babelrc location, but I don't use it in my application

### Add stryker.log
[code]

[2018-11-26 06:49] #740 closed

[2018-11-27 06:56] nicojs opened #1256 "Run mutation testing on each package in a cron job"
We should run mutation testing in each package in a cron build job. with #1255, all CI mutation testing jobs will be disabled. With #677, we could enable the mutation testing badge for all Stryker pacakges.

[2018-11-27 11:57] #465 closed

[2018-11-27 12:06] nicojs commented on #1249
Thanks to you both. We're definitely aware of this and will add support in the near future. Stay tuned.

[2018-11-27 12:52] nicojs commented on #1079
This is fixed with #1246. It is caused by a raise condition in log4js (ironically, it was I that introduced the log message with a PR here: https://github.com/log4js-node/log4js-node/pull/714)

[2018-11-27 15:41] #721 closed

[2018-11-27 16:00] nicojs opened #1257 "Implement new naming of mutators"
We've aligned on naming of the mutators here: https://github.com/stryker-mutator/stryker-handbook/issues/11

It would be awesome if we could implement this in Stryker.

[2018-11-27 16:37] nicojs commented on #1049
Definitely. Thanks!

[2018-11-27 16:37] #1049 closed

[2018-11-27 17:49] bharaninb commented on #809
Working on it

[2018-11-27 19:42] nicojs commented on #809
@bharaninb Cool! If you run into difficulties, let me know. As you probably noticed, I've got some spare time this week, so can react to your requests.

[2018-11-27 19:46] nicojs commented on #1220
Integration tests have been consistent for some time now. Closing this issue. If the integration tests are unstable again, we can always reopen this one, or open a new issue.

[2018-11-27 19:46] #1220 closed

[2018-11-27 20:26] #1245 closed, assigned to nicojs

[2018-11-27 20:29] nicojs commented on #1209
True! Thanks!

[2018-11-27 20:29] #1209 closed

[2018-11-27 21:07] bharaninb commented on #809
@nicojs Thanks. Will let u know.

[2018-11-29 12:04] #1226 closed

[2018-11-29 16:41] #1206 closed

[2018-11-30 09:20] nicojs opened #1261 "Remove prettier as a dependency"
We now use prettier as a dependency of Stryker. The only reason it is there is to format the js file after `stryker init`. This is madness. Every release of prettier results in a larger package, as they support more and more languages. This fine for their use case, namely to be used as a dev-tool. This is not fine for production usage.

However, I don't want to drop support for code formatting all

[2018-11-30 09:24] nicojs opened #1262 "Sport a higher timeout setting when running tests in a cold Sandbox"
### Summary

When running Stryker in an angular-cli project for example, you might get a lot of `timeout` mutants. The reason for this is that running tests in a cold sandbox (a sandbox that didn't run tests before) takes more time. Even though we measure test runner overhead during initial test run it still can result in an unexpected timeout when all sandboxes are starting in parallel.

### Sugg

[2018-11-30 18:20] kmdrGroch commented on #1157
![image](https://user-images.githubusercontent.com/28489774/49307286-f5ddd480-f4d4-11e8-88a5-7aeb9035f0c2.png)
The issue is still present. We should either increase this timeout or fix it other way

[2018-11-30 23:02] nicojs commented on #1157
Hmm.. it seems that `stryker-babel-transpiler` didn't get patched.  Let's reopen it and fix it.

[2018-12-04 10:52] simondel opened #1268 "Stryker init stops after installing stryker"
When executing `stryker init` I noticed that the init exits after installing Stryker, as if I pressed the `enter` button twice when installing:
![image](https://user-images.githubusercontent.com/4221997/49437044-ee5f4980-f7ba-11e8-85f8-340125cf961f.png)
If I run `stryker init` again, I get the questionnaire and I can select a preset.

[2018-12-04 11:41] nicojs commented on #1268
Yeah, noticed this as well... But I think it has to do with Stryker cli, right?

[2018-12-07 01:42] josecolella opened #1271 "Add prettier to development flow"
### Summary

Hello @nicojs , I would like to add prettier to the development flow to ensure that all files are formatted correctly.

Please let me know any specifics before starting on this task, such as single quotes and maximum line length

[2018-12-07 12:14] jameshmread opened #1272 "Stryker does not support multiple projects in Angular 6"
### Summary

Creating a new angular 6 project with `ng new mutation-test`
Installing and running Stryker works fine here. However if you add a library with `ng generate library my-library` it breaks with the following error...
[code]

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node

[2018-12-10 20:58] nicojs commented on #1271
Awesome! Thanks for opening this issue and your offer to help. It is truly appreciated.

How will the workflow work? The way I see it, it could work 3 ways

1, Run as a "prebuild" (or other)
1. Run as a githook every time you commit (prettier shouldn't change functionality, only styling)
1. Configure it in the editor (and document it very well).

We could also combine more of them. Editor support

[2018-12-11 06:07] #1157 closed

[2018-12-11 07:54] simondel commented on #1271
I would also prefer editor support :)

[2018-12-11 08:57] nicojs commented on #1271
I agree, but just editor support is not enough IMHO. I want a way to validate it as well. Don't know exactly what is possible and preferred though.

[2018-12-16 03:33] kmdrGroch opened #1278 "Better warning"
![image](https://user-images.githubusercontent.com/28489774/50049707-8fb79b00-00eb-11e9-84fd-a5feab3f8a7e.png)
[code]

[2018-12-16 08:36] nicojs commented on #1278
Agreed. What error message would you prefer?

[2018-12-16 11:57] kmdrGroch commented on #1278
i think there was a problem that i had to download `stryker-mocha-framework`.
So something like `use npm install --save-dev stryker-mocha-framework`. Just the same kind of error like when you don't have `runner` (i guess)

[2018-12-16 12:08] nicojs commented on #1278
Yeah makes sense. Did you generate this stryker config with `stryker init`?

[2018-12-17 08:45] kmdrGroch commented on #1278
Nope. By hand. And then while running `stryker run` I got that error

[2018-12-19 02:20] kmdrGroch opened #1282 "improve mutators logic(?)"
It is a bit conceptual topic, but I would really love to make stryker "think" a bit more.
I've got piece of code:
[code]
Stryker keeps saying `change >= to >, change > to >=`
Well, from logics point of view, there is no difference between `>=` and `>`. since when these values are equal, `max - min = 0` and so I do not change any variable at all. I hope you know what i mean.

There are dozen proble

[2018-12-19 12:13] kmdrGroch commented on #1278
@nicojs :P
I am really bad at inventing names and error "quotes", so ^

[2018-12-19 12:15] kmdrGroch commented on #1282
Well, I will try to keep you up-to-date, since I'm working on a math project with a bunch of algorithms (everything can happen for Stryker ;P )

[2018-12-19 13:59] kmdrGroch commented on #1282
![image](https://user-images.githubusercontent.com/28489774/50224616-a0dc0280-039e-11e9-834a-07afd2fea0ef.png)
![image](https://user-images.githubusercontent.com/28489774/50224637-a89ba700-039e-11e9-9e17-60c67553afe7.png)
These are errors I have found

[2018-12-19 22:15] Stemirabo opened #1284 "Process Hanging on large project"
### Summary

Hi. I'm working on a fairly large Typescript project (~1000 files, ~half being test files) with ~5000 tests and I'm trying to get Stryker running. When I try to add too many files to be mutated the number of mutants gets to a point that the process seems to just sit there grinding away on nothing for hours. The last output I see on screen is "40055 Mutant(s) generated". The Node proce

[2018-12-20 09:54] Mrna1 commented on #696
Hi, I'm having the same issue on my project.
10:39:04 (14184) ERROR StrykerCli an error occurred { [Error: EMFILE: too many open files, open .....
errno: -4066,
  code: 'EMFILE',
  syscall: 'open',
  path: ....

Do you have any documented solution?

[2018-12-22 00:37] nicojs commented on #1284
Thanks a lot @Stemirabo  for opening this issue. We don't have access to these scale of projects, so this is greatly appreciated.

For starters, could you try to reduce the number of concurrent test runners? For example: `maxConcurrentTestRunners: 2`. It should at least proceed to the next step (showing a progress bar and an ETC), as the initial test run succeeded and Stryker was able to generate

[2018-12-22 21:30] kmdrGroch opened #1292 "typescript perTest issue"
If you use config like this:

[code]
You get error:
15:13:26 (11408) ERROR StrykerCli an error occurred { Error: Source map not found for "C:\Users\19gro\Desktop\BigMath\src\bm.d.ts". Cannot analyse code coverage. Setting coverageAnalysis: "off" in your stryker.conf.js will prevent this error, but forces Stryker to run each test for each mutant.

Example in <https://github.com/kmdrGroch/BigMath> (

[2018-12-23 09:51] nicojs commented on #325
Just a heads up. Stryker recently released with the `'command'` test runner. This is also the default if you don't specify a test runner. It just runs your `npm test` command. Exit code 0 means the tests succeeded. Exit code != 0 means failed. @EvgenyOrekhov would that work for you?

[2018-12-23 10:25] #1051 closed, assigned to nicojs

[2018-12-23 10:48] EvgenyOrekhov commented on #325
@nicojs Sorry, I don't use node-tap or Stryker anymore.

[2018-12-23 11:06] nicojs commented on #325
Ok, please don't forget about us. 👋

[2018-12-23 12:51] nicojs commented on #430
We've just released Stryker 0.34 with the `command` test runner. We now support any test command (although without many performance features). Could this help you @janmulders ?

[2018-12-23 16:32] VincentLanglet commented on #717
@oferRounds No sorry

[2018-12-23 16:44] kmdrGroch commented on #1292
nope. Since it's only declaration file and it's created by typescript automatically. Since i do `tsc -p .` first and then `stryker run`

[2018-12-23 17:33] nicojs commented on #717
I will try to figure out what's wrong before this year is done. Thanks for your patience

[2018-12-24 01:21] kmdrGroch opened #1294 "ERROR StrykerCli an error occurred TypeError: Cannot read property 'length' of undefined"
New version of Stryker throws an error (previous wasn't)

ERROR StrykerCli an error occurred TypeError: Cannot read property 'length' of undefined
at shallowEquals (C:\Users\19gro\Desktop\BigMath\node_modules\stryker\src\input\InputFileResolver.js:63:38)
    at InputFileResolver.resolveMutateFiles (C:\Users\19gro\Desktop\BigMath\node_modules\stryker\src\input\InputFileResolver.js:61:50)
    at Inp

[2018-12-24 10:20] #1294 closed

[2018-12-24 10:20] kmdrGroch commented on #1294
It was my fault, since dependabot didn't update all packages and so there was an issue. It works now though. Sorry

[2018-12-24 10:29] nicojs opened #1298 "Rename "integrationTest" to "e2e""
Right now, we have 2 kinds of integration tests:

1. **Integration tests for a specific package.**
  These tests are located inside a specific package 'test' directory
2. **Overall integration tests.**
  These tests are located inside the "integrationTests" directory.

We should rename one of them, because this is quit confusing. I think renaming "integrationTest" to "e2e" will be the best solutio

[2018-12-24 11:34] kmdrGroch commented on #1298
@nicojs these "global" integration tests should be `e2e` or these "local"

[2018-12-24 11:54] kmdrGroch opened #1299 "another tests timeout"
1) CoverageInstrumenterTranspiler
       when coverage analysis is "all"
         should instrument code of mutated files:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise,
ensure it resolves. (C:\Users\19gro\Desktop\stryker\packages\stryker\test\unit\transpiler\CoverageInstrumenterTranspilerSpec.js)

while running tests sometimes

[2018-12-24 23:15] kmdrGroch opened #1301 "reduce `npm test` time"
We can shrink testing time by reducing `tslinting`
I noticed we are doing sth like:
- lint
- build
- lint
- build
....
- unit tests
- integration tests

We could do:
- lint all / throw error if exist /
- build
- tests

It will reduce development time, since sometimes there is small linting issue in last package, but you have to wait until everything before it is built

[2018-12-24 23:17] kmdrGroch commented on #1301
Also there should be 2 / 3 versions for testing -
- "full testing" just lint, build, test
- "screw lint", just ommit linting (well it is not nessesary since linting is pretty fast)
- "screw build", building is really slow (if you have to run it 10th time, you will notice it...). And just do tests

[2018-12-25 12:54] nicojs commented on #717
I've spent a couple of hours trying to reproduce this issue, but couldn't. I'm not experienced with Jest or React.

Can anyone create a public repo that reproduces this issue? Any help will be much appreciated. We really want these kind of use cases to work before we publish version 1. Thanks in advance ❤️

[2018-12-25 15:56] VincentLanglet commented on #717
I had this old repo https://github.com/VincentLanglet/StrykerTest

But now it give the error :
[code]

[2018-12-26 10:46] nicojs commented on #1299
To be honest, I think this might be caused by starvation of the testing process on your PC. What hardware do you use? If you want, you can up the 2000ms to 4000ms.

[2018-12-26 10:52] nicojs commented on #1301
The TS project references fixes a lot of these issues. It introduces 1 `tsc` command build (improvement of 2 minutes), as well as 1 tslint process.

The main `npm test` command takes a long time because it also runs the e2e tests. Not sure how we can improve performance there.

[2018-12-26 10:54] nicojs commented on #1292
So the workaround is: `mutate: ["src/**/*.ts", "!src/**/*.d.ts"]`. Still Stryker shouldn't break, it should just run all tests if need be.

[2018-12-26 11:15] nicojs commented on #717
Yeah, I get that error as well, with regular tests. Any other reproduction repo? Or can you update it to work again? Sorry, but really can't do much without reproduction steps.

[2018-12-26 11:19] #1298 closed

[2018-12-26 12:35] kmdrGroch commented on #1301
@nicojs I thought about sth like removing all `postbuild` commands from packages (lint commands), and instead of that put one for the whole project on the beginning. I could prepare some PR so you can see what I mean

[2018-12-26 12:40] kmdrGroch commented on #1299
Well, my PC isn't the best one, I3, gtx750, 8ram. I am thinking loudly... Isn't there some way to calculate optimal timeout depending on hardware? Just like it is done with simultaneous processes (3 in my case :ccc).
Also as we are talking about timeouts, When I'm testing my project. I get like 20 timeouts. I dunno if it is caused by my ultra-fast PC or coz it should be like that.
![image](https:/

[2018-12-26 13:58] nicojs commented on #1301
No need. The TS project references branch removed all `build` and `postbuild` steps from all packages. So it fixes this issue IMHO

[2018-12-26 15:09] kmdrGroch commented on #1301
Indeed

[2018-12-26 15:09] #1301 closed

[2018-12-26 16:10] nicojs commented on #1299
@kmdrGroch I just ran Stryker on my hardware on BigMath:

[code]

So 19 timeouts. They are to be expected I think. You can test it yourself, mutate your code, for example on line 46: `if (x === BigInt(0)) {` => ` if (x !== BigInt(0)) {`. Running `npm run build` and `npx mocha test/**/*.js`. Mocha runs into an infinite loop. So that timeout is to be expected.

An I3 is pushing it I think. Lerna run

[2018-12-26 16:24] nicojs opened #1304 "Remove "port" property from Stryker configuration"
The "port" property in Stryker options is a remnant of the past. It is specific to the Karma test runner. Since then Karma supports automatic free port selection. This is also supported by Stryker since #1239 . I think it is time to remove the setting from the config options and `TestRunnerSettings`.

[2018-12-26 19:36] mickaelw commented on #717
@nicojs I have this very light repo: https://github.com/mickaelw/test-stryker

Sorry in advance for iOS and Android folders

[2018-12-26 23:47] Raagh opened #1305 "angular vscode extension based on stryker-karma-runner"
Hey guys, so I am trying to build a visual studio code extension that allows me to easily run angular tests and see outcomes, I found your code online and it might be what I need but I am having trouble to make it work. Basically I need to load angular the angular cli, start karma and run it using a custom reporter. this way I can get the tests and their results and show them in a pretty ui on vsc

[2018-12-27 02:30] kmdrGroch commented on #1304
after you check my PR I can take this issue :) It looks easy

[2018-12-27 09:49] nicojs commented on #1304
Why do I need to check your PR? :) Just work on 2 at a time ☮️

[2018-12-27 10:41] kmdrGroch opened #1307 "TSlint new rules"
I was thinking of changing TSlint config from `recommended` to `all` and then just switch off rules we don't want. I will allow us to check rules faster (we don't need to go and look for rules we want in docs, just see it in action).

It will also help in some progression.

For now I would recommend adding:
- "ban-types": [true, ["String"], ["Number"], ["Boolean"]] - it will force us to use `strin

[2018-12-27 11:05] kmdrGroch commented on #1304
honestly it is much harder than i expected. There are so many `ports` there that i dunno which i can remove which not O,o

[2018-12-27 13:13] nicojs commented on #1307
I agree with most rules. I'm a big fan of the cyclomatic complexity rule and stuff like `no-inferrable-types`. Also, stuff that can be fixed automatically seems like a good idea as well.

The once I don't agree with:

* https://palantir.github.io/tslint/rules/newline-before-return/ - I don't see the point here. Maybe we can create a separate issue for it and a separate PR so we can really see the

[2018-12-27 13:31] kmdrGroch commented on #1307
There is nothing to complain, as you are `member` and `owner` of this package. I am just giving you some idea about it. I also prepared PR with "reverse implementation" of tslint, you might want to take a look. Actually, we don't really need `member-ordering` but I think `newline-before-return` makes a difference in some "crowded" places, so you can really see where you return some value. But it i

[2018-12-27 13:36] nicojs commented on #1307
It's open source, so room for discussion 👍

Yeah, I've taken notice. You can use that branch to implement the rules that we agree on.

After we've implemented the rules that we agree on, you can do a PR specifically for this one rule. That way I can see what the differences are.

[2018-12-27 13:45] Raagh commented on #1305
Hi @nicojs , thanks for anwsering. Yes I am already taking a look at this. My problem is I am not quite sure how I should be running the angular tests programatically. thats my biggest issue the rest I can deal with it. In your code I see that you re invoking the angular cli and then from what i see using karma.runner directly. Could you explain to me how you guys are starting the angular testing

[2018-12-27 13:46] kmdrGroch commented on #1307
We could decide which of these highlighted by me you would like to have and we can make some issues. It will be easier to fix I guess, as long as you don't want me to make 6000changes PR

[2018-12-27 13:51] nicojs commented on #1272
I've tested it out and works fine for me. Closing this issue. If

[2018-12-27 13:53] #1272 closed

[2018-12-27 14:06] nicojs commented on #1305
Sure.

We start angular from this file: https://github.com/stryker-mutator/stryker/blob/master/packages/stryker-karma-runner/src/starters/angularStarter.ts#L15

We're using the kind-of-private api of the angular cli. I tried to make it public here: https://github.com/angular/angular-cli/pull/12499. Unfortunately they didn't want it open.

So basically just use `const cli = require('@angular/cli')`

[2018-12-27 14:14] nicojs commented on #717
@mickaelw I've cloned the repo, but `yarn test` isn't working for me:

[code]

Any ideas?

[2018-12-27 14:37] mickaelw commented on #717
@nicojs yes, I think it's rxjs-tslint dependency. You can remove all ^ in the package.json and re install all package with the good version

Let me know if it's better ;)

[2018-12-27 15:00] jameshmread opened #1311 "Stryker fails to run on an Angular 6 project which has a library."
### Summary
Hello again, it seems to still not work with new versions (as of today).
Related to Issue #1272. Still the same issue.
Stryker fails to run on an Angular 6 project which has a library.

### How to recreate
Create a new cli project with `ng new mutation`
Add a library in the root dir of that project with `ng generate library my-lib`
Install local versions of Stryker `npm install --save-

[2018-12-27 21:04] Raagh commented on #1305
Hey thanks for the great explanation, it was really helpful. I was definitely on the right track. I decided to start from scratch so I can try to make it work. First I am trying to run programatically the same configuration as doing ng test on an actual angular project. So I managed to run the cli command, and it returns exitcode 0.  but I noticed a few things: . If I only run the cli and then try

[2018-12-28 12:54] nicojs commented on #1305
Yes, we start karma and then run multiple times with `karma.runner.run`. However, this static method needs the port of the karma server. This is the method we use to run karma: https://github.com/stryker-mutator/stryker/blob/3a5e65f25c0962078eaccfaa250f16f9dc447d83/packages/stryker-karma-runner/src/KarmaTestRunner.ts#L133-L140

It doesn't give you the test result, only resolves when the run starte

[2018-12-28 13:50] VincentLanglet commented on #717
@mickaelw It's an issue with type in your dependencies.
You ask for types/react 16.7.3 but enzyme is still using types/react 16.4.13 in you yarn.lock.

I made a PR, it's not the best fix but it's enough.
https://github.com/mickaelw/test-stryker/pull/1

@nicojs In this PR, yarn test works for me, but not yarn stryker

[2018-12-28 18:40] nicojs commented on #717
I've been able to reproduce the error without Stryker, just plain jest + react-native. I've opened up an issue at react-native. Hopefully there is a solution. https://github.com/facebook/react-native/issues/22823

[2018-12-28 21:52] VincentLanglet commented on #717
@nicojs Great job ! Thanks

[2018-12-28 22:00] mickaelw commented on #717
Cool! Do you have a workaround?

[2018-12-29 19:35] #1304 closed

[2019-01-01 17:15] VincentLanglet commented on #717
They closed the issue and redirect us to :
https://github.com/facebook/jest/issues/1477
https://github.com/facebook/jest/issues/5356
https://github.com/facebook/jest/pull/7549

It seems to be a jest issue. But if it is, why does this happen with react-native and not react or other libraries @nicojs ?

[2019-01-04 10:42] Raagh commented on #1305
Hey Nico, sorry for keep asking you things. Feel free to start ignoring me at any time.  So I been playing this for the last few days, unfortunately I didn't made success with the cli approach. I tried running the cli as you mentioned, looking at your code and the cli itself but unfortunately nothing happens. It exists with return code 0 but still the ng test command is just not running. I think t

[2019-01-09 17:19] Stemirabo commented on #1284
Thanks for the response. Now that I'm back from holiday I've updated to the latest versions of stryker...
[code]
I also tried lowering the number of concurrent test runners. I tried lowering the number of Concurrent Test Runners and left it run over the weekend. This was with a smaller number of files to be mutated and it eventually made it to the ETC / progress phase. Unfortunately I didn't have

[2019-01-09 17:26] nicojs opened #1315 "Use `oneFailurePerSpec` option in the stryker-jasmine-runner"
When running our jasmine integration tests we see this deprecation warning:

We should address this.

[2019-01-10 17:39] nicojs commented on #1284
I've discussed this case with @simondel . We think the problem is the way we transpile and test the mutants. The process looks like this:

1. Generate all the mutants
2. Transpile each mutant (in a child process)
3. Test each mutant (in a child process)

The problem is that transpiling each mutant is generally a lot faster than testing it. So the amount of work keeps piling up. Each transpile resu

[2019-01-10 22:44] Stemirabo commented on #1284
Here's the trace log file contents for the previous error dump
[code]

[2019-01-11 14:12] Powerade opened #1316 "Problems running stryker with babel 7"
Hello everyone,
I'm having trouble running stryker with babel 7 where it tries to use babel 6? Even though I'm using babel 7

I have the current lib configurations:

[code]

[code]

### Summary
[code]

### Stryker environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             |  11.1.0
| npm              | 6.5.0
| Operating System

[2019-01-11 15:17] Stemirabo commented on #1284
Ok I ran it again with your modified file like you requested. Same output except it spit out: "DEBUG MutationTestExecutor Transpiled mutants: 1. Memory: 2376.39 MB" after the first mutant test run and then the process died/ran out of memory.

Here's the full logfile:
[code]
Here's the console dump:
[code]

[2019-01-12 13:20] nicojs commented on #1278
I don't want to put additional information about specific Stryker plugins in the Stryker core. Any other suggestions?

[2019-01-12 13:43] kmdrGroch opened #1318 "problem while running tests in travis"
<https://travis-ci.com/kmdrGroch/BigMath/jobs/169979295>
While running same code on my local machine i have no issue, but on travis it says:
[code]
It is strange

packages:
[code]

[2019-01-17 09:00] nicojs commented on #717
@VincentLanglet you're closing this issue, is it fixed for you?

I don't know why only react-native is effected by this.

[2019-01-17 09:40] VincentLanglet commented on #717
@nicojs Since it's a react-native/jest issue, I was thinking a stryker issue was not necessary.

[2019-01-17 09:50] nicojs commented on #717
Ok, in that case I would like to keep this issue open for now, so we don't lose track of it.

The good news is that a lot of people seem effected. So hopefully, it will be fixed soon.

As a workaround, I guess you [_could specify files_](https://github.com/stryker-mutator/stryker/tree/master/packages/stryker#files-string) and [_disable symlinkNodeModules_](https://github.com/stryker-mutator/stryke

[2019-01-25 19:43] nicojs opened #1334 "Support `--build` compiler option for typescript projects"
We're currently not support the `--build` compiler option for typescript projects.

Reproduction steps:

[code]

[2019-01-26 11:53] nicojs commented on #1334
Apparently, the TS team didn't open the compiler API for the `--build` option yet:

https://github.com/Microsoft/TypeScript/blob/fa74cef81e488c8e5bf790020620f0226118cb58/src/compiler/tsbuild.ts#L2

@sheetalkamat Is it OK to ask a question? Since you were the one to add the `@internal` flag. Is there a timeline for this? We would love to support projects being build with `--build`.

[2019-01-26 21:42] nicojs opened #1336 "Add performance tests"
We should split up our build in multiple stages and make sure running performance tests is one of them. We can start with a simple performance test and build it out over time.

[2019-01-28 07:45] Mrna1 opened #1342 "Strykers detect TranspileError only"
Hi Everyone,
thank you for the great framework. I will be very glad if you help me with my issue.
I have got thru issues, but I did not find an answer. :(

I set my Stryker, but it accepts TransspileError only.

My config:
`
module.exports = function (config) {
    config.set({
        coverageAnalysis: "off",
        files: [
            "test/**/*.ts",
            "src/common/fn.ts",
        ],

[2019-01-28 09:08] nicojs commented on #1342
If your project is open source, could you please share the URL?

[2019-01-28 10:55] Mrna1 commented on #1342
Hi nicojs,
thank you for the quick answer.

Because it is not open source I could not provide you original logs. But I took all the setting and one file name fn.ts and put to a new project. Now I'm not able to reproduce the timeouts. But The second option is still present. It looks like I had two problems in one :)
[stryker.log](https://github.com/stryker-mutator/stryker/files/2802575/stryker.log)

[2019-01-28 11:24] VincentLanglet opened #1343 "Use of .env/.env.test file"
### Summary

I'm using a react application from "Create react app", I have variable in .env file, called 'REACT_APP_SOMETHING. When i use jest, test pass.  When I use stryker, they don't. It seems like the .env.test and .env are not loaded because when I console.log the variable expected, it's undefined.

### Stryker config

[code]

### Stryker environment

[code]

[code]

[2019-01-28 11:31] VincentLanglet commented on #1343
`env-cmd .env.test stryker run` is a solution

[2019-01-29 06:05] Mrna1 commented on #1342
@nicojs Thank you very much.
if you want I can remove all company dependencies and send the project to your email.

[2019-01-30 07:17] nicojs commented on #1342
@Mrna1 sending me the project via email would be great, I can help you most effectively that way.

I've changed the MutationTestExecutor file locally and compiled it to TypeScript. It now should log transpile errors at debug level. Could you replace your `node_modules/stryker/src/process/MutationTestExecutor.js` file with this one:
[MutationTestExecutor.zip](https://github.com/stryker-mutator/stry

[2019-01-30 08:57] Mrna1 commented on #1342
@nicojs: Hi here are the logs. I will send you the project to email. It will be better.
[stryker.log](https://github.com/stryker-mutator/stryker/files/2811701/stryker.log)

One more time, thank you for help.
Franta

[2019-01-30 10:38] nicojs commented on #1342
Thanks for sending. I've debugged and finally found the issue. It has to do with your setup.

You can fix it in 2 ways,

1. Use relative imports: `import * as SUT from "../../../src/common/fn";` instead of `import * as SUT from "@common/fn";`,
2. Add `tsconfig.json` to the files array in your stryker config, remove the `"outDir"` from your tsconfig.json file and change `files: "dist/test/spec/**/*

[2019-01-30 10:39] nicojs commented on #1342
Also: all transpile errors are errors that are expected. So no problems there

[2019-01-30 10:42] nicojs commented on #1342
Maybe we should support a relative NODE_PATH environment variable. So you can use magic imports like `@common/fn` (but without the magic of tsconfig-paths). More info on `$NODE_PATH`: https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders

[2019-01-30 11:16] Mrna1 commented on #1342
@nicojs: Thank you for the help. It is working now.
The second part was my fold. I wrongly removed dist from the paths.
About paths: Our platform supports ES5 only so we have to transpile ts to js. There is no other way.
I would be glad for support of a relative path. I can not remove it from our project.

I will probably modify the relative path just to check the tests but unfortunately cannot im

[2019-01-30 13:13] nicojs commented on #1342
@Mrna1

That's not allowed! We've come this far 😄 I'll help some more

The problem is with tsconfig-paths. I've created an issue over there:
https://github.com/dividab/tsconfig-paths/issues/75

I've also created a workaround. With this, you **don't have to alter any source files**:

Add this file in the root of your project:

[code]

Update your stryker config:

[code]

That should do the trick

I

[2019-01-30 13:18] nicojs commented on #1342
Unfortunately, it is impossible to disable loading the mocha.opts file at the moment (which is what is needed for your use case). I want to fix that in the branch created for the transpiler logging.

As a workaround, I've pointed the mocha.opts file to `"none"`. This results in an error being logged, but Stryker will run fine, so you can at least already start using.

[code]

[2019-01-31 05:41] Mrna1 commented on #1342
Great thank you, It's working now. I wanted to do a similar thing, but you did it for me.
You are my hero 💃, can close the issue if you want.

Franta

[2019-01-31 08:13] nicojs commented on #1342
Thanks for the kind words 😅 . Let's fix the 2 cosmetic problems in Stryker before closing this issue (PR #1345)

[2019-02-04 11:51] donotello opened #1346 "Not able to run stryker with coverageAnalysis perTest (Angular, Typescript, Jasmine)"
### Summary

Hi guys,

I'm trying to set up stryker with our angular application but since the project is pretty big I want to enabled `coverateAnalysys` per test. I've tried several options - no luck so far. Would really appreciate if you can help.

Per [`stryker-handbook`](https://github.com/stryker-mutator/stryker-handbook/blob/master/stryker/guides/angular.md#angular):

At the same time lookin

[2019-02-05 06:33] nicojs commented on #1346
Hi @donotello thanks for opening an issue. Support for coverage analysis on angular projects is something we're looking into for the mid-term. First we want to release 1.0. We'll be doing that these next 2 weeks. I hope we can draw a roadmap for coverage analysis support for all configurations (not just angular) after that (together with @simondel and @Archcry). I'll provide an update here, once w

[2019-02-05 08:41] donotello commented on #1346
Hi @nicojs, thank you for a quick reply.

It would be really great to have it. My first run during PoC took ~ 8 hours (6902 mutants on 153 files, 618 tests, 4 runners) which is too much. Will keep an eye on this thread.

[2019-02-05 08:49] nicojs commented on #1346
We're actually looking into multiple performance improvements and want to combine them, including [mutation switching](https://stryker-mutator.io/blog/2018-10-6/mutation-switching) which can be huge for Angular projects. Will make them more in line with performance on node test runners.

For now, you could limit the nr of files to mutate, or split your angular project into multiple libraries (`ng

[2019-02-05 10:06] vpanichkin commented on #1316
Working with this configuration:
    "babel-core": "^7.0.0-bridge.0",
    "@babel/cli": "^7.0.0",
    "@babel/preset-flow": "^7.0.0",
    "@babel/preset-env": "^7.3.1",
    "babel-jest": "^24.0.0",
    "@babel/core":"^7.2.2",

[2019-02-05 13:36] vpanichkin opened #1350 "Jest v24 with Flow failed to execute by Stryker"
### Steps to reproduce:

1) Install Jest v24.0.0
2) Run stryker

After updating Jest, **babel-preset-flow** stop working while patching the babel by striker.

My observations:
1)  I have tried updating to babel@7.0.0-bridge.0, although it haven't solved an issue.
2)  Moreover, unit-tests that are run with jest directly are transpiled properly with **babel-preset-flow** and work without any problem

[2019-02-05 13:48] wips commented on #1350
Yep, we're having the same issue

[2019-02-06 11:54] nicojs opened #1362 "Support react-scripts-ts?"
It seems that react-scripts-ts is no longer needed for typescript enabled react applications. More info here: https://vincenttunru.com/migrate-create-react-app-typescript-to-create-react-app/

Running jest 24 results in a failing test on windows:

[code]

I've created a small reproduction repo here: https://github.com/nicojs/jest-run-cli-windows

I have no clue why this happens, but this is the ca

[2019-02-07 06:42] nicojs commented on #1350
Thanks for reporting. Our babel transpiler plugin is still on v6. Migrating it now. We'll probably be doing a release later this week/next week so we should be able to sneak v7 support in there. 👍

[2019-02-07 12:55] Saro-DA opened #1367 "How to load init script before Stryker run"
Hi. I have one init script which is required to load some env variables before executing mocha. Here's that script in my package.json.

...
"test": "nyc mocha -r ./tests/setup-mocha.js --recursive tests/unittests/**/*.test.js --exit",
"test-stryker": "mocha -r ./tests/setup-mocha.js tests/unittests/schemas/someSchema.test.js --exit",
...

Now that I want to run Stryker, this setup-mocha.js is not

[2019-02-07 14:11] nicojs commented on #654
Additional stuff to do:

* Rename packages:
 - `stryker` => `@stryker-mutator/core`
 - `stryker-xxx-yyy` => `@stryker-mutator/xxx-yyy`
 - `stryker-jasmine` => `@stryker-mutator/jasmine-framework`
 - `typescript` => `@stryker-mutator/typescript`

* Remove all deprecated apis/messages/etc
* Update plugin loader to load plugins from `@stryker-mutator` (instead of `stryker-`)
* Enable lerna versioning

[2019-02-07 14:17] nicojs commented on #365
I'm closing this issue. It's still a nice-to-have, but we don't want to invest time in this a.t.m.

[2019-02-07 14:17] #365 closed

[2019-02-07 14:20] nicojs commented on #1336
This issue is fixed with #1360

[2019-02-07 14:20] #1336 closed

[2019-02-07 15:37] nicojs commented on #1367
Hi @Saro-DA thanks for opening an issue.

Your config looks fine to me. Could you give some more info?

* Does `npm run test-stryker` work as expected?
* Does it also work if you run it from inside the sandbox directory?
  The sandbox directory can be found in the `.stryker-tmp` folder. You should be able to just run `npm run test-stryker` from there as well

[2019-02-07 16:06] Saro-DA commented on #1367
Hi @nicojs. Thanks for replying.

Yes it does work as expected. And even the `Stryker run` works fine if I manually set those environment variables inside my `*.test.js` files.
Inside my `setup-mocha.js` file, I'm using `dotenv` module to load environment variables from a config file. And the issue seems to be that this module is not able to do that when is executed with 'Stryker run'. It works fi

[2019-02-08 11:28] #667 closed

[2019-02-08 13:11] #1316 closed

[2019-02-08 13:25] nicojs commented on #1316
Thanks for reporting. I just released babel 7 support in the `stryker-babel-transpiler`.  Please let us know if there is any issue.

`npm i -D stryker@0.25 stryker-api@0.24 stryker-babel-transpiler@0.10`

[2019-02-11 07:56] simondel commented on #650
I'll get to work on this 👍

[2019-02-11 07:57] simondel commented on #578
We've had the plugins for a while now. Since Stryker has changed a lot since then, I'm closing this issue for now. If people have issues running Vue projects, please open a new issue.

[2019-02-11 07:57] #578 closed

[2019-02-11 07:58] simondel commented on #662
@nicojs Can this be closed?

[2019-02-11 07:58] simondel commented on #1058
@nicojs Can this be closed?

[2019-02-11 07:59] simondel commented on #920
@nicojs is working on this :)

[2019-02-11 08:00] simondel commented on #173
@nicojs Stryker will now suggest rerunning when it fails unexpectedly. Can we close this?

[2019-02-11 12:00] simondel commented on #1257
@nicojs Would you like to do this for v1 as well?

[2019-02-11 12:12] simondel commented on #650
As discussed we won't do this right now.

[2019-02-11 12:14] simondel commented on #662
Yes :) this is available. You can read up on it in this blog: https://stryker-mutator.io/blog/2018-12-24/anouncing-stryker-0-34

[2019-02-11 12:14] #662 closed

[2019-02-11 12:14] simondel commented on #1058
Yes, we have this.

[2019-02-11 12:14] #1058 closed

[2019-02-11 14:32] rabomarnix opened #1379 "TS compilation error: could not find module"
### Summary

Whenever I use my tsconfig file with `"outDir": "dist"`, stryker errors out with a typescript error:
[code]
[code]

When I remove the `outDir` config, it will run fine without errors.

### tsconfig
[code]
_When I add `"test"` to `"include"`, mocha cannot find tests anymore._

### mocha.opts
[code]

### Stryker config

[code]
_Removing `"!src/index.ts"` does not make a difference._

##

[2019-02-12 00:18] kmdrGroch commented on #1318
Stryker has some real problem on travis, and i would be grateful if you come up with an idea, solution to it, or i will have to remove this package from the project. <https://travis-ci.com/kmdrGroch/BigMath/jobs/176948416>
apparently, it is looking for non-existing variables? how does it mutate files to create such an issue (it works on my local machine, that's the biggest problem)

[2019-02-12 10:57] nicojs commented on #1379
Hi Marnix. Could you try to remove the typescript transpiler from your stryker configuration? Your not transpiling your code before you run your unit test. Instead, you're relying on `ts-node` to just-in-time transpile it for you.

[2019-02-12 11:18] simondel commented on #1125
We're closing this issue for now.

[2019-02-12 11:18] #1125 closed

[2019-02-12 11:27] #920 closed

[2019-02-12 11:28] nicojs commented on #920
This issue should be fixed with #1376. We'll be releasing a version later today. I'll notify here when it is released

[2019-02-12 11:29] Powerade commented on #1316
Still not working.

"stryker": "^0.25.1",

"stryker-api": "^0.24.0",

"stryker-babel-transpiler": "^0.10.0",

"stryker-cli": "0.2.0",

"stryker-html-reporter": "^0.17.0",

"stryker-javascript-mutator": "^0.13.0",

"stryker-jest-runner": "^1.3.0",

"@babel/preset-env": "^7.3.1",

"@babel/core": "^7.2.2",

`11:25:38 (27036) WARN PluginLoader Error during loading "stryker-babel-transpiler" plugin:

[2019-02-12 12:14] rabomarnix commented on #1379
Hi Nico,
Thank you for your reply. When I set `transpilers: []` I get the following error:
[code]

[2019-02-12 12:23] nicojs commented on #1379
Yeah, we don't support `coverageAnalysis` for TypeScript code without a transpiler. Please set `coverageAnalysis` to `'off'` and try again.

[2019-02-12 12:31] #799 closed

[2019-02-12 12:33] rabomarnix commented on #1379
Awesome, it works! Thank you.

[2019-02-12 12:33] #1379 closed

[2019-02-12 17:14] nicojs commented on #1379
Cool ✌

If you want to enable `coverageAnalysis` you could try to add the typescript transpiler back and configure it correctly. The first step would be to use that for normal unit testing as well (so no `ts-node` magic).

[2019-02-12 17:16] nicojs commented on #1350
Hmm could you try this again? I was too quick to draw conclusions. I think we should update our `javascript-mutator`. @simondel  what do you think?

[2019-02-12 17:20] nicojs commented on #1367
Aha, I think that is your smoking gun. Is your `.env` file included in the list of files inside sandboxes?

To see that, run `npx stryker run --logLevel debug` and look for: `18:19:11 (8560) DEBUG InputFileResolver All input files: [`

There, all files are listed. Is your `.env` one of them?

[2019-02-12 20:51] nicojs commented on #920
We've just released stryker@0.35.1, @nosideeffects and @JoshuaKGoldberg  if you want, you can try it out.

We'll be releasing 1.0 tomorrow, so you can wait for that as well

[2019-02-12 20:52] JoshuaKGoldberg commented on #920
Oh, congrats on the 1.0 @nicojs & team!

I no longer have access to the repository that demonstrated issues here... but @ian-craig might be interested... 😉

[2019-02-13 10:06] simondel commented on #1080
@nicojs sneaked this in somewhere.

[2019-02-13 10:06] #1080 closed

[2019-02-13 11:59] nicojs commented on #173
It might we worth it to introduce a `--runInBand` flag (like [jest's --runInBand](https://jestjs.io/docs/en/cli.html#runinband)).

If anyone wants this feature, please comment here, so we can reopen it.

[2019-02-13 11:59] #173 closed

[2019-02-13 13:13] simondel commented on #243
Since we've had this issue open for almost two years now, we're closing this issue. It should be possible to run your project using the command test runner. More info on that can be found here: https://stryker-mutator.io/blog/2018-12-24/anouncing-stryker-0-34

**Note:** We've recently released v1 of Stryker. So the commands to update Stryker in that blog are a bit outdated. If anyone runs into any

[2019-02-13 13:13] #243 closed

[2019-02-13 13:15] simondel commented on #256
The reporter API is public so it's possible to add this as a plugin. We're closing this issue for now. If anyone wants to pick this up and needs help, let us know!

[2019-02-13 13:15] #256 closed

[2019-02-13 13:17] simondel commented on #276
We're closing this issue for now. In the future we will revamp the way we mutate and test code to speed up performance.

Feel free to work on this if anyone wants to, but let us know so we can help you where needed.

[2019-02-13 13:17] #276 closed

[2019-02-13 13:18] simondel commented on #291
@nicojs unfortunately not :(

I'm closing this issue for now. We've recently released Stryker v1 and made a lot of changes. If we see this issue with v1 as well. We'll look at it.

[2019-02-13 13:18] #291 closed

[2019-02-13 13:18] simondel commented on #295
This is something we'll do in the future. We'll create a separate issue for it and close this one for now.

[2019-02-13 13:18] #295 closed

[2019-02-13 13:27] simondel commented on #366
With mutation switching this will be less relevant so I'm closing this issue for now.

[2019-02-13 13:27] #366 closed

[2019-02-13 13:28] simondel commented on #395
As we have no clear way to show the coverage combined with the mutation report, I'm closing this issue for now. If anyone has a good idea on how to do it, let us know!

[2019-02-13 13:28] #395 closed

[2019-02-13 13:28] simondel commented on #397
We've changed this a lot since the issue was first opened so I'm closing this issue for now.

[2019-02-13 13:28] #397 closed

[2019-02-13 13:29] simondel commented on #430
As mentioned, we have the command test runner. We're open to supporting intern properly in the future if someone wants to help (and if the demand is there).

[2019-02-13 13:30] simondel commented on #439
We've made changes to the reporter and config recently which makes this issue obsolete right now in m opinion. I'm closing this issue.

[2019-02-13 13:30] #439 closed

[2019-02-13 13:33] simondel commented on #548
As discussed, I'm closing this issue as we don't think we'll work on it in the near future. It is, however, something we would like to have.

[2019-02-13 13:33] #548 closed

[2019-02-13 13:34] simondel commented on #551
We have the handbook with example configuration: https://github.com/stryker-mutator/stryker-handbook

Our quickstart has also improved a lot in the past few months. I'm closing this issue for now.

[2019-02-13 13:34] #551 closed

[2019-02-13 13:35] simondel commented on #557
We won't add this ourselves in the near future so I'm closing this issue for now. If you (or someone else) wants to build this, let us know!

[2019-02-13 13:35] #557 closed

[2019-02-13 13:37] simondel commented on #696
We've recently changed the way we load files. If this issue is still present with Stryker v1 (`@stryker-mutator/core` and friends), let us know and we'll reinvestigate!

[2019-02-13 13:37] #696 closed

[2019-02-13 13:38] simondel commented on #1106
We're closing this issue for now. Feel free to open it if you still have it with Stryker v1

[2019-02-13 13:38] #1106 closed

[2019-02-13 13:39] simondel commented on #1096
We're closing this issue for now as both Angular and Stryker have been updated quite a bit. If it's still a problem, let us know!

[2019-02-13 13:39] #1096 closed

[2019-02-13 13:57] simondel commented on #607
Since Stryker has changed a lot in the past year, I'm closing this issue right now. If you still have the issue with the latest version of Stryker (`@stryker-mutator/core^1.0.0`), please let us know!

[2019-02-13 13:57] #607 closed

[2019-02-13 13:59] simondel commented on #670
We'll change the way we do coverage analysis in the future so I'm closing this issue for now.

[2019-02-13 13:59] #670 closed

[2019-02-13 13:59] simondel commented on #658
We've unfortunately missed this issue :( I'm closing it for now. If It's still present in the v1 release of Stryker, let us know!

[2019-02-13 13:59] #658 closed

[2019-02-13 14:03] simondel commented on #825
@nicojs mentioned that the cores should now be reported as '2' by Travis. I'm closing this issue for now.

[2019-02-13 14:03] #825 closed

[2019-02-13 14:06] simondel opened #1402 "Stryker init finds 0.x and 1.0 plugins"
The `stryker init` command finds both the 0.x and 1.0 plugins. It should only find the 1.0 plugins.

[2019-02-13 14:17] simondel commented on #1230
@wachri Could you try this with the latest version of Stryker? We've made some changes yesterday that may fix this.

We've released v1 today. If you want we could help you migrate to that version as well. As of right now, it contains no new features compared to the latest 0.x release.

[2019-02-13 14:18] simondel commented on #1230
PS sorry for being so slow to respond :( 🐌

[2019-02-13 14:20] simondel commented on #933
@nosideeffects Do you still have plans to implement this? Else we'll close the issue until someone wants to pick it up.

[2019-02-13 14:21] simondel commented on #1085
Sorry for not responding to this! We're closing this issue for now as we've made a lot of changes recently. If the issue still appears in the latest version of Stryker, could you let us know?

[2019-02-13 14:21] #1085 closed

[2019-02-13 14:21] simondel commented on #1095
We're closing this issue for now. If it's still present in the latest version of Stryker, let us know!

[2019-02-13 14:21] #1095 closed

[2019-02-13 14:23] simondel commented on #1249
We have Babel 7 support now, so we can start to do this 🎉

[2019-02-13 14:25] simondel commented on #1284
This may be fixed with the latest release. Could you try to upgrade to the latest v0.x release of Stryker?

[2019-02-13 15:02] simondel commented on #1120
As mentioned you don't need the typescript transpiler. We're closing this issue for now. If it still persists with the latest version of Stryker, please let us know!

[2019-02-13 15:02] #1120 closed

[2019-02-13 15:03] simondel commented on #1109
I'm closing this issue for now. If you need any help from us, let us know!

[2019-02-13 15:03] #1109 closed

[2019-02-13 15:04] simondel commented on #1174
We don't have plans to support this in the near future, so we're closing this issue for now.

[2019-02-13 15:04] #1174 closed

[2019-02-13 15:06] simondel commented on #1229
I'm closing this issue for now. We have a separate issue to track TypeScript support with Babel. We do have Babel 7 support, so this may already work.

[2019-02-13 15:06] #1229 closed

[2019-02-13 15:08] simondel commented on #1177
I've looked at this and I think it's more effort to fix it than the value it delivers when we fix it. I'm closing this issue for now. If it turns out this is a problem for people, we'll look at it! (Good to know that we have this issue at least!)

[2019-02-13 15:08] #1177 closed

[2019-02-13 15:09] simondel commented on #356
As we haven't heard anything about this so far, I'm closing this issue. If it's still a problem, let us know!

[2019-02-13 15:09] #356 closed

[2019-02-13 15:10] simondel commented on #336
We're closing this issue for now. If someone wants to fix this, let us know!

[2019-02-13 15:10] #336 closed

[2019-02-13 15:11] simondel commented on #418
We're closing this issue right now. If we wanted to do this, we would have done it already.

[2019-02-13 15:11] #418 closed

[2019-02-13 15:12] simondel commented on #457
We have no plans to support this use case right now, so I'm closing this issue.

[2019-02-13 15:12] #457 closed

[2019-02-13 15:12] simondel commented on #466
As a workaround is available, I'm closing this issue for now.

[2019-02-13 15:12] #466 closed

[2019-02-13 15:14] simondel commented on #580
Since no-one has shown interest in this for a while, I'm closing this issue. If someone still wants to do it, let us know!

[2019-02-13 15:14] #580 closed

[2019-02-13 15:15] simondel commented on #677
I think we have a separate issue for this, so I'm closing this issue.

[2019-02-13 15:16] simondel commented on #1123
We'll be reworking the way we check for errors in the future so I'm closing this issue for now.

[2019-02-13 15:16] #1123 closed

[2019-02-13 15:23] simondel commented on #1346
I'm closing this issue for now as it may take a while for us to rewrite the coverage analysis and we'll have a separate issue for it.

[2019-02-13 15:23] #1346 closed

[2019-02-13 15:24] simondel commented on #1343
Glad to hear that you've found a solution! I'm closing this issue for now.

[2019-02-13 15:24] #1343 closed

[2019-02-13 15:24] simondel commented on #1367
#1343 might be a duplicate of this issue. It contains a workaround.

[2019-02-13 15:29] simondel commented on #1262
We start two sandboxes in parallel right now. I believe this fixes the issue. If that's not the case, we'll revisit this issue.

[2019-02-13 15:29] #1262 closed

[2019-02-13 15:30] simondel commented on #965
I believe this is implemented with this PR: https://github.com/stryker-mutator/stryker/pull/1235

I'm closing this issue for now. If the problem is still there, let us know!

[2019-02-13 15:30] #965 closed

[2019-02-13 15:31] simondel commented on #1116
I think this is fine as it is right now.

[2019-02-13 15:31] #1116 closed

[2019-02-13 15:32] simondel commented on #1153
We've somehow forgot to look at this, sorry :(

Since Stryker has changed a lot recently, I'm closing this issue. If the problem still persists with the latest version of Stryker, please let us know!

[2019-02-13 15:32] #1153 closed

[2019-02-13 15:54] wachri commented on #1230
@simondel  thank you for you response :).
I tried it out with the same result. Please see the attached file log file:
[stryker.log](https://github.com/stryker-mutator/stryker/files/2861055/stryker.log)
If i can do more please let me know :).
[code]

and
[code]

[2019-02-13 15:59] simondel commented on #963
If you don't want to test this, you could exclude string mutations all together.

[2019-02-13 15:59] #963 closed

[2019-02-13 16:02] nicojs commented on #928
I've not implemented my suggestion (which is still a great suggestion, I don't want to piss past Nico off), but I've implemented an improved default regex:

[code]

If someone still wants to implement this, go ahead. For now, we're closing this issue in order to keep things tidy.

[2019-02-13 16:02] #928 closed

[2019-02-13 16:24] simondel commented on #1230
Thanks for testing this! Would it be possible for you to share the code or create a reproduction app?

Also, what happens after the memory leak errors? Does Stryker continue and report it for every mutant?

[2019-02-13 17:38] nicojs commented on #1318
This is a very strange issue. I was able to reproduce it with big math on a Linux VM (any Linux VM seems to do the trick).

The bitOperations.js file gets transpiled to:

[code]

The last line is the issue. There should be `//# sourceMappingURL=bitOperations.js.map` on that line, but apparently, that isn't the case.

More investigation is needed...

[2019-02-13 18:34] kmdrGroch commented on #1318
@nicojs I guess it can be an issue Ill make a PR and try see if it works

[2019-02-13 20:00] nicojs commented on #1318
My first thought was the typescript transpiler plugin in `@stryker-mutator/typescript` ;)

[2019-02-13 20:05] nicojs commented on #430
@mthmulders, feel free to create a PR for this :)

Plugin API is documented here: https://github.com/stryker-mutator/stryker-handbook/blob/master/stryker/api/plugins.md#plugins

[2019-02-13 20:13] mthmulders commented on #430
Thanks for the invitation. Work is currently stalled (other priorities) but I had basic integration (i.e., running a passing test) working already. See [mthmulders/stryker-intern-runner](https://github.com/mthmulders/stryker-intern-runner) for those interested.

[2019-02-14 09:42] nicojs commented on #1318
So, I found out what the issue is. Our `typescript` transpiler (located in `@stryker-mutator/typescript`) receives both `bitOperations.ts` and `bitOperations.js` (because it was build earlier). It will pass through one of them, the other one it transpiles to js. The result is logged to debug:

[code]

So there are duplicate files there... shouldn't be the case. Stryker will write all files to the

[2019-02-14 13:18] kmdrGroch commented on #1318
so i should run `clean && test && clean && stryker`?

[2019-02-14 13:30] kmdrGroch commented on #1318
@nicojs cleaning repo before running stryker actually did work. I can use stryker again :)

[2019-02-14 17:27] nicojs opened #1408 "Rename all test files to `*.spec.ts`"
We should refactor all test files:

* Unit tests to `NameOfUnit.spec.ts`
* Integration tests to `TitleOfStuffToTest.it.spec.ts`.

Naming files *.spec.ts will show them as test icon in vscode and is more of an industry standard

![image](https://user-images.githubusercontent.com/1828233/52805109-2837b080-3086-11e9-999d-cbf9b6a039cd.png)

[2019-02-14 21:35] kmdrGroch commented on #1408
I can do it :D

[2019-02-15 10:59] #1408 closed

[2019-02-17 17:41] nicojs opened #1411 "Support new mutation result json schema"
We should support the new mutation result json result initiative: https://github.com/stryker-mutator/mutation-testing-elements/issues/1

[2019-02-18 06:28] Mrna1 commented on #1249
@nicojs @simondel : Good day, Is this functionality already released? I updated stryker to last release versions and still gets:

[2019-02-19 11:52] nicojs commented on #1249
Hi @Mrna1 could you please show me your babelrc.js file? It should contain JSON content (not javascript).

[2019-02-19 11:55] Mrna1 commented on #1249
@nicojs: So you do not support js files. Is that right? Will it be in the future?

[2019-02-19 12:08] nicojs commented on #1249
Could you please give me an example of a babel config file that is a js file? I didn't know babel allows it. We want to reach feature parity between the stryker babel-transpiler with the babel cli, so a link to the official docs would help.

It also helps if this issue gets upvoted because our time is limited and we're focussing on the features with the most impact.

[2019-02-19 12:13] nicojs commented on #1249
Also, you can use arbitrary javascript with a stryker.conf.js file by `require`-ing your babel configuration:

[code]

[2019-02-19 12:24] Mrna1 commented on #1249
@nicojs: Thank you. I gonna try that. :)

[2019-02-20 08:15] nicojs opened #1414 "Add support for mocha 6"
Mocha 6 is released. We should update both the `@stryker-mutator/mocha-framework` plugin as the `@stryker-mutator/mocha-runner` plugin.

See https://github.com/mochajs/mocha/blob/master/CHANGELOG.md#boom-breaking-changes

The breaking changes look minimal. Maybe we only need to update the peer dependency version

[2019-02-20 16:23] wachri commented on #1230
Working to reproduce the behavior in https://github.com/wachri/stryker-out-of-memory. It currently not looking that it depends (only) on the amount of components. I wan't able to reproduce the exactly same error but a similar one. With a combination of a large count of components and some complexity in the component I get an out of memory error after the initial run:

[code]

[report.20190220.1657

[2019-02-20 18:59] Stemirabo commented on #1284
Hi. Sorry for the slow reply. I've updated to the latest packages...
[code]
...and reran the same build with "--fileLogLevel trace --logLevel debug". No noticeable difference on my end. Maybe something in the logs will help you guys though.

logfile:
[code]
Console Dump
[code]

[2019-02-21 15:23] randspy opened #1415 "Fails on @ngtools/webpack"
### Summary

Stryker fails when launched

[code]

After installing @ngtools/webpack it fails with a claim that it detected many instances of @ngtools/webpack

### Stryker config

[code]

### Stryker environment
[code]

### Test runner environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             | 8.15.0
| npm              | 6.4.