[2019-02-23 21:56] nicojs commented on #1415
Hi, @randspy thanks for opening this issue.

Unfortunately, I've not been able to reproduce this issue. I've created a new angular project with `ng new` and choose to use 'sass'. After that, I installed stryker with `stryker init`. I installed boostrap and required that from `style.scss` using `@import '~bootstrap/scss/bootstrap.scss';`. This all works as expected.

Could you elaborate a little bi

[2019-02-25 10:43] nicojs commented on #1415
My guess is that you're using some kind of node-path magic to make `~` point to `/assets` and that magic isn't translated to the Stryker testing sandboxes. Could that be the case?

[2019-02-25 15:23] randspy commented on #1415
Hi,

First of all, thanks for a fast response. Yes it is a kind of magic from angular-cli. It is mentioned in https://scotch.io/tutorials/using-sass-with-the-angular-cli.

It seems that there are two problems. First one is missing assets-path.scss. I don't keep this file in the git repo. It is copied from other files depending if we are on windows or linux before project compilation. And stryker w

[2019-02-26 16:06] ollelauribostrom opened #1426 "TypeError in HTML report"
### Summary
The HTML report page generates a TypeError saying:
[code]
This shows up in the console when viewing the "report landing page". Im guessing that happens beacuse [this line](https://github.com/stryker-mutator/stryker/blob/1c71ea4ae1d4e9ae94850b7ea010efe3a79bf8ff/packages/html-reporter/srcResources/stryker.js#L82) tries to add an event listener to a button that only exists on the "report

[2019-02-26 16:19] jmpresso opened #1427 "HTML Reporter doesn't highlight in Chrome"
### Summary

@stryker-mutator/html-reporter generates HTML reports that highlight the code. It shows green crossed out lines for killed mutants, or red highlights with red boxes for line numbers around killed mutants.

This is working for me in IE11, but not on my version of Chrome.

It does not highlight in Chrome, or show the boxes with line numbers. It appears to flash briefly highlighting, but

[2019-02-26 21:15] glezalex opened #1428 "Support `--files` in mocha.opts"
I'm trying to run Stryker on a Vue project with webpack and after fixing some other issues -mainly npm package errors- I'm stuck with this error:

`Error: [vue-test-utils]: window is undefined, vue-test-utils needs to be run in a browser environment.
You can run the tests in node using jsdom`

I've created a quick-and-dirty example at [https://github.com/glezalex/vue-tdd](https://github.com/glezal

[2019-02-27 08:28] #1318 closed

[2019-02-27 08:52] nicojs commented on #1426
Awesome catch! 😎. Also, I feel a bit embarrassed, since it isn't the prettiest piece of code 😉

We're actually creating a new implementation of the html reporter over at [mutation-testing-elements](https://github.com/stryker-mutator/mutation-testing-elements) based on web components. So it's up to you. Your fix would be faster, but if you wait a month or so, it will be replaced entirely.

[2019-02-27 08:56] nicojs commented on #1427
Thanks for opening an issue!

We're implementing a new version of the html reporter based on the web components specification [here](https://github.com/stryker-mutator/mutation-testing-elements). I think this issue should be solved once we're using that version.

Chrome 68 should be supported as well: https://caniuse.com/#search=web%20components

[2019-02-27 08:59] nicojs commented on #1428
@glezalex thanks for opening this issue.

@simondel or @Archcry could one of you take a look? You guys are vue experts, right?

[2019-02-27 12:22] ollelauribostrom commented on #1426
Nice, didn't know of that 👍Then I don't see any point of fixing this now since it does not seem to affect any functionality 🙂

[2019-02-27 13:03] anthony-telljohann opened #1430 "ENOMEM TestRunnerDecorator"
### Summary

[code]

### Stryker config

[code]

### Stryker environment

[code]

### Test runner environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             | 10.14.1
| npm              | 6.7.0
| Operating System | macOS High Sierra 10.13.6

### Add stryker.log

[stryker.log](https://gist.github.com/anthony-telljohann/e4ed1a2a

[2019-02-27 14:31] simondel commented on #1430
Thanks for opening this issue! You could have a memory leak in your application. Do you by any chance use Sinon in your tests?

[2019-02-27 15:24] nicojs commented on #1430
Probably no Sinon, as @anthony-telljohann is using Jest.

`ENOMEM` is the error code for your system being out-of-memory. This results in Stryker being unable to spawn additional child processes. It needs to do just that because it detected 4 timeouts.

Could you try again with these tweaks:

1. Use `maxConcurrentTestRunners: 2` in your stryker.conf.js file, to make sure you're not overloading you

[2019-02-27 17:18] anthony-telljohann commented on #1430
Nope!

[2019-02-28 10:03] nicojs commented on #1415
Yes, there is. You can manually specify the files you want to be included in your sandbox. See [Stryker core's readme](https://github.com/stryker-mutator/stryker/tree/master/packages/core#files-string).

For your second problem: That is very strange. Can you confirm that the `node_modules` from `C:\pk\projects\version\project` is symlinked inside the sandbox (`C:\pk\porjects\version\project\.stryk

[2019-02-28 16:22] nicojs commented on #1334
Interesting issues:
* https://github.com/Microsoft/TypeScript/issues/28640
* https://github.com/TypeStrong/ts-loader/issues/851

[2019-02-28 18:26] simondel commented on #1428
Glad to see some Vue people around here! Thanks for the repro repo :) I'll check it out tomorrow ♥️

[2019-02-28 19:31] ebousse opened #1432 "Make it possible to attach a custom reporter programmatically"
### Enhancement suggestion

In a small project I am calling Stryker programmatically instead of running `npx stryker run`. Here is a  code snippet of where I call Stryker in my code:
[code]
In this context, I would like to attach a custom *reporter* to the execution, which I defined in the very same project as the code above. Broadly, I would love to do the following:

[code]

Unfortunately, as fa

[2019-03-01 08:09] randspy commented on #1415
Your suggestion about manually specifying files fixed both problems. Cause, why it fixed the second one is unknown. Thanks for all the help and have a nice weekend.

[2019-03-01 12:11] nicojs commented on #1432
Hi @ebousse, thanks for opening this issue!

Its definitely possible to add a custom reporter plugin. Documentation is here:
https://github.com/stryker-mutator/stryker-handbook/blob/master/stryker/api/plugins.md#plugins

That is only true if there is a wildcard (`*`) in the name. For example: `@stryker-mutator/*` (which is the default plugin declaration). So to add a custom (local) plugin:

[code]

[2019-03-01 12:18] nicojs commented on #1415
Awesome 😄

Closing the issue for now. Maybe something was wrong with your node_modules folder and an `npm install` fixed it (usually how it goes for me ;)). Have a nice weekend as well 👍

[2019-03-01 12:18] #1415 closed

[2019-03-01 12:20] nicojs commented on #1430
Thanks for your answer @anthony-telljohann. Did you have time to look at my suggestion as well?

[2019-03-01 13:52] glezalex commented on #1428
@simondel thanks a lot! I'm playing around with your fork and it works like a charm. Also your commits are of great help to me to learn some tricks.

[2019-03-01 14:47] ebousse commented on #1432
I had not expected such a fast and extensive answer, many thanks :)! I had indeed not understood that modules were looked for in `node_modules` only when wildcards were used. I solved my problem thanks to your line `plugins: ['@stryker-mutator/*', require.resolve('./my-custom-reporter')]`, allowing me to load my reporter defined in a file next to my code, and it works perfectly now.

I can't promi

[2019-03-01 19:47] simondel commented on #1428
No problem! I've also submitted my changes as a PR to your repo :)

I've reopened this issue because the error is still there if I use the mocha test runner programmatically from Stryker.

[2019-03-01 20:23] simondel commented on #1428
Alright, so the problem is this:
You load `jsdom-global` in `test/setup.js`. This file is loaded by your `test/mocha.opts` file:
[code]
The file is in the default location so it's always loaded, however, Stryker doesn't do anything with your specific mocha.opts file because:

(as per the [@stryker-mutator/mocha-runner readme](https://www.npmjs.com/package/@stryker-mutator/mocha-runner#mochaoptions

[2019-03-01 20:29] simondel opened #1433 "Presets don't install the correct dependencies"
We didn't update all presets when moving to v1.0. The VueJS preset installs some incorrect dependencies:
![image](https://user-images.githubusercontent.com/4221997/53664509-f1a68c00-3c68-11e9-8f48-4834da27a9e3.png)

Other presets may also have issues.

[2019-03-01 20:30] simondel commented on #1428
Also, I noticed #1433 because of this issue 👍

[2019-03-01 23:04] coleturner opened #1435 "Clarity on projectType=react"
### Summary

Hi! I'm getting started with this project and I wanted to share some confusion I had around `projectType=react`.

I think it's worth clarifying that `react` here is create-react-app and not general purpose React. During the installation I selected this thinking it came with specific Babel transforms or mutants. Then I ran into an error about missing `react-scripts/` which I was able t

[2019-03-01 23:32] anthony-telljohann commented on #1430
@nicojs that definitely fixed the issue. I think the root cause is from having a test that starts and stops a node http server. I'll figure out a better way to write the test and bump the test runners back up.  Thanks for the suggestion!

[2019-03-01 23:32] #1430 closed

[2019-03-02 06:45] simondel commented on #1435
Thanks for opening this issue!

Do you mean the setting in the Jest runner as described in its README:
https://www.npmjs.com/package/@stryker-mutator/jest-runner#configuring-jest

Or do you mean the 'react' option in the preset configurations? (which also sets the jest-runner to 'react'):
![image](https://user-images.githubusercontent.com/4221997/53678415-13caf900-3cbf-11e9-95e1-e7cc9ddf9d0d.png)

[2019-03-02 07:04] coleturner commented on #1435
Hey @simondel thanks for replying! That is the correct menu I selected though I think it might be worth keeping them both aligned. I know CRA is ubiquitous but I worry for those who have never used it and wouldn't recognize the error :)

[2019-03-02 08:17] nicojs commented on #1428
1. What's the difference between `--file` and `--require`. I honestly dislike the mocha.opts file a lot. Why don't the mocha guys provide an API to load options. Its very hard to keep up with is.
2. Why not?
3. I disagree. For example `--exit` should just be ignored, as it doesn't make sense for Stryker. Logging these things on warn forces people to maintain 2 sets of configuration
4. Agreed

[2019-03-02 10:04] #1433 closed

[2019-03-02 10:43] nicojs commented on #1430
That is definitely a good idea. Stryker works best with pure unit tests, as it will run multiple test processes in parallel. We should document that better somehow.

[2019-03-02 20:40] simondel commented on #1435
Well, the preset is actually for `create-react-app` projects so I think it's ok to rename that to `create-react-app`.

[2019-03-03 09:08] glezalex commented on #1428
Thanks again @simondel, I've already incorporated your fixes to my repo and it really exceeds what I expected -and needed 😄-. I'm working with another colleague on a very basic example for an event in which we would like to show stryker in action and this is of great help.

[2019-03-03 21:32] simondel commented on #1428
`--file <file/directory/glob>`
Explicitly include a test file to be loaded before other test files files. Multiple uses of --file are allowed, and will be loaded in order given.

Useful if you want to declare, for example, hooks to be run before every test across all other test files.

Files specified this way are not affected by --sort or --recursive.

Files specified in this way should contain o

[2019-03-03 21:34] simondel commented on #1428
I'm able to run Stryker on the vue-tdd repo as well if I change
`--file test/setup.js` into `--require ./test/setup.js` (the relative path is important, since it's a local file)

[2019-03-04 11:37] nicojs commented on #1432
Hmm, this is a great question. No, this is not possible at the moment. The way it could work is to fill a static field with data and `require` that after `runMutationTests` finishes. However, we would be open to suggestions. Maybe we could use the `wrapUp` method for that (which is called to finish up any async work being executed) or something.

[2019-03-04 12:07] ebousse commented on #1432
Yes filling a static field is the solution I had to pick for now, which is fine, but I wanted to make sure I hadn't missed anything in the API.

Thanks for answering all my questions, I'll close the issue then!

[2019-03-04 12:07] #1432 closed

[2019-03-04 12:17] nicojs commented on #1435
We could also simply improve the documentation in both places. Instead of another deprecation 😰

[2019-03-04 12:25] nicojs commented on #1428
Just be sure to send pics or even tweet about it, we'll retweet ([@stryker-mutator](https://twitter.com/stryker_mutator))

@simondel

Thanks for the documentation. I guess we should parse & support `--file` as well. It is too bad that we need to keep this functionality in sync. We could also log all unknown options on `warn` level. So we would keep logging `--exit` on debug, but `--some-fancy-feat

[2019-03-04 18:04] coleturner commented on #1435
Good point @nicojs I was worried about the major semver change, I think even parenthesis with (create-react-app) would suffice. For the JS configuration files it's a little different but I think a JS comment would suffice too.

[2019-03-04 22:29] nicojs opened #1437 "Support "extends" property in tsconfig from within a sandbox"
When transpiling ts files from within a sandbox, with a tsconfig file that extends a parent tsconfig file from the parent directory, it will not be able to find it.

For example: when using the `karma-webpack` plugin to transpile ts files with the `ts-loader` with a tsconfig file that extends: '../../tsconfig.settings.json':

[code]

The work around is to create a separate `stryker.tsconfig.json`

[2019-03-06 10:35] #1311 closed

[2019-03-06 11:32] glezalex commented on #1428
We'll for sure, thanks @nicojs.

Yes sure, if finally better reflects the actual issue so the original name I gave it could be misleading.

[2019-03-06 12:40] nicojs commented on #1311
Hi @jameshmread, sorry we didn't get back to you. Did you get it solved?

[2019-03-07 11:15] trollepierre opened #1440 "Cannot find module 'stryker-api/config' when running `npx stryker init`"
Hi,
I run npx stryker init on my new computer.
I got this error: Cannot find module 'stryker-api/config'

### Your Environment

| MacOS         | Mojace 10.14.3

| node             | 10.14.2
| npm              |  6.4.1

[2019-03-07 11:57] simondel commented on #1440
Thanks for opening this issue!

Could you share your logging? I can't reproduce this on my machine.

[2019-03-07 12:00] trollepierre commented on #1440
yes, if you tell me how to get more than this picture ;-)

<img width="344" alt="capture d ecran 2019-03-07 a 12 59 54" src="https://user-images.githubusercontent.com/8363334/53955317-fd66d800-40d8-11e9-8b50-f4d69e3c162b.png">

[2019-03-07 12:17] simondel commented on #1440
Alright. This is strange. I cannot reproduce it on my machine, but I can reproduce it in Azure on all platforms:
![image](https://user-images.githubusercontent.com/4221997/53956228-5a638d80-40db-11e9-9091-1a16f562fd39.png)

https://dev.azure.com/simondel/Public/_build/results?buildId=208&_a=summary

[2019-03-07 12:20] simondel commented on #1440
As a workaround you could globally install the stryker-cli:
[code]
![image](https://user-images.githubusercontent.com/4221997/53956389-c645f600-40db-11e9-919d-40d293b0cad0.png)

[2019-03-07 12:25] trollepierre commented on #1440
I would like to do that...

[image: Capture d’écran 2019-03-07 à 13.24.28.png]

Le jeu. 7 mars 2019 à 13:20, Simon de Lang <notifications@github.com> a
écrit :

--

Pierre Trollé

[2019-03-07 12:41] simondel commented on #1440
I think something went wrong with the image

[2019-03-07 15:37] trollepierre commented on #1440
can I do anything about it, to make it work?

[2019-03-08 06:57] simondel commented on #1440
You could either do:
[code]

or:
[code]

[2019-03-08 07:20] simondel commented on #1440
Ok. I've found it. `npx stryker` doesn't work. It should be `npx stryker-cli`:
https://github.com/stryker-mutator/stryker-cli/issues/33

[2019-03-08 10:49] nicojs commented on #1440
`npx stryker` does work _after_ installing `@stryker-mutator/core` locally. So this should also work:

[code]

[2019-03-11 15:06] trollepierre commented on #1440
Ok. `npx stryker-cli` worked. But I got this issue at the end of the install.
![Capture d’écran 2019-03-11 à 16 05 29](https://user-images.githubusercontent.com/8363334/54134052-8488b880-4417-11e9-8beb-34df33253bdd.png)

[2019-03-11 20:06] simondel commented on #1440
@trollepierre Could you try `npx stryker-cli init`?

[2019-03-12 08:03] nicojs commented on #1440
@trollepierre `npx stryker-cli` will temporary install `stryker-cli` (standard `npx` functionality).

The `stryker-cli` in turn will try to find a local `@stryker-mutator/core`, but will not be able to find it, so it will prompt for install.

After install: `stryker-cli` will forward the command you have put into the fresh local `@stryker-mutator/core` instance. The command is `""` since you didn'

[2019-03-12 11:24] trollepierre commented on #1440
Awesome: maybe the documentation should be updated.
Thanks!

[2019-03-12 11:43] nicojs commented on #1440
Happy to help 😄

I think we did that last week. Can you confirm that this is more clear: https://stryker-mutator.io/stryker/quickstart

If you don't have any other problems, could you please close this issue?

[2019-03-12 15:16] trollepierre commented on #1440
@nicojs : i believe `npx stryker-cli init` should be mentioned. It looks more simple than `If you choose to not install the stryker-cli, use npx stryker (after installing @stryker-mutator/core locally) instead of stryker for the rest of the quickstart.`

[2019-03-13 16:42] ankhzet commented on #656
Possibly related: stryker mutates boolean constants in type decls, which produces false-negatives:

[code]

Haven't tested, but have suspicion, that string literal typedefs would be also mutated (`const foo: Type | 'enum1' | 'enum2' = ...`).
Also haven't tested boolean literals in interfaces.

config:
[code]

[2019-03-14 12:27] nicojs commented on #656
@ankhzet we're thinking behind the scenes about a "TypeCheckerPlugin". That way, we'd be able to validate mutants better.  I.e.

[code]

When mutating `false` to `true`, it would be caught by the type checker and marked as `CompileError`. If it doens't result in a `CompileError`, you're probably missing a test that uses the specific return type.

Could this solve your issue?

[2019-03-14 15:23] ankhzet commented on #656
@nicojs checked mutations with some variations of interfaces/implementations.

It seems, like:
1) sometimes mutations of typedefs (uncaught by typechecker) are useful indeed 👍 They point to the unreasonably wide types/insufficiently test-covered code areas.
2) sometimes, when uncaught mutants cause false-positives (can't be killed by valid testset), they can be killed by enforcing more strict type

[2019-03-14 16:01] nicojs commented on #656
Indeed, I understand what you're saying. This test will kill the mutant, but I don't think we should force people to write it:

[code]

We might need to skip `declare` and type definitions entirely to prevent this and recommend other tools to test the quality of your type definitions. What do you think @simondel? We can also make it configurable.

Something like // eslint-disable-next-line <rule-n

[2019-03-18 09:30] nicojs commented on #656
Ok, I'm reopening the issue. Anyone up for the task?

I think the best way is to filter out the `declare` nodes and halt mutating in this method here:

https://github.com/stryker-mutator/stryker/blob/13a10581ce4771e966c6110bb8af3f79644075e4/packages/typescript/src/TypescriptMutator.ts#L32-L39

[2019-03-18 15:57] Chowarmaan opened #1450 "npx stryker run with Jest does not work"
### Summary
I was running the 0.34.x version previously in my project.  I have since removed all traces to stryker, installed the new @stryker-mutator/core and proceeded to use the npx stryker init to install the dependencies and try to get stryker working in my environment with Jest and Yarn.

While my Jest tests all run normally, I get errors running stryker: npx stryker run stryker.conf.js.  Th

[2019-03-19 08:11] nicojs commented on #1450
Hi @Chowarmaan thanks for opening this issue.

Could you please remove the `transpilers` part of your stryker.conf.js file and try again? Since your using Jest, it will take care of the typescript transpiling. Stryker doesn't need to do that for you.

[2019-03-19 16:40] Chowarmaan commented on #1450
@nicojs That corrected my issue.  I guess I still flagged the additional transpiler option during the `stryker init` as I did not enter that myself.  It has allowed my tests to run again.

[2019-03-19 16:49] nicojs commented on #1450
One of the questions during `stryker init` is:

That's where you probably selected `typescript`. Maybe this question should be reworded to:

@Chowarmaan would that help you?

 @simondel, agree?

[2019-03-19 16:52] Chowarmaan commented on #1450
I think that might of, but maybe still not in my case unless the note is clearer for Jest somehow as I would still have expected to need to transpile the code for things to work.  I did not think to deep about it, or really understand what you might be pointing at, even though webpack and others are there (if it is the area I am thinking of).

[2019-03-19 19:36] nicojs commented on #1450
Hmmm maybe we should give a warning from the `JestRunner`. Something like: "WARN: You configured the "typescript" transpiler. This is probably not needed since Jest normally takes care of that. Set `jest.ignoreTranspilerWarning` to `true` to ignore this warning"

[2019-03-19 20:17] jayands commented on #1249
[Link to the official docs, you say?](https://babeljs.io/docs/en/configuration)

Also note, that as of 7.x (emphasis added):

[2019-03-19 21:47] Chowarmaan commented on #1450
That I would have picked up.  I actually just ran your same init over an Angular CLI project, and the caution about needing a transpiler (I did not) made me think as well.  I think for the more beginner users like myself with Stryker, and some of the ecosystem of these tools, who are working with Typescript and trying to make the best code possible, these clearer examples would help.

On a side no

[2019-03-20 06:45] Mrna1 commented on #1249
@nicojs: Sorry for a late answer. Babel supports js files. Check the official babel side, which was sent by jayands.
I can send you example of the babelrc.js to your email if you want.

[2019-03-20 08:21] simondel commented on #1450
@nicojs I think we should improve the message using Stryker init and we should warn the user when they specify transpilers with Jest. I'm fine with leaving this warning on instead of introducing another config setting.

[2019-03-20 10:02] tverhoken opened #1457 "Question: New stryker utility"
Hello,

I did [that utility](https://github.com/tverhoken/stryker-diff-runner) for Stryker that allow to run stryker only for the diff files between current branch and "origin/master" in order to be able to run mutation testing on branches and pull requests without taking too long for the CI build.

Would it be interesting to include it to the stryker-mutator projects ?

Regards.

[2019-03-20 10:55] JoshuaKGoldberg commented on #656
👋 I can probably take a look this week! Any tips would be appreciated 😀

[2019-03-20 21:19] ZEVEKE commented on #1249
@Mrna1 Can you send an example of stryker.config.js that supports babel?
email denys.shnurenko@gmail.com
or right here, if you want

[2019-03-21 17:50] connorjclark opened #1463 "File permissions are not copied correctly to the sandbox"
Couldn't immediately find the name of the package for the babel transpiler from docs, so I googled it and got https://www.npmjs.com/package/stryker-babel-transpiler . But that doesn't work. Eventually found it is `@stryker-mutator/babel-transpiler`.

I guess all the packages moved to an org scope recently. Maybe deprecate the old ones + put a big disclaimer in the readme pointing to the correct pa

[2019-03-21 17:57] Hoten commented on #1463
Actually, I am have more issues, the above package didn't work.

Trying to run against `terser`.

[code]

[code]

[code]

any idea what's wrong here?

[2019-03-21 18:34] Hoten opened #1464 "Exclude mutations with filter function"
#652 added support for disabling specific mutation types. However, we have a use case where we'd like to disable only _certain_ `StringLiteral` mutations, not all of them. It'd be super rad if Stryker exposed a filter function that provided the mutation to be made + the ast node of the code being mutated. That'd allow for a lot of granularity.

[2019-03-22 07:27] Mrna1 commented on #1367
@nicojs, @simondel: Is there any way how to execute command before standard stryker run. Basically, I want to convert paths form @account to ../../account. I can do it by script, but it will modify the files. I would like to do it in a sandbox before the mutation starts.
commandRunner: {
            command: "npm run modify-paths",
        },
it doesn't work because it is just an alternative for t

[2019-03-22 09:05] simondel commented on #1463
Thanks for letting us know! It looks like our deprecation of the old package wasn't successful.

 You should see a similar warning like this on the npmjs page for `stryker-babel-transpiler`:
![image](https://user-images.githubusercontent.com/4221997/54811501-1cdd3380-4c89-11e9-8b2c-c1790e1a5067.png)
(taken from https://www.npmjs.com/package/stryker)

We'll fix this.

----
How do you run Stryker? D

[2019-03-22 09:07] simondel commented on #1464
Sounds like a nice feature :) How would you see yourself use this filter as a user? (from a configuration standpoint)

[2019-03-22 09:10] simondel commented on #1367
How do you run your tests right now @Mrna1? You may be able to use that command in the test command test runner:
[code]
(the command above will probably only work on windows. Perhaps `npm test` is good enough for your use case)

[2019-03-22 09:32] Mrna1 commented on #391
@nicojs: Is it possible to add an overriding module from tsconfig?
For example:

For mutation I need
`
"module": "commonjs",
`
For compilation and deployment to our environment
`
"module": "esnext",
`

Thank you

[2019-03-22 10:36] Mrna1 commented on #1367
@simondel: Thank you, unfortunately, it fails, because the paths are not modified :( So there possibility to get logs from my modification functions? Maybe there are different paths in the sandbox

11:33:17 (25716) DEBUG ChildProcessProxy Disposing of worker process 7916
11:33:17 (25716) DEBUG ChildProcessProxy Kill 7916

[2019-03-22 13:53] randspy opened #1465 "Performance issues with angular app."
### Summary

Hi,

I have performance issues when executing stryker on my computer. It can be very slow. The estimation for the project is around 1000 hours. So to get around I mutate only the file for the tests I would like to execute. I also focus the tests itself (seams to be a little faster, but maybe my mind make tricks on me). The test by them-self are fast. It takes 3s to execute 500 tests.

[2019-03-22 14:01] simondel commented on #1465
Thanks for opening this issue! I don't think we'll override your fdescribe in this scenario, but I'm not 100% sure right now.

I do find something a bit odd:

But your logging says it takes 3 minutes:

How long does it take to run your tests using `ng test`?

[2019-03-22 14:18] simondel commented on #1367
I don't know what your modifications do exactly and what they usually log. You could try running stryker with log level 'trace': https://www.npmjs.com/package/@stryker-mutator/core#loglevel--string-

[2019-03-22 15:04] randspy commented on #1465
As requested for headless chrome, most of that 89s is typescript compilation.

Finished in 11.779 secs / 2.629 secs @ 16:00:00 GMT+0100 (Romance Standard Time)

SUMMARY:
√ 497 tests completed
i 10 tests skipped
Done in 89.39s.

[2019-03-25 15:32] markgaze commented on #1465
I'm seeing similar performance issues, I can run my tests (217 in total) in just under 3 seconds but Stryker takes almost 2 hours to run the mutation. I have a similarly-sized React project (using TypeScript) that reported: `INFO Stryker Done in 5 minutes 57 seconds.` with a normal test run time of about 4 seconds.

I can provide more information if required/useful.

[2019-03-25 21:53] kmdrGroch commented on #1282
I was thinking a lot about it, and one solution could be to use sth like debugger to check for example variables if values are the same. Of course, it would dramatically decrease performance and tests speed but it would allow to analyze it really good (I guess). It could be separate mod in stryker or it could be switched on by for example /* stryker:analyze-next-function */ of /* stryker:analyze-f

[2019-03-26 07:06] Mrna1 opened #1469 "Stryker doesn't recognized tsconfig in subfolder"
Hi all,

I have special tsconfig for Stryker.
If it is on the same lvl as stryker.conf.js it works fine, but if I move it to a subfolder and address there. It is not recognized.

Works:
`
tsconfigFile: "tsconfig_stryker.json",
`

Doesn't work:
`
tsconfigFile: "stryker/tsconfig_stryker.json",
`

Is this path hardcoded?

[2019-03-26 08:55] #1469 closed

[2019-03-26 08:55] Mrna1 commented on #1469
Duplicate: #1437

[2019-03-26 09:44] shaunswales opened #1470 "Mutants surviving because it's trying to mutate logger.info"
### Summary

Mutants surviving because it's trying to mutate logger.info

When Stryker run's it is mutating the logger.info output which is for traceback, not actually affect the test.

<img width="633" alt="Screenshot 2019-03-26 at 09 42 28" src="https://user-images.githubusercontent.com/17008391/54987019-ae131980-4fab-11e9-9f3d-e94f52b99f97.png">

<img width="693" alt="Screenshot 2019-03-26 at 0

[2019-03-26 09:53] nicojs commented on #1470
No, currently there is no way to exclude specific mutations. However, it is possible to ignore [entire files](https://github.com/stryker-mutator/stryker/tree/master/packages/core#mutate-string) or [mutators](https://github.com/stryker-mutator/stryker/tree/master/packages/core#mutator-object--string).

Please comment/upvote on one of these issues if you want to see a feature like this implemented:

[2019-03-26 10:20] nicojs commented on #1249
Thanks @jayands and @Mrna1

We should indeed support this. For now, you can use the workaround:

[code]

[2019-03-26 10:38] nicojs commented on #391
Hi @Mrna1 , thanks for asking 😄

The easiest way is to use TS's `extends` property. So basically create a second `tsconfig` file: `tsconfig.stryker.json` and [`extends`](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html#configuration-inheritance-with-extends) and override only the `"module"` option. Then specify that in your stryker.conf.js file.

For now it is not possible to overri

[2019-03-26 10:39] nicojs commented on #1463
Well... it was. I just decided to only deprecate the Stryker core package. I first wanted to see how it looked in the console, and it took a while to propagate. I will deprecate the rest when I find some time.

[2019-03-26 11:45] shaunswales commented on #1470
Thank you for the reply @nicojs

However, if we ignore the whole file because of logging probably means that we are not testing 80% of our tests, unfortunately. Also getting rid of specific mutators won't actually have any impact either.

It's highly likely that any company using AWS for applications will be using logger, so it's more than likely this will become a common issue as logging is neede

[2019-03-26 11:47] shaunswales commented on #1470
If would be great if in the config you could add a list of things to ignore for example:

[code]

[2019-03-26 11:55] shaunswales commented on #1174
I would probably recommend that it's approached in the following way:

### confg
[code]

So in my example, the lines I would like to be ignored are the following:

[code]

I would recommend adding to the config as everything else is maintained here for Stryker...

[code]

Or for the example at the beginning of the conversation...

[code]

[2019-03-26 13:06] nicojs commented on #1457
@tverhoken that is a cool tool 👍 ! I'll discuss it with @simondel.

In the meantime, feel free to add the tool to the [guides segment of the stryker-handbook](https://github.com/stryker-mutator/stryker-handbook/tree/master/stryker/guides).

[2019-03-26 13:16] nicojs commented on #1470
I think something like #1464 would work for you as well.

Whould that mean you ignore all mutations for statements matching that pattern? Or only string mutations? How would the matching work? Just on text (`string.startsWith`)?

A bit more background:

I personally am against ignoring specific mutants. You're basically saying "we killed 100% of the mutants, except for the ones we didn't choose to

[2019-03-26 13:38] nicojs commented on #1465
I'm pretty sure it is a combination of typescript compilation, angular compilation, sass transpiling, bundling and anything else Angular needs to run an application.

I'm afraid this is quite a normal performance for Angular. Every mutant needs to progress through the entire angular cli pipeline as well as the normal karma test time. We use parallel test runner to try and speed up this process, bu

[2019-03-26 14:36] shaunswales commented on #1470
Yes, I was meaning to ignore all mutations for statements matching that pattern.

So I guess it comes down to the software engineer to make sure they test as much as possible, but in my specific example, we know there will be in every file some _logger.info_ and it's no use to be tested so it makes sense to have the ability to do so...

 I understand your thoughts on people using it in a negative

[2019-03-26 19:35] simondel commented on #1463
I have deprecated the old packages, so the only thing to do is make sure that @Hoten can run Stryker

[2019-03-27 09:11] randspy commented on #1465
Hi,

Yes, angular does a lot of staff. The fact that each mutator needs to go those that process explains the performance.

Looking forward for mutation switching.

As performance goes typescript 3.4 will get some performance improvements with incremental flag. https://devblogs.microsoft.com/typescript/announcing-typescript-3-4-rc/

BR

[2019-03-28 11:17] nicojs commented on #1174
@shaunswales thanks for tuning in. Would you be against comments like `/* stryker ignore next */`? This is our preferred implementation for now.

Would that work for you? Ignore it from Stryker configuration in an `ignore` array could be confusing for the end users. It would also not be clear what exactly is ignored (it is less "in your face" while coding).

Like @simondel stated, we don't have pl

[2019-03-28 11:23] shaunswales commented on #1174
Thanks for the reply @nicojs, more than happy to share my thoughts as our company plan on using this tool moving forward in all of our repositories. So having direct contact with you is great, as you can see we have a lot of code bases to maintain and we are committed to try use your tooling.

I'm not against the idea of the comments...

The reason I was proposing it being used in the config was t

[2019-03-29 11:49] simondel commented on #654
Since we released it, let's close this :)

[2019-03-29 11:49] #654 closed

[2019-03-29 11:59] simondel opened #1472 "Ignore specific mutations"
In some projects, there are mutations that users want to exclude. An example of this is logging. We've had multiple questions of users that do not want to test (some) logging.

## Why?
1. Not all code is worth testing (using unit tests)
1. Wanting to maintain a 100% mutation score and be alerted of any new surviving mutants

## Why not?
1. Excluding mutations gives a false sense of quality: "I've

[2019-03-29 13:30] nicojs commented on #1470
@shaunswales we're closing this issue in favor of one fresh issue, explaining our reasoning in a central place. Feel free to add your comments there. #1472

[2019-03-29 13:30] #1470 closed

[2019-03-29 13:48] Zorin95670 opened #1473 "Support VueCli3 with Jest"
### Summary

Unable to run stryker because it fail on import in test.

### Stryker config
[code]

### Stryker environment

[code]

### Test runner environment

Npm command :
[code]

Jest config:
[code]

### My Environment

| software         | version(s)
| ---------------- | -------
| node             |  v11.0.0
| npm              | v6.9.0

### Stryker.log

[code]

Thank for your support :)

[2019-03-29 14:46] nicojs commented on #654
Are you sure it was well prepared? ;)

[2019-03-31 10:23] simondel commented on #1473
Thanks for opening this issue! Is it possible for you to create a repository with an example of this issue? (I assume the code is not open source)

[2019-04-02 08:54] simondel commented on #1464
We've opened a specific issue for supporting this feature. I have referenced it above.

[2019-04-02 08:54] #1464 closed

[2019-04-02 08:54] simondel commented on #1463
@Hoten Are you still having issues?

[2019-04-02 16:01] Zorin95670 commented on #1473
Yes, I do that, please wait =D

[2019-04-03 08:32] Zorin95670 commented on #1473
https://github.com/Zorin95670/stryker-test

It's a simple project create with vue cli 3, then I add stryker.

[2019-04-03 14:31] nicojs opened #1482 "New html reporter should escape html characters in strings"
The new HTML reporter should escape HTML strings. Right now, a `</script>` in the client's code results in an invalid HTML document, rendering the HTML report useless.

[2019-04-03 14:33] nicojs commented on #1473
I've looked into this. When you use jest directly, you get the same error:

[code]

Apparently, your unit test command is: `vue-cli-service test:unit`

So, yet another CLI to ruin this beautiful day.

The magic this CLI does is incredibly simple. It sets 2 environment variables and then calls jest. Apparently, those environment variables are what does the magic 🙄
https://github.com/vuejs/vue-cli/b

[2019-04-03 15:07] Zorin95670 commented on #1473
Thank a lot for your response, I go test it =D

[2019-04-03 17:01] Hoten commented on #1463
## Separate issue

Minor UI issue with the option `[optional] What kind transformations should be applied to your code?` in `init`. As a user, of course I don't fully read instructions (heh) and I hit "Enter" on `babel` with the intention of selecting Babel. This required me to manually install babel when getting the error in `run`.

Mixing "Enter" with "yes, select this currently selected option"

[2019-04-04 06:08] nicojs commented on #1482
The report looks like this:

![image](https://user-images.githubusercontent.com/1828233/55533202-d0461f00-56b0-11e9-80c8-dc7738cc3ac4.png)

[2019-04-04 06:11] #1482 closed

[2019-04-04 06:34] nicojs commented on #1427
Should be fixed since Stryker 1.2, if not comment here.

[2019-04-04 06:34] #1427 closed

[2019-04-04 06:35] nicojs commented on #1473
@simondel I'm not sure what we should do here. Adding a `projectType: 'vue-cli-service'` doesn't seem maintainable. Who knows what they will add in the future. On the other hand, how else would we support it?

[2019-04-04 08:15] hugo-vrijswijk commented on #1482
We should also update the examples in the elements repo and explain why not to do this for new reports

[2019-04-05 10:06] batraanupriya opened #1487 "Running Mutation testing on Polymer 2 application"
### Summary

I need to run the mutation testing on my polymer 2 application. Since it is web component based all my compoenents are imported using html import and all are html files rather than js files. So i am not sure how to run the mutation testing onthese files.

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

[code]

### Your Environm

[2019-04-05 12:10] nicojs commented on #1437
Ok, I've thought about it and have a suggestion

 We could introduce a transpiler to transform the tsconfig.json files from `"extends": "../../tsconfig.json"` to `"extends": "../../../../tsconfig.json"`. A rough version can be found here: https://github.com/stryker-mutator/mutation-testing-elements/blob/master/packages/mutation-testing-elements/tsconfig-transpiler.js (we should improve on the impl

[2019-04-05 12:23] nicojs commented on #1487
unfortunately, we don't support mutating html files yet. We might be doing that in the future, but we first want to migrate to mutation switching, which will take some time. Feel free to create your own mutator (you can base it on the [vue mutator](https://github.com/stryker-mutator/stryker/tree/master/packages/vue-mutator), which support `.vue` files)

As a workaround:

My Polymer 2 is a bit rust

[2019-04-05 18:28] simondel commented on #1473
I think Vue 3 will change things quite a bit. Unfortunately we can't really wait on that because it's currently planned for Q3 2019.

I think we should add a project type for the  vue -cli-service in this case.

[2019-04-05 22:00] Zorin95670 commented on #1473
Or, I can also report the bug in vu-cli project. Because is link to vue cli .

[2019-04-08 01:42] InfoSec812 commented on #1473
@nicojs This got rid of all of the transform errors, but it now results in a different set of errors:

[code]

I'll see if I can jigger the tranform ignores a little and make some progress.

[2019-04-08 01:43] InfoSec812 commented on #1473
Woot!!! Success!

I had `transtormIgnorePatterns: ['<rootDir>/node_modules/']` in my `jest.config.js`. I changed it to `transtormIgnorePatterns: ['/node_modules/']` and Styker runs perfectly!!!

Thanks again for all of the help!!!

[2019-04-08 07:52] nicojs commented on #1473
@InfoSec812 Great to hear you got it working. However, we do want it to work out-of-the-box with your jest config. Could you open a separate issue detailing how to reproduce it? That would be most welcome!

@simondel
I agree, let's add it.

[2019-04-08 08:02] simondel commented on #1437
Where is the parent config in this case? If it's in the repo, it should just be in the sandox right? So why would we have to alter pahts?

[2019-04-08 08:07] nicojs commented on #1437
See this scetch of our own repo:

[code]

So the parent config is outside of the sandbox.

My purposed solution isn't elegant, but it will work.

[2019-04-08 08:14] nicojs commented on #1437
Btw, Stryker itself might not be needing this plugin, as we're using the `'typescript'` transpiler plugin (it loads the sources from the project directory directly). However, if you would use other means of transpiling (like the karma-webpack plugin), you do need it.

[2019-04-09 13:08] InfoSec812 commented on #1473
@nicojs So, like most others on this thread, I created a new Vue app using `@vue/cli`. Other than that, the only special things I have done (and it doesn't seem to make any difference) is that I sometimes use `quasar-framework` on top of Vue (`vue add quasar`). The instructions I just gave my colleague which seem to work are as follows:

# Setting up Stryker for mutation testing:

- Install stryke

[2019-04-09 14:07] InfoSec812 commented on #1473
I have created an example project to demonstrate the config, but the HTML reports are garbled for some reason:

https://github.com/InfoSec812/example-stryker-vue-project

[2019-04-11 18:48] xoadrian opened #1492 "We couldn't kill a StringLiteral mutant"
### Summary

Was trying to kill a StringLiteral mutation, but it is not possible, even if running only that specific test.

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             | 10.15.3
| npm              | 6.4.1
| Operating System | Wi

[2019-04-14 08:43] simondel commented on #1492
Thanks for opening this issue! What happens if you manually insert the mutant in your code and run your tests the regular way?

[2019-04-14 18:43] simondel opened #1494 "Initializer should add `mutate` property"
When you're not using a preset, you won't have a `mutate` array in your config.

I think this property should always be present to inform users about our globbing and ignoring pattern.

Repro:
Initialize using Jest, JavaScript and no transpiler.

[2019-04-16 17:51] mpadmaraj opened #1499 "Error while running for mocha test framework"
### Summary
I'm trying out Stryker for the first time. I have a project that used Mocha test framework. I was following the steps given in the Quickstart page. But I get this error:
[code]
### Stryker config
[code]

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

mocha.opts is empty
[code]

### Your Environment

| software         | version(s)
| --------------

[2019-04-16 19:18] nicojs commented on #1499
Hi @mpadmaraj 👋 Thanks for trying out Stryker.

Apparently, Stryker cannot find the "test/setup.js" file. Can you confirm that this file is located inside your git repository and located at that location (as seen from the current working directory)?

If so, could you try changing it to "./test/setup.js" in your mocha.opts file?

[2019-04-17 15:24] simondel opened #1503 "Performance tests are unstable"
The build on master fails sometimes on the performance tests:
[code]

Source: https://travis-ci.org/stryker-mutator/stryker/jobs/521282433

[2019-04-18 07:24] simondel commented on #1411
As discussed, this is already there.

[2019-04-18 07:24] #1411 closed

[2019-04-18 08:06] simondel opened #1506 "Drop NodeJS 6 support"
On April 30 2019, NodeJS 6 will be [End Of Life](https://nodejs.org/en/about/releases/). On this date we will drop NodeJS 6 support.

 **This will be a breaking change.**

TODO:
- [x] Remove promisify logic from our codebase
- [x] Upgrade travis.yml file to use Node 8 instead of 6
- [x] Upgrade travis.yml to no longer check for npm v3
- [x] Upgrade the file-url dependency. They already dropped Nod

[2019-04-18 08:37] simondel commented on #1503
Fixed by #1507

[2019-04-18 08:45] simondel opened #1508 "Inform users about additional settings after "stryker init""
Users should be informed about additional config settings after they initialize a project with stryker.

We could link to the `homepage` property in the package.json of the dependencies we installed. This should always point to the README of the dependency.

[2019-04-18 08:45] simondel commented on #1494
We will do this with #1508

[2019-04-18 08:45] #1494 closed

[2019-04-18 08:50] simondel commented on #1426
This should be fixed now 🎉 More info: https://stryker-mutator.io/blog/2019-04-03/one-mutation-testing-html-report

[2019-04-18 08:50] #1426 closed

[2019-04-18 08:55] #1503 closed

[2019-04-18 09:28] simondel opened #1509 "Deprecate onScoreCalculated event"
We should deprecate the `onScoreCalculated` event because we now have `onMutationTestReportReady`.

We should also use http://npmjs.com/package/mutation-testing-metrics

[2019-04-18 09:52] nicojs commented on #1414
I've asked if the `loadOptions` api is public. We're planning on using it for this issue.
https://github.com/mochajs/mocha/issues/3882

https://mochajs.org/api/module-lib_cli_options.html#.loadOptions

[2019-04-18 13:47] mpadmaraj commented on #1499
Thanks @nicojs. mocha.opts wasn't empty. I correct it and it went past this error. I'm having some other issues but it could be my project configuration as well. So will close this ticket.

[2019-04-18 13:47] #1499 closed

[2019-04-19 11:29] nicojs opened #1514 "Implement mutation switching 👽🔀"
## Intro

_[Mutation switching](https://stryker-mutator.io/blog/2018-10-6/mutation-switching)_ is a technique that can be used to improve the performance of mutation testing. It is used in Stryker.NET as well as Stryker4s. We believe this has a lot of benefits for JavaScript/TypeScript as well.

In short, with mutation switching all mutants will be placed into the source code at once. Only one mut

[2019-04-19 11:56] #1414 closed

[2019-04-19 12:45] Project4MobileDev opened #1515 "How do I exclude files with a pattern?"
### Summary

How do I exclude files with a pattern? I want to run stryker against a Xamarin .netstandard 2.0 library, I'm using stryker with in the console with the following command:
dotnet stryker -cp stryker-config.json

In the config file I'm specifying files to be excluded but it seems to only allow specific file names rather than using a pattern to exclude them. I've tried a few different wa

[2019-04-19 13:36] simondel commented on #1515
Thanks for opening this issue! I believe this is related to Stryker.NET which is located here: https://github.com/stryker-mutator/stryker-net

I took the liberty of opening an issue for you there: https://github.com/stryker-mutator/stryker-net/issues/464

For now I'll close this issue.

[2019-04-19 13:36] #1515 closed

[2019-04-19 14:28] nicojs opened #1516 "Target es2015 (or 2016/2017?)"
For the 2.0 release we should try to go as high as we can using typescript's target property. We should be able to support async natively.

[2019-04-19 16:31] nicojs opened #1519 "Stryker hangs indefinitely when "No tests were executed. Stryker will exit prematurely" with a configured transpiler"
### Summary

Stryker hangs indefinitely when it supposed to "exit prematurely" when a transpiler is configured. The transpiler is hosted in a child process, which is never disposed. This is because of this `if` statement:

https://github.com/stryker-mutator/stryker/blob/baa374d12e807e7328f8f277638f31e33503d8ac/packages/core/src/Stryker.ts#L81

When the `else` branch is hit, the child process isn't

[2019-04-19 16:37] nicojs commented on #1519
I've started work on this here: #1520

[2019-04-21 10:23] #1509 closed

[2019-04-24 08:45] #1519 closed

[2019-04-24 11:16] #1428 closed

[2019-04-25 05:54] davesag opened #1525 "Since upgrading to Stryker version 1.3 it can't find any tests to run"
### Summary

I upgraded the following from version 1.2 to 1.3

[code]

and now running `npx stryker run` reports "No tests were executed. Stryker will exit prematurely. Please check your configuration."

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node

[2019-04-25 06:04] davesag commented on #1525
Notes:

Changing `files` to `spec` as per [mocha-runner#mochaoptionsspec-string-or-string](https://github.com/stryker-mutator/stryker/tree/master/packages/mocha-runner#mochaoptionsspec-string-or-string) kind of works but I get this output now and the tests never complete.

[code]

[2019-04-25 10:19] davesag commented on #1525
FYI pinning it back to version `1.2` everything works fine, so I've done that for now.

[code]

[2019-04-25 11:32] nicojs commented on #1525
@davesag thanks for reporting this issue. I've found your project here: https://github.com/davesag/amqp-delegate, so I'll take a look later today. Seems that the new mocha 6 file discovery is not working correctly

[2019-04-25 13:17] MHeironimus commented on #1525
FYI: I am seeing the same issue.

# Stryker Config

[code]

# Stryker Versions

[code]

software | version(s)
-- | --
node | 10.15.3
npm | 6.9.0
Operating System | Windows 10 1709 (16299.1029)

[2019-04-25 13:22] davesag commented on #1525
Yep thanks.  Also this one https://github.com/davesag/amqp-simple-pub-sub

[2019-04-25 21:33] kmdrGroch opened #1526 "Use Google TypeScript Style"
Searching through the internet I have found quite interesting repository <https://github.com/google/gts> (Google TypeScript Style), created by Google (WoW), which just add TypeScript style guide, formatter, and linter. It is built on Tslint and prettier. I would remove the necessity of looking for TSlint updates, updating 'stylesheets', everything would be always up to date with Google's standards

[2019-04-25 21:42] kmdrGroch commented on #1516
@nicojs if I get what you mean by `async` we should use at least es2017 (look: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)

But I guess since we are removing IE from supported browsers (hello ES6+), we could use es2018 or even esnext build target (since modern browsers such as Firefox and Chrome keep their engines up to date with current ECMAScript

[2019-04-26 09:28] davesag commented on #1525
Okay I have made some progress on this.  I've changed my test script in `package.json` to use the `--spec` option that mocha 6 provides, like so:

[code]

and I have added a leading `./` to the paths in the `stryker.conf.js` file.

The updated `stryker.conf.js` is

[code]

This works fine with stryker 1.2 but still in 1.3 I get

[code]

and the test runner hangs rather than exiting cleanly.

[2019-04-26 11:24] nicojs commented on #1525
@davesag thanks for the update. I can reproduce that as well. Stryker runs like normal, but once it's done it logs the strange error. Can you confirm that this happens for you as well?

[code]

Note: I can only reproduce this in linux, not windows

[2019-04-26 11:36] nicojs commented on #1525
@davesag it has to do with the fix introduced in https://github.com/stryker-mutator/stryker/pull/1520. As a workaround, you can explicitly set `maxConcurrentTestRunners: 2` in your stryker.conf.js file. I'll be working on a fix.

@MHeironimus your issue should be fixed by renaming `files` to `spec`. Since v1.3 we're actively supporting mocha 6, which uses `spec`. Before that, we didn't support moc

[2019-04-26 11:40] davesag commented on #1525
Thanks @nicojs — yes I get that error.  I'm running this on macOS locally and linux on CI.  I'll try your `maxConcurrentTestRunners: 2` suggestion, thanks.

[2019-04-26 11:46] davesag commented on #1525
I can confirm adding `maxConcurrentTestRunners: 2` fixes my issues. I have 8 cores on my laptop and 18 on my iMac Pro so it would be nice to fix this but at least I can unpin the versions.  Thanks for the workaround.  (FYI I am loving Stryker! Have added it to **all** my open source projects now and am about to run an explainer session at work to demo why it's so good.  It's really improved my tes

[2019-04-26 14:59] nicojs commented on #1526
Hmm I like this approach. We need to migrate to eslint sooner or later, might as well migrate to this instead.

What would the impact on code be? Are we in line with the "Google style" (can't seem to find documentation on what that is exactly)?

[2019-04-26 15:00] nicojs commented on #1487
@batraanupriya did this help you? If so, would it be OK to close this issue?

[2019-04-26 15:46] nicojs commented on #1525
❤️ Thanks a lot! Keep spreading the word 🥇

PR #1527 should fix it. After a green CI build I'll merge it and release a patch version

[2019-04-26 16:04] #1525 closed

[2019-04-26 16:12] MHeironimus commented on #1525
@nicojs Thank you for your help. Renaming the `files` property in the `mochaOptions` property of my `stryker.config.js` to `spec` fixed the issue I as having.

[2019-04-26 16:56] nicojs commented on #1525
Updating to `1.3.1` should do the trick

[2019-04-27 02:46] davesag commented on #1525
Hi @nicojs I have updated to `1.3.1` and removed the `maxConcurrentRunners: 2` line from the config.  This works fine locally on my Mac but it's still failing on CircleCI with the mutation tests timing out.

see https://circleci.com/gh/davesag/amqp-delegate/147

[2019-04-27 03:02] davesag opened #1528 "All tests being run despite config. "Failed find coverage data for this mutant, running all tests.""
### Summary

see https://github.com/davesag/amqp-event-tester

I have two sets of tests, unit tests and integration tests.  I have configured stryker to run the unit tests (using the same config as I use in other projects that do not exhibit this issue) but stryker complains "Failed find coverage data for this mutant, running all tests." then runs both the integration and unit tests.

### Stryker

[2019-04-27 03:04] davesag commented on #1525
Note when I put `maxConcurrentRunners: 2` back in it runs fine again.  Also I now see it exhibiting the same behaviour on my local Mac. Weird.

[2019-04-27 04:08] davesag commented on #1528
Note the same is happening with https://github.com/davesag/wikiscores

[2019-04-27 08:38] simondel commented on #1528
Thanks for opening this issue! Unfortunatly, I'm unable to run your projects. An `npm install` only installs some of your dependencies. It for example skips stryker, mocha and nyc in both projects. I also can't install cross-env to get your project to run on Windows.

Environment:
Node v10.15.3
npm 6.4.1
OS Windows 10 Pro

[2019-04-27 08:47] davesag commented on #1528
How about the other one, wikiscores, linked above.

[2019-04-27 08:49] davesag commented on #1528
Sorry I don’t have access to a Windows machine.

[2019-04-27 09:47] nicojs commented on #1525
Definitely weird. I will investigate further. Synchronisation problems during cleanup.

[2019-04-29 05:21] nicojs commented on #1528
@davesag I was able to install your project on my (WSL and windows) machines. I can reproduce the warnings: 16 in total. For example:

[code]

However, I don't see any evidence that it's running the integration tests. For example, I can see you've added a console.log in your integration tests:

[code]

But when I run stryker with `--fileLogLevel trace` it doesn't end up in my stryker.log file. Als

[2019-05-01 11:50] louiskenyon98 commented on #1528
Please note I have a very similar issue. I have a project with mock files within the __tests__ directory, the mock files have the extension .js - and despite my jest and stryker config explicitly excluding those files, stryker still runs all tests.

The only workaround I have found is to change the file extension on the files I do not want to run.

Just confirming @davesag that you are not the onl

[2019-05-01 14:04] davesag commented on #1528
Thanks @louiskenyon98

Hi @nicojs sorry for the delay in response.  When I run the mutation tests I see this warning

[code]

So actually, yes you are right, it's **not** running the integration tests (phew) (there are 22 unit tests that run and it runs 22 tests) but the message implies that it is.  So that's my bad and I apologise for leading you astray there.

Maybe it's because of the `/* istan

[2019-05-02 07:03] nicojs commented on #1516
Not sure why we care about browsers. Stryker only runs on node. We can use https://node.green/ as a resource, but we also feel confident relying on our travis build for this.

[2019-05-02 08:02] nicojs commented on #1528
😅 that might be it. I will take a look. Thanks for the clarification.

@louiskenyon98 could you open an issue for your problem with Jest? It sounds like a bug.

[2019-05-02 08:27] louiskenyon98 commented on #1528
@nicojs No problem, I'll get that opened as soon as possible. I also have a OOM issue with Stryker on another project, so I'll get an issue for that open shortly too.

[2019-05-02 18:09] kmdrGroch commented on #1516
if you want to support Node8+ I guess es2018 should work too (not sure in 100%, but most likely), if not, es2017 is going to work

[2019-05-03 06:12] davesag commented on #1528
@nicojs I've just experienced the same `Failed find coverage data for this mutant, running all tests.` in a client project in which I just added a bunch of `/* Istanbul ignore next */` statements, so there definitely appears to be an issue with that.

It would be really nice if Stryker were to also ignore stuff that istanbul is specifically told to ignore.

[2019-05-05 22:55] hazems commented on #291
I see this issue on my Mac book as well.

[2019-05-07 21:03] cwouter commented on #291
I've got the same problem on my mac. Has someone tried to run it inside a linux docker container?

[2019-05-09 08:51] nicojs commented on #291
Thanks for the reactions and the demo repo.

@simondel do you think you could test it out on mac hardware using SockTrader?

[2019-05-10 18:22] kmdrGroch opened #1542 "Current version build not passing"
It seems that the current version has some issue (node-sass not found) and so it says on GitHub that your build is failing
![image](https://user-images.githubusercontent.com/28489774/57548509-641aa300-7361-11e9-94be-70d38a6a1b33.png)

[2019-05-13 09:52] nicojs commented on #1542
Yep, working on it in my spare time. We're having problems with the cleanup after a run. Sometimes the cleanup results in an error, producing an exit code 1. This can be reproduced with our perf tests on linux.

Thanks for reporting 🙇

[2019-05-17 07:18] simondel opened #1551 "SourceMapConsumers should be destroyed"
With source-map 0.7.0, a `SourceMapConsumer` should be destroyed by calling `myconsumer.destroy()`

We create a consumer once for every instance of a `SourceMapper`. We could call `destroy` on disposing those instances.

[2019-05-17 07:19] nicojs commented on #1551
Calling destroy on the source maps would mean that our source map mapper instance should be disposable as well. We should use typed-inject's dispose functionality for this.

[2019-05-17 09:16] nicojs commented on #621
I think this can be a pretty easy fix.

Handle the `loadError` event in karma:

[code]

Should be passed from the `StrykerReporter` to the `KarmaTestRunner`.

[2019-05-17 09:23] #1261 closed

[2019-05-17 10:53] cwouter commented on #291
@nicojs , can we reopen this issue or create a new one?

[2019-05-17 12:08] riezebosch commented on #291
Protip! With Azure pipelines you get hosted macOs agents for free and when creating an open source project you can even link to your github repo.

<img width="1286" alt="Screenshot 2019-05-17 at 14 06 35" src="https://user-images.githubusercontent.com/1427334/57927008-265fd200-78ad-11e9-93bd-a1a210883e31.png">

[2019-05-17 18:44] cwouter commented on #291
Thanks for the protip. I tried to apply it to SockTrader, but unfortunately build fails immediately. Seems to be Jest related instead of Stryker. [See Azure pipeline build](https://dev.azure.com/woutercleymans/SockTrader/_build/results?buildId=2&view=logs).

[2019-05-18 04:16] davesag commented on #1525
I note this is all fixed in Version 2.  Thanks.

[2019-05-21 07:21] skyboyer commented on #1435
it works for my non-CRA application but I had to put
[code]
and remove `config` entry from `stryker.conf.js` to make it run without errors

[2019-05-22 10:39] Prerna237 commented on #977
Could you name the dependency that was causing this problem? I am facing a similar issue here

[2019-05-23 09:50] gran33 commented on #717
Any updates on this issue? Or any workaround?
Using `Jest@24.8.0`

[2019-05-23 19:43] nicojs commented on #717
I'm afraid the workaround that I specified is the only one for now. The issue in Jest is being tracked here:

https://github.com/facebook/jest/issues/5356

[2019-05-24 05:27] davesag commented on #1542
@nicojs yes I am seeing the cleanup error you mention.  Only on Linux though and not on macOS.  See https://circleci.com/gh/davesag/amqp-simple-pub-sub/272 for example.

The solution appears to be to set the number of test runners to 2.

[code]

This appears to relate to #1525

[2019-05-24 17:55] trollepierre opened #1559 "make stryker command failed each times when less than 80% of mutants are killed"
### Summary

make stryker command failed each times when less than a certain percentage of mutants are killed

[2019-05-24 19:17] kmdrGroch commented on #1559
@trollepierre isn't it available as a threshold? https://github.com/stryker-mutator/stryker/tree/master/packages/core#thresholds-object

[2019-05-24 19:32] trollepierre commented on #1559
Yes! my bad! Thanks

[2019-05-24 19:32] #1559 closed

[2019-05-24 19:33] trollepierre commented on #1559
Maybe the documentation doesn’t mention it enough...

[2019-05-25 16:24] JeroenVanSteijn opened #1560 "Stryker es6 import not working on typescript + mocha"
I have searched and tried all related issues. They are mostly related to turning off coverageAnalysis and having ts-node so not needing `transpilers: ['typescript'],`

### Summary

When I setup using `stryker init`, put in the configurations and run `stryker run` I get the following error:

[code]

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[c

[2019-05-27 15:49] dgrcode opened #1561 "Could not inject "optionsFactory". Inner error: Cannot find module 'react-scripts/package.json'"
### Summary

I just installed stryker globally and run `stryker init`. I answered the following:

By the way, I loved the `|STRYKER| ~control the mutants~` output.

Then I run `stryker run` and I got the following output
[code]

Any help would be really appreciated. Looking forward to using this tool.

PS. Very clean and thorough issue template 👏

### Stryker config

[code]

### Stryker environmen

[2019-05-27 19:03] jRichardeau opened #1562 "Stop running tests when block test failed (optimization)"
### Summary

This is not a bug but a question of how to optimize stryker run.

My team and I want to use stryker to validate our tests efficiency but the duration of the execution is a big issue for us.

So I would like to know if we could optimize it ?

For instance could test runners stop testing code blocks if the "block mutator" fails ?
This could avoid executing some tests that will always fa

[2019-05-27 19:08] jRichardeau commented on #1561
I had this issue because my react application was not build with _create-react-app_.

Try this configuration for jest in stryker.conf.js :

[code]

[2019-05-28 05:41] nicojs commented on #1542
Most definitely related to #1525. This might sound silly, but I'm actually waiting on TS3.5 release later this month, as that hopefully solves a compile error in the [async dispose branch](https://github.com/stryker-mutator/stryker/tree/feat/async-dispose). At least, the compile error seems to be solved with 3.5-rc.

TypeScript seems to have problems with [typed-inject](https://github.com/nicojs/t

[2019-05-28 05:43] nicojs commented on #1561
Yeah, this message is the smoking gun: `"Cannot find module 'react-scripts/package.json'"`

Thanks @jRichardeau for tuning in!

We should improve the error message here, as more people are running into this.

[2019-05-28 06:04] nicojs commented on #1559
@trollepierre

Where were you looking? We're always looking to improve our documentation.

[2019-05-28 06:08] nicojs commented on #1560
Thanks @JeroenVanSteijn for openining this issue.

Could you try to add [`require` to your `mochaOptions`](https://github.com/stryker-mutator/stryker/tree/master/packages/mocha-runner#mochaoptionsrequire-string) in your stryker.conf.js file?

[code]

[2019-05-28 06:13] nicojs commented on #1562
I'm not sure I understand this correctly. If you're just interested in the "block mutator", you could filter for only those mutations by excluding the rest. See this: https://github.com/stryker-mutator/stryker/tree/master/packages/core#mutator-object--string

Next, you could make Stryker fail your build by setting the [thresholds.break](https://github.com/stryker-mutator/stryker/tree/master/packag

[2019-05-28 07:57] simondel commented on #1562
This is quite an interesting idea! The execution, however, is a bit ticket because of a couple of reasons:
1. Mutations are often tested in parallel. If you want to stop testing 'child' mutations after the parent has survived, you need to store the parent-child relationship somehow and ensure that processes get a set of mutations instead of just single mutations.
2. Smaller mutations may make a di

[2019-05-28 08:24] davesag commented on #1542
Yet another reason to avoid TypeScript. :-)

[2019-05-28 08:50] nicojs commented on #1542
Yeah, I can understand the sentiment. However, typed-inject is an extreme example of type-safety. It makes our code more type-safe than Java with Spring or C# with .NET core.

I wouldn't want to maintain sug a big code base as Stryker without type-safety.

[2019-05-28 10:08] davesag commented on #1542
I was writing Javascript in 1995, well before I ever heard of Java and a decade before C# existed, so I've learned to love type-flexibility and a pure functional style of coding.

You might enjoy the following articles I wrote on this topic a while back (Or you might hate them — lol)

* [Don’t do `this`  —  Part One: Objects and their misuse](https://itnext.io/dont-do-this-part-one-objects-and-the

[2019-05-28 11:36] simondel commented on #1516
We're doing this now so I'll close this issue for now.

[2019-05-28 11:36] #1516 closed

[2019-05-28 11:37] simondel commented on #1506
It's done 🎉

[2019-05-28 11:37] #1506 closed

[2019-05-28 13:28] jRichardeau commented on #1562
@nicojs I should say this could prevent running unnecessarily tests ;)

Thank you for your answer @simondel, so it could be a good idea but complicated to do ?

As it I'm afraid it's not suitable for us because we can't wait 10+ minutes per file in development to validate our tests efficiency :/, even if I understand why it takes this time.

We have to think about how to integrate it in our dev pr

[2019-05-28 14:22] jRichardeau opened #1564 "React enzyme adapter fails with symlinkNodeModules=true"
### Summary

I'm using stryker in a react project that uses _enzyme_ with react adapter.

With the _symlinkNodeModules_ option to true, enzyme initialization fails with this error :

[code]

Thank you

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

jestrc.json

[code]
unitests.config.json

[code]
### Your Environment

| software         |

[2019-05-28 17:32] JeroenVanSteijn commented on #1560
Hi @nicojs thank you so much! It's fixed :)

[2019-05-28 17:32] #1560 closed

[2019-05-29 06:02] nicojs commented on #1560
Great to hear! If you want to take advantage of coverage analysis, you actually have a way of doing that. It would boost performance significantly.

In order to enable coverage analysis, you should be able to use this setup:

[code]

What this does is transpile the code with the typescript compiler for you (what ts-node does under the hood) and you use the resulting JS files to run mocha with. Fur

[2019-05-29 06:08] nicojs commented on #717
In hindsight, setting `symlinkNodeModules` to `files` might be enough to fix the issue see #1564.

[2019-05-29 06:10] nicojs commented on #1564
Interesting, so it does work with `symlinkNodeModules` set to `false`?

I think this has something to do with Enzyme or jest not being able to handle symlinked node_modules. #717 seems to have the same issue, so it might be fixed when https://github.com/facebook/jest/issues/5356 gets implemented.

If it does work with setting `symlinkNodeModules` to `false`, how would you suggest improving the doc

[2019-05-29 06:14] nicojs commented on #1562
What is your current stryker.conf.js. We might be able to help there.

We're also thinking of implementing [mutation-switching](https://stryker-mutator.io/blog/2018-10-6/mutation-switching). There are also other ideas like incremental mutation test runs.

These all take time, since we're only able to work on this project part-time.

[2019-05-29 09:14] dreina-toast commented on #1561
Hey!

Thanks for the fast response.

@jRichardeau, that made it run, thanks! 🙌  I actually had to change the default paths in the `mutate` property because I'm using `client` instead of `src`, but that was easy to figure out.

@nicojs I've seen you've marked this as a good first issue, and I'd be happy to work on it. Can you give me any pointers so I can find the right piece of code more easily? O

[2019-05-29 09:16] dgrcode commented on #1561
Hey!

Thanks for the fast response.

@jRichardeau, that made it run, thanks! 🙌  I actually had to change the default paths in the `mutate` property because I'm using `client` instead of `src`, but that was easy to figure out.

@nicojs I've seen you've marked this as a good first issue, and I'd be happy to work on it. Can you give me any pointers so I can find the right piece of code more easily? O

[2019-05-29 13:04] jRichardeau commented on #1562
`mutation-switching` is not only for scala ?

Here is my stryker.conf.js :
[code]

[2019-05-29 13:33] jRichardeau opened #1566 "enableFindRelatedTests seems to not work in jest plugin"
### Summary

I'm using stryker in a React application with jest.

When using the `enableFindRelatedTests` option of jest plugin and running stryker on all my files, all mutants are surviving as if no tests were ran (but it takes 4h :P).

If I add the `-m` option on the command line to target one file it's working for it.

Moreover running jest with `--findRelatedTests` is ok.

### Stryker config

[2019-05-29 13:41] jRichardeau commented on #1564
Yes I searched for a little while 😄, and yes it does work with `symlinkNodeModules` to false.
I think it could be documented on the jest plugin _readme_ in the `symlinkNodeModules` option ?

You think the issue comes from jest ? Not enzyme ?
And last question, does set `symlinkNodeModules` to false change something for performance ?

[2019-05-30 14:18] johnd1994 commented on #916
Hello. I  think i have a similar issue and i didnt want to bother you with another issue. I am also very new to this.

I have a test written in ES6, which imports other modules written as well in ES6.
I am trying to run stryker on it.

I dont understand how you guys @nicojs and @aviram26 succeed in it.

My **package.json** is :
[code]

my **stryker.conf.js** is :
[code]
my **webpack.config.js** is

[2019-05-30 14:37] alessandro-candon opened #1567 "LCOV path not correct after using Stryker (JEST)"
Hello,
when I run striker on circleci ( my cicd system ) and also in my local env the lcov file generated by my test system contains a "strange" path inside.

This is stryker.config.js

[code]

This is my pakage.json

[code]
When I run `jest --coverage` and I see the lcov file the path of my file analized contains
`/project/.stryker-tmp/sandbox4774938/src/app.controller.ts`
but it must be
`/projec

[2019-05-30 18:14] InfoSec812 opened #1568 "[REQ] Output Coverage report as LCOV"
### Summary

It would be nice to have a coverage report file which can be ingested by tools like SonarQube or SonarCloud

### Stryker config

Ideally, a new `reporter` option of `lcov` would be available.

[2019-05-30 20:55] nicojs commented on #1561
Sure 😅

General setup can be found here: https://github.com/stryker-mutator/stryker/tree/master/CONTRIBUTING.md

For this specific issue, the config is loaded here: https://github.com/stryker-mutator/stryker/blob/4b130c27c488b1cdfbad9540629f06b7ca293931/packages/jest-runner/src/configLoaders/ReactScriptsJestConfigLoader.ts#L17

I would suggest surrounding that statement with a try catch. If the er

[2019-05-30 21:25] nicojs commented on #1562
The concept of adding all mutations at once to the source code isn't specific for Scala. We think it could also have a big impact for JS. Namely not having to reload your entire project between each run just to update one mutation. We could simply load all files once and keep running the tests while switching which mutation is active.

I see you're using Jest. It's not the fastest test runner. Sin

[2019-05-31 07:14] nicojs commented on #1566
Hmm interesting. Does a normal jest run with `--findRelatedTests` work as expected? This feature was added by @RobertBroersma and it seems to work and improve performance.

Stryker uses jests public API to set [`--findRelatedTests`](https://jestjs.io/docs/en/cli#findrelatedtests-spaceseparatedlistofsourcefiles) to the file that is mutated.

[2019-05-31 07:28] nicojs commented on #1567
👋 Hi @alessandro-candon

Are you running Stryker before or after regular unit tests? Did you checkin in the `.stryker-tmp` folder by accident maybe?

When you configure jest as a test runner in Stryker, Stryker should should run it with `collectCoverage` set to `false`: https://github.com/stryker-mutator/stryker/blob/948166bb2d18b46df95a3214167eacbad5376802/packages/jest-runner/src/jestOverrideOpt

[2019-05-31 07:35] nicojs commented on #1568
Wow, that would be cool! 😍

We're preparing to change the inner workings of stryker in order to use [mutation switching](https://stryker-mutator.io/blog/2018-10-6/mutation-switching). It would mean that we'll instrument the code with all mutants at once. It also means that we'll be able to remove the dependency on istanbul (code coverage instrumenter), since we'll be able to collect coverage direc

[2019-05-31 12:56] jRichardeau commented on #1566
Yes as I said running jest with --findRelatedTests is ok.

If i do `npx stryker run -m source/App.js`, it's working for this file, but `npx stryker run` doesn't work for any file (looks like no test ran).

[2019-06-01 19:55] unlight commented on #1450
@simondel @nicojs
Faced with same issue
Looks like it is jest issue https://github.com/facebook/jest/issues/8520
Stryker creates temp folder with name `.stryker-tmp`

[code]

After renaming temp folder to `stryker-tmp` without dot
[code]

Can we configure name of the temp folder?

[2019-06-04 12:31] trollepierre commented on #1559
I was looking here:
https://stryker-mutator.io/stryker/quickstart

[2019-06-05 13:08] vlaraort opened #1573 "Use stryker with @open-wc karma-esm plugin"
### Summary

I am trying to make stryker work in a currently developed project. It's testing development is based in karma as a runner, and mocha as a framework. But it has a caveat, it uses [karma-webpack](https://github.com/webpack-contrib/karma-webpack) to preproccess the files.

I have tryied to make it work with a stryker.conf.js like this

[code]
But it never kills a mutant, my feeling is th

[2019-06-05 16:39] nicojs commented on #1573
Thanks @vlaraort for reporting this issue. Your configuration should work as far as I can tell. Indeed, Stryker _always mutates sources_ (albeit in a sandbox directory), never transpiled code.

With your current setup, Stryker should copy your project to the sandbox and mutate code from there while running karma to verify the mutants. Problems might occur because you have absolute paths inside you

[2019-06-05 20:36] trollepierre opened #1574 "Test suite failed to run with react-intl"
### Summary

My project uses https://github.com/formatjs/react-intl to handle language.
My tests are all red, but `stryker run` failed to start because of React-Intl (and translation)

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node

[2019-06-05 20:47] trollepierre commented on #1574
fix : i added the transations that were gitignored

[2019-06-05 20:47] #1574 closed

[2019-06-07 09:15] vlaraort commented on #1573
Sure! here you have it :)

https://github.com/vlaraort/sample-riker-karma-webpack

The information that I found creating the sample project, is that if I remove the gitignore, all the node_modules folder are included into the riker-tmp folder, and it works properly. But this shouldn't be the way, as in big projects this can be a real memory issue.

Thank you for all the help and the awesome projec

[2019-06-07 09:53] nicojs commented on #1573
Problems seem to arise from `@open-wc/testing-helpers`. You're importing that and it fails to resolve if your running from a place other than right next to the `node_modules` folder. Any ideas?

[code]

I will need to investigate this further but I'll probably don't have more time today...

[2019-06-07 09:59] nicojs commented on #1573
Probably has to do with this middleware (loaded by `@open-wc/testing-helpers`):

https://github.com/open-wc/open-wc/blob/master/packages/karma-esm/src/middleware.js

[2019-06-07 13:05] vlaraort commented on #1573
I have upgraded the project downgrading that dependency, now it don't have that issue. Sorry about that

[2019-06-07 13:25] nicojs commented on #1573
I've opened https://github.com/open-wc/open-wc/issues/481.

[2019-06-07 13:32] vlaraort commented on #1573
oh cool! thank you for your support! lets keep this on hold until the people of open-wc can help. I am also going to try to reach them. Thanks again!

[2019-06-07 20:40] nicojs commented on #1573
I've opened another issue with the _actual problem_ with karma-esm.

https://github.com/open-wc/open-wc/issues/484

I've also updated the title of this issue to more accurately represent the problem.

[2019-06-10 17:33] kmdrGroch opened #1581 "automated speed tests for functions"
I am currently working on speed test library, which would take stryker code, transform it and proceed speed test (Test setup will look like integration test [basically you run 1 integration test], so it goes through all / most functions and reports which of them takes how much time to execute).

The rule of these tests will look like:
Let's take all source code of your src, transform all functions

[2019-06-12 05:58] vlaraort commented on #1573
Hi nicojs! thank you for all the support!

In any case, I am updating my karma dependencies, to use the legacy config of the @open-wc library, so in my use case I am not using the karma-esm file, I am sticking to a webpack-karma configuration.

With this configuration, the issue is the original defined in the first post, the mutation testing runs without problem, but the mutations are applied on t

[2019-06-12 11:38] nicojs commented on #1581
I wouldn't `console.time` functions all over our source code, no. It's also not as simple. Your example already has a mistake in it. `console.timeEnd("hello")` isn't getting called since the function already returned to the caller.  This would work:

[code]

What are you trying to achieve exactly?

[2019-06-12 12:36] kmdrGroch commented on #1581
Measure which function drastically improve execution time (I know it didn't work, it was just to show how +- it would llook like)

[2019-06-15 11:38] kmdrGroch commented on #1581
Update on the topic:
I have finally managed to parse the whole stryker repo (after tenths of failures),
Right now I am going to work on decreasing parsing time, adding a configuration.
After long thinking I guess, the whole script could be triggered by your 'perf' script, since it seems to fit the best for it.

[2019-06-16 10:00] kmdrGroch opened #1586 "Problems with testing"
Hello again dear Nico and Simondel,
Since again I have some time to help with your project I started with cloning installing and running your code. And there is a problem,

It crashed 3 times in a row (first time probably coz I haven't used 'npm run build')
the second one was of course with timeout in stryker\stryker\packages\webpack-transpiler\test\unit\compiler\WebpackCompiler.spec.js,
but the l

[2019-06-16 10:36] kmdrGroch opened #1587 "JasmineTestRunner.spec.ts - missing properties"
![image](https://user-images.githubusercontent.com/28489774/59562906-07cb3300-9033-11e9-83f4-17065ed617bc.png)

I dunno if your VSCode cries about it too, but mine says like in 10 places, you are missing some properties or that given property doesn't even exist in Jasmine.
If it is intended, ok, if not I guess *to be fixed*

[2019-06-17 16:54] kmdrGroch opened #1588 "consistency in files naming"
small issue related to folders and files.
I have noticed that in most of the cases you are using "registerChaiPlugins", where all lines are the same. But you have one file, in "HTML-reporter" - "chaiHelpers" with the same code, but another name. It should be the same name I guess.

[2019-06-17 16:58] kmdrGroch opened #1589 "Update dependencies + fix issues related with that"
By mistake, I have updated some of the files (it was typescript), and after some bug fixing related to that, I have noticed that you are missing a lot of @types and most of them are obsolete!
for example:
currently installed
[code]

current:
[code]
some of them don't have super changes but other like sinon / mocha are quite obsolete
\+ you in one package i have noticed you don't use @types for jes

[2019-06-18 08:24] Djaler opened #1590 "ttypescript support"
I use [ttypescript](https://github.com/cevek/ttypescript) with [ts-transformer-keys](https://github.com/kimamula/ts-transformer-keys) plugin in my tests. And it works correctly with Jest. I just need to specify the compiler:
[code]
But this doesn't work with stryker:
`TypeError: ts_transformer_keys_1.keys is not a function`
Is there a way to override typescript compiler in Stryker?

Documentation

[2019-06-18 10:02] Djaler opened #1591 "Strange symbols in html report"
![image](https://user-images.githubusercontent.com/7964583/59673050-4bf03c00-91c9-11e9-8141-953381f1bd96.png)

[2019-06-18 10:56] Djaler commented on #1450
So what about it?

[2019-06-18 23:05] unlight commented on #1450
Suggested workaround in facebook/jest#8520 replace `<rootDir>` by real absolute path.

[2019-06-19 03:05] Djaler commented on #1450
Can't help in this case because <rootDir> is dynamic when I run `stryker run`.

[2019-06-19 08:12] Djaler commented on #1450
It works correctly when I changed temp directory name to `stryker-tmp` in source code (right in node_modules, just for test). So, can you rename it or at least add config option to rename it?

[2019-06-20 12:18] gran33 commented on #717
I set the `symlinkNodeModules` to `false` (not to `files` ;) but I get another error:

[code]

Any idea how to make it work?

[2019-06-20 13:06] trollepierre opened #1593 "Add the ability to add gitignored files inside the config: files"
### Summary

Here:
https://github.com/stryker-mutator/stryker/tree/master/packages/core#files-string

I would like to be able to add my translation files that are gitignored. I run a command to update them.

[2019-06-20 16:48] kmdrGroch opened #1594 "maintenance: rename Types / Interfaces / Enums"
Lurking through the code I can see that all types, interfaces, enums, are just ex 'strykerOptions'. It doesn't give a lot of info about what it is (especially in imports). Since we are using a lot of types, some may be the same in different packages (Range is already in Typescript).

My idea is to rename all of them, so it is easier to know, what exactly we are dealing with (without going to decla

[2019-06-20 17:27] kmdrGroch opened #1595 "More issues with types"
Well, I won't come into details. In pull request #1585 you can see that a lot of types are misused.

It is also related to #1589 and #1587

[2019-06-24 09:06] nicojs commented on #1588
Yeah should be, feel free to fix that in a small PR. 👍

[2019-06-24 09:07] #1591 closed

[2019-06-24 09:09] nicojs commented on #1590
Well, we just run jest as you would via the command line. No smart integration there. Maybe the problem is at parse & mutate time? Could you attach a stryker.log file to this issue? Thanks

[2019-06-24 09:20] Djaler commented on #1590
There are nothing interesting. But this is what I have in the output:
[code]

[2019-06-24 09:24] nicojs commented on #1589
With regards to TypeScript 3.5, I'm waiting for the fix for https://github.com/microsoft/TypeScript/issues/31676 to be released (will hopefully be 3.5.2). After that I we will be able to update TypeScript itself.

TL;DR;
I'm happy to accept a PR that changes all `^` (minor version) ranges to `~` (patch version) ranges. For more info on `^` and `~` see https://docs.npmjs.com/about-semantic-versioni

[2019-06-24 09:28] Djaler commented on #1590
I tried to run tests manually in `.styker-tmp/sandbox123` and they fail too. But they works when I run them outside the sandbox

[2019-06-24 09:29] nicojs commented on #1590
I'll be the judge of that 😅

This is really interesting. The error does occur in the test runner part. As far as I know, the `@stryker-mutator/jest-runner` requires you to "bring your own jest", so I would expact that to work.

Would it be possible to create a small reproduction repository that illustrates this issue? That is usally the fasted way for us to fix issues like this, because the wide r

[2019-06-24 09:32] Djaler commented on #1590
I mean that I see nothing interesting in log file. Trace that I send you is from terminal output

[2019-06-24 09:32] nicojs commented on #1587
It has to do with updated jest typings, correct?

👍 we're happy to accept PRs for this.

[2019-06-24 09:35] nicojs commented on #1586
I think this has to do with wct only supporting java 8 and below. You're probably on a newer version. I kind of have a love-hate relationship with WCT, [as you can see with the amount of issues reported by me](https://github.com/Polymer/tools/issues/created_by/nicojs).

Apparently, [wctlocal@2.1.4 should support Java 8+](https://github.com/Polymer/tools/issues/3398#issuecomment-499601025).

We're

[2019-06-24 09:37] nicojs commented on #1590
Yeah, terminal and logfile have the same output. No worries, I just found it a bit funny.

A small repro repo should help us to find the issue.

[2019-06-24 09:39] nicojs commented on #1593
Hi @trollepierre thanks for opening this issue.

I think you linked the correct stryker option. With https://github.com/stryker-mutator/stryker/tree/master/packages/core#files-string you can override the default behavior of ignoring certain files.

Or is there some other feature you're requesting here?

[2019-06-24 09:47] nicojs commented on #1594
A kind of [hungarian notation](https://en.wikipedia.org/wiki/Hungarian_notation) for naming types, interfaces and enums is not recommended for typescript. Using an `I` for interfaces is something that you do a lot in C#, but it is also not accepted in the larger typescript community.

I'm of the opinion that the code should speak for itself and be clear, no matter what the exact type of things is.

[2019-06-24 09:51] trollepierre commented on #1593
Can you please give an example how to do add every file, except gitignored files, but with one exception file that is ignored?

[2019-06-24 09:52] Djaler commented on #1590
https://github.com/Djaler/stryker-jest-ttypescript-bug-example

[2019-06-24 14:29] kmdrGroch commented on #1589
@nicojs what about mocha, we are using version  "@types/mocha": "^2.2.44", where the newest one is "^5.2.7",

[2019-06-25 17:46] Djaler commented on #322
Hey, any news/plans about this?

[2019-06-25 17:56] Djaler commented on #1334
Hey, @nicojs. Looks like this was implemented - https://github.com/microsoft/TypeScript/pull/31432

[2019-06-25 18:13] Djaler commented on #1472
This is very important to me. I have so many props in my vue components library. Example
[code]

And Stryker applies ObjectLiteral mutator to prop definition. I do not need to test this case, because this is just a some kind of type definition.

[2019-06-25 19:15] gbarrion4ccor opened #1600 "Directory /tmp/logs not created in the sandbox"
### Summary

When I run stryker (stryker run), I have an error because the tmp/logs directory of the sandbox doesn't exist. If I create this directories during the step "InitialTestExecutor Starting initial test run. This may take a while." the tests run.

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

[code]

### Your Environment

| softw

[2019-06-25 20:13] nicojs commented on #1334
Yep, looks like it. Not sure if it is already released though, I don't think so.

[2019-06-26 14:07] kmdrGroch opened #1606 "maintenance: order in imports"
It would be a big PR to order all imports in files. The order would be like this:

External imports (all packages) (sorted alphabetically)
Internal imports (files in that package) (also sorted alphabetically)

It will make everything a bit more readable I guess, and for sure more convenient and easier to access

[2019-06-26 14:10] kmdrGroch opened #1607 "maintenance: export default names vs file names"
Maybe a bit controversial subject, so I am waiting for your opinion on that.
I do believe that when you are doing 'export default' the function name (or class name) should be the same as a file name. For example, you have a file called 'babelReporter' but you export 'babelProvider', sth like this.
and imports, I guess it should be used the same way:

import babelReporter from 'babelReporter'

inst

[2019-06-26 20:47] jmpresso commented on #322
I don't think Carlos is working on it any longer. I know one of us made a fork to work on it, and made some progress to at least creating the history file, but then it got put on hold. I think there also is still a lot of work needed to migrate to the new version of Stryker, and finish the implementation. It's possible it will get picked back up at some point, but not sure. I know we have also bee

[2019-06-27 13:28] kmdrGroch opened #1610 "perf: reduce next stryker runs"
I have been lurking through issues and files, and I have found, that we could improve stryker performance, by checking, which files have been updated since the last commit.

The easiest way would be:
`git diff HEAD^ HEAD --name-only`

we could use this command in JS simply with exec or spawn:

`const child = require('child_process');`

`child.spawnSync('git', ['diff', 'HEAD^', 'HEAD' ,'--name-only

[2019-06-27 13:41] kmdrGroch commented on #656
I do believe it can be closed :)

[2019-06-27 13:49] JoshuaKGoldberg commented on #656
Ha, good catch @kmdrGroch. Thanks 😄

[2019-06-27 13:49] #656 closed

[2019-06-27 17:26] kmdrGroch opened #1611 "slowly prepare to drop node 8 support"
Since Node 8 is ending its life in 2019-12-31, we should slowly start preparing at least 'todo' list (half a year seems to be a short period of time, but we might run out of time).

- I guess all 'promisify' stuff will disappear since node 10 supports promised version of most of functions (in node 10 it's experimental - in node 12 it's stable)

It might be a chance to release Stryker 3.0,
maybe do

[2019-06-28 05:38] AlexTeixeira opened #1612 "Newbie - Unable to generate HTML report"
### Summary

I'm newbie with stryker and I'm not able to generate/find the mutation html report :(
Is not a big problem because I have the console result, but HTML is better for reading and to look at the other mutations :)

### Stryker config

[code]

### Stryker environment

[code]

## Test Runner

[code]

### Test runner environment

NPM Test as configured simply :` test: jest`

JEST Config fil

[2019-06-28 11:33] kmdrGroch commented on #1612
I am using config like this:
[code]
and html reporter works. Maybe try adding 'transpilers' and 'testFramework'?

[2019-06-28 18:46] AlexTeixeira commented on #1612
thank, it revealed the folder with the files.
Seems that with hidden folder activated or by terminal, the folder did not appear.

thanks :)

[2019-06-28 18:46] #1612 closed

[2019-06-29 18:41] kmdrGroch commented on #1594
we should create our own personalized tslint config so everything will be documented there (we can take all available properties and set them accordingly to our needs) [i can prepare prepare PR for both tslint config and contributing.md)

[2019-07-01 05:11] #1588 closed

[2019-07-01 05:12] nicojs commented on #1606
Is there an auto-fix tslint setting for it? If not, I would be against this fix. @simondel would you agree with strict ordering of imports?

[2019-07-01 05:15] nicojs commented on #1607
I agree with that. I think if it's not in sync, it got out of sync without us realizing.

[2019-07-01 05:20] nicojs commented on #322
We're not actively working in it. We've also decided to start implementing #1514 since that will give us a lossless performance boost. This might be something we would consider doing after that.

[2019-07-01 05:30] nicojs commented on #1611
This is a bit early IMHO 😅

As for your issues.

* #1589, #1472, #1473, #1457, #1610 can be done whenever we want. No need to wait for a major release, since they shouldn't require a breaking change.
* #1514 requires a major change in how mutation is done. I've discussed this face to face with @simondel  and the easiest thing will be to build it next to the current mutation implementation and let

[2019-07-01 05:31] nicojs commented on #1514
This would require a major change in how mutation is done. I've discussed this face to face with @simondel  and the easiest thing will be to build it next to the current mutation implementation and let people opt-in with an `--expermimentalMutationSwitching` command line flag (or something like it). That way we can actually release it before we remove the old implementation while keeping it all ba

[2019-07-01 05:44] nicojs commented on #1594
That makes sense. But we first should try to look for ones that implement basarat's style guide (or ESlint plugins that do that).

[2019-07-01 15:06] MrCappuccino opened #1613 "HTML report doesn't display right side table for mutators"
### Summary
Here is an image of a proper HTML report with the table on the right hand side of the page:
![image](https://user-images.githubusercontent.com/10047484/60446151-0b5cdd80-9c21-11e9-83d8-576b6f598b1a.png)

However I am only getting this:
![image](https://user-images.githubusercontent.com/10047484/60446277-5a0a7780-9c21-11e9-9b23-f4aa12997a51.png)

As you can see the table on the right si

[2019-07-01 15:23] simivar opened #1614 "StrykerCli an error occurred SyntaxError: Unexpected character '#'"
### Summary

I am using Stryker with Babel as transpiller and in one of my classess I've got private property `#hash`. When I try to run Stryker on that class it fails.

Class:
[code]

Error I am getting:
[code]
### Stryker config
[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

[code]

[code]
### Your Environment

| software         | version(s)
| ------------

[2019-07-01 16:10] kmdrGroch commented on #1614
Have you tried running babel itself? Or do you have some repo we could use to test it?

[2019-07-01 16:12] kmdrGroch commented on #1594
@nicojs I could lurk a bit. If it already exists I can extend it, if not, I can make one based on basarat's style guide and 'my personal preferences'

[2019-07-01 16:15] kmdrGroch commented on #1611
@nicojs I was thinking also in dropping node 8 support which is a bit breaking (goodbye node8 users). But yea, no need to hurry, just pointing out, in my opinion, things should be done

[2019-07-01 16:16] kmdrGroch commented on #1607
It is pretty easy to solve. (I would really like to have permission to do all stuff with exports and imports at once, but it'll be a huge PR [fixing that + order in imports] (mostly order in imports))

[2019-07-01 16:17] kmdrGroch commented on #1606
@nicojs auto fix works just fine, it is really easy to do (i believe i have even prepared a branch for that PR...)

[2019-07-01 17:37] kmdrGroch commented on #1594
@nicojs I have some problem with linting, since in your styleGuide there is 'use camelCase' and you are using in dozen of files 'PascalCase'. I'll leave it for now. You will decide what to do with that later

[2019-07-02 06:25] c0ncentus opened #1619 "Error with simple Mocha test"
Hello, I completly not understand why strykker have this pattern "test/**/*.js"
1 im in  typescript config
2 I search on all my project this pattern, no match on all my project...
3 all i want is a simplest way to test stryker on my preference setting ...

### Summary

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

Tsconfig
[code]

### You

[2019-07-02 08:13] c0ncentus commented on #1619
https://github.com/stryker-mutator/stryker/issues/704 i will see this maybe i done with that

[2019-07-02 08:13] #1619 closed

[2019-07-02 08:27] kmdrGroch commented on #1613
'expand all' button doesn't open it? And these reports look completely different. I think docs are outdated or we can get 2 different HTML files [I mean styles, like buttons. Maybe lack of right part is caused by that too(?)]

[2019-07-02 08:47] kmdrGroch commented on #1610
After small rethinking, options would be `enableGitOptimisation: boolean | string = false`
if true - by default it would be `HEAD`.  `string` is just an initial commit from which it should watch files and stryker will check all files between that commit and what is now  `git diff string --name-only` command

[2019-07-02 09:09] MrCappuccino commented on #1613
No, the expand all button does not open the right side table.

[2019-07-02 10:46] simivar commented on #1614
@kmdrGroch https://github.com/simivar/stryker-issue-1614

[2019-07-02 13:57] kmdrGroch commented on #1614
@simivar Thanks for showing that. It is an issue. After a short investigation, I have found that code is transpiled at first, but then after passing to mutate it, it is not transpiled at all(?) quite strange thing
![image](https://user-images.githubusercontent.com/28489774/60518545-07dd5b00-9ce2-11e9-9b22-c141a92db681.png)
![image](https://user-images.githubusercontent.com/28489774/60518580-10ce2c

[2019-07-02 17:32] Djaler commented on #1610
What about merging the results?

[2019-07-02 18:00] kmdrGroch commented on #1610
@Djaler merging the results?

[2019-07-02 18:03] Djaler commented on #1610
I mean reports

[2019-07-02 18:41] kmdrGroch commented on #1610
I don't quite understand @Djaler what you mean :/

[2019-07-02 18:47] kmdrGroch commented on #1614
@simivar I might have found a solution.
In stryker/packages/javascript-mutator/src/helpers/BabelHelper.ts, there is no support for this syntax. I guess we need a PR to add these plugins in there :)
@nicojs ^ :)

[2019-07-02 18:49] Djaler commented on #1610
I mean that by running stryker only for changed files you will get report only for this files. But we need to see the whole picture

[2019-07-02 19:14] kmdrGroch commented on #1614
@simivar I think I have nailed it :)
![image](https://user-images.githubusercontent.com/28489774/60539723-b0ed7b00-9d0d-11e9-91d9-ca39c3423eea.png)
So...
Problem in stryker is, as i said, missing plugins in stryker/packages/javascript-mutator/src/helpers/BabelHelper.ts
[code]
These 3 are missing (probably classProperties aren't necessary but still I have included them.

The second (it is quite bre

[2019-07-02 19:23] kmdrGroch commented on #1610
@Djaler So we have two options...
1. Combine reports - it will be super hard to achieve (at least thinking about it right now)
combining reports would have to get some metadata of previous mutation (JSON or another format),
then it should replace data of files that were changed, then it should again calculate mutation score for folders
2. Do not combine reports - it has to be fast check, so let's

[2019-07-02 19:29] Djaler commented on #1610
I think this is related to #322

[2019-07-02 19:35] kmdrGroch commented on #1610
It is slightly, yea. I think we should finish #1514 for now and maybe try this, at least using point '2' so we have an experimental version of this feature, and then we can try changing '2' into '1' :)

[2019-07-03 00:01] miguel-leon opened #1620 "ng test with @angular-builders/jest"
Hello,

I have an angular project, but I don't use karma, I use [@angular-builders/jest](https://github.com/meltedspark/angular-builders/tree/master/packages/jest).

Is there anyway I can start the tests with the angular starter (ng test) without the karma test runner?

Thanks in advance

[2019-07-03 17:43] c0ncentus opened #1621 "Error Chdir with sandbox"
hello

### Summary

### Stryker config

[code]

### Stryker environment

[code]

[code]

### Test runner environment

[code]

tsconfig.json

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| node             | v10.15.3
| npm              | 6.9.2
| Operating System | windows 10

### Add stryker.log

[code]

[2019-07-03 18:33] kmdrGroch commented on #1621
@c0ncentus I guess the problem is that you are using `const something = require('./hello')`.
Add `.js` to your require and it should work (if it is not it. Let me know and if you can provide some repo)

[2019-07-03 21:14] c0ncentus commented on #1621
https://github.com/c0ncentus/TestQuality

no js file but only ts files ...

Strykker not handle typescript ? : /

[2019-07-03 21:44] brooknovak opened #1622 "Support excluding files via System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute"
People are familiar with the System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute to mark files for exclusion of test coverage.
Plus we want to report the line coverage using the inbuilt dotnet test coverage tooling, for our most of CI/CD pipeline cases (where we use the ExcludeFromCodeCoverageAttribute). And use Stryker for pull request builds (since it really slows the build time to

[2019-07-03 22:32] kmdrGroch commented on #1621
It does handle it. Let me investigate it :/ it is quite strange there is an issue

[2019-07-03 22:42] kmdrGroch commented on #1621
Yea indeed it is very strange... I think @nicojs or @simondel should take a look since I have no idea why is it going on :/

[2019-07-04 05:53] nicojs commented on #1612
Great to hear you found the report! Have fun mutation testing 👽.

For anyone else facing this problem, the option is called `reporters` (not `reporter`). This changed since a year or so ago and got deprecated before we removed it completely in the 1.0 release.

[2019-07-04 06:06] c0ncentus commented on #1621
here the log file

[code]

[2019-07-04 06:06] nicojs commented on #1619
Hi @c0ncentus you got it fixed? Have fun mutation testing! 👽

[2019-07-04 06:11] nicojs commented on #1613
@MrCappuccino we actually removed the right-side table (and didn't update the example screenshot) when we moved the functionality to the https://github.com/stryker-mutator/mutation-testing-elements web component library .

We thought it was more of clutter, as it didn't present any additional information. Do you really miss it? If so, what information are you missing exactly? Any feedback is welco

[2019-07-04 06:13] nicojs commented on #1620
Hi @miguel-leon 👋  Thanks for your interest.

We actually didn't have time yet to implement this feature. Do you have any idea how @angular-builders/jest works? Is it just calling jest? Or adding some more magic. Once we know that, we should be able to support it with our jest-runner stryker-mutator plugin.

[2019-07-04 08:32] MrCappuccino commented on #1613
What I found useful is that it explicitly tells you what mutation happened and what was replaced in the code.

[2019-07-04 16:09] miguel-leon commented on #1620
Hello @nicojs ! Thanks for your response.

I know it uses a recent angular-cli api called [builders](https://angular.io/guide/cli-builder) which was a replacement for `ng eject`. To make it work one only has to plug out the builder `@angular-devkit/build-angular:karma` in the `angular.json` and plug in `@angular-builders/jest:run` after installing `jest` and `@types/jest`.

It has to be ran with `

[2019-07-04 19:42] nicojs commented on #1610
Great discussion here ❤️

The problem with only running Stryker on changed files can not always be trusted. Let's say you only change test files in a PR. There is no way to verify exactly which mutatations should be retested. So it would only works for changes made to source files to be mutated.

I think it's pretty easy to add a small part of code to your stryker.conf.js file to do this. Or use t

[2019-07-04 19:45] nicojs commented on #1613
Cool, feel free to open an issue at mutation-testing-elements. I'm closing this one since the problem is not with Stryker itself.

Note: by fixing this issue in mutation-testing-elements, other mutation testing frameworks using the same report will also benefit from any improvements we make.

[2019-07-04 19:45] #1613 closed

[2019-07-04 19:47] nicojs commented on #1622
Hi, @brooknovak 👋 welcome to the club.

I believe this is an issue related to [Stryker.NET](https://github.com/stryker-mutator/stryker-net). Feel free to [open an issue there](https://github.com/stryker-mutator/stryker-net/issues/new/choose)

[2019-07-04 19:47] #1622 closed

[2019-07-04 20:02] nicojs commented on #1620
Yeah, the current implementation is hardcoded to karma. We use [`ng test` from inside a sandbox process (worker process)](https://github.com/stryker-mutator/stryker/blob/e6c727fc307eda1394ebc232c145781ecd912a28/packages/karma-runner/src/starters/angularStarter.ts#L36-L47) and hook up to it by [supplying our very own karma.conf.js](https://github.com/stryker-mutator/stryker/blob/8e63157d2b04916523b

[2019-07-04 20:15] nicojs commented on #1621
Fixed with https://github.com/c0ncentus/TestQuality/pull/1

[2019-07-04 20:15] #1621 closed

[2019-07-04 20:16] nicojs commented on #1621
Happy to help 😅

[2019-07-04 20:26] nicojs commented on #1614
This should never be needed (at least, not when running from inside a git repo).

Indeed @kmdrGroch is correct.

The [@stryker-mutator/javascript-mutator]() right now brings it's own babel and babel plugins. Feel free to [add more plugins here](https://github.com/stryker-mutator/stryker/blob/f0dd4303d0bdfc77b554b9a45cd004d53c271f90/packages/javascript-mutator/src/helpers/BabelHelper.ts#L16-L24) in

[2019-07-04 20:30] nicojs commented on #1472
Note: mutation switching is tracked in #1514. Once we have that (and one parser and AST), this feature should be easier to implement. Let's keep this in mind when we implement #1514

How would you prefer to exclude these? I would guess that you don't want to add `// stryker-mutator ignore next` everywhere in your code.

[2019-07-04 20:35] #1594 closed

[2019-07-04 21:29] kmdrGroch commented on #1614
@nicojs I suggest using `babelPlugins` with `javascript` mutator like so: `mutator: { name: 'javascript', excludedMutations: ['BooleanSubstitution', 'StringLiteral'], babelPlugins: [] }`

I don't know however what about Typescript.

[2019-07-05 05:45] c0ncentus commented on #1621
here my config file for anyone have this issue 🥇

[code]

[2019-07-05 16:15] miguel-leon commented on #1620
Hi @nicojs,
I see what you mean. I think it may be possible doing something similar with jest since `ng test` can be used with the argument `--config-path` instead of using `--karma-config`. The argument `--progress` is unknown though.

The thing is I know little about how test runners and reporters work. I didn't realize you had to do that config wrapping to specify your custom reporter. I'd have

[2019-07-05 19:25] Djaler commented on #1472
Yeah, it would be cool to exclude such cases by regexp. Or by custom filter function that will take AST node as argument with possibility to check parent nodes

[2019-07-06 18:47] simivar commented on #1614
Wouldn't it be better to use transpillers settings? It seems like this option would be a duplicate.

As I think about it... what are transpilers for? Shouldn't mutations be run on transpiled files? Then that problem would cease to exist.

[2019-07-06 19:23] kmdrGroch commented on #1614
I guess the problem is in reporting @simivar... Like you get 'your code' in reports not compiled one. If we pass compiled code, you will get reports for ES5(?) babel code

[2019-07-07 00:50] kmdrGroch commented on #1614
and take a look @simivar that names of babelPlugins are different in these 2 places...
'classPrivateProperties',
'classProperties',
'classPrivateMethods',

vs

"@babel/plugin-proposal-class-properties",
"@babel/plugin-proposal-private-methods"

[2019-07-07 20:18] gohackfelipe opened #1624 "Stryker and Mocha Integration"
### Summary

Hi all,

I'm new at stryker and I've tried to build a POC so that i learn about mutation tests.

My project have the follow structure:

![image](https://user-images.githubusercontent.com/15708865/60773214-b6b1da80-a0d8-11e9-948d-c9141c1826a0.png)

However when I run the stryker it says 'Mocha test run completed: 0/0 passed'. I'd like to understand the reason about it.

### Source Code

[2019-07-08 04:45] nicojs commented on #1624
Could you try this?

[code]

`files` was renamed to `spec` to align with mocha's options in the 2.0 release of Stryker. Where did you find the reference to `files`? We might need to update more documentation.

[2019-07-08 10:21] trollepierre commented on #1593
I didn't succeed in doing it. :S

[2019-07-08 12:08] gohackfelipe commented on #1624
Hi @nicojs , thanks for you answer !
After change to 'spec' it works. However I received another error.

It looks like a tentative to delete the temp folder. But stryker cannot .

[stryker.log](https://github.com/stryker-mutator/stryker/files/3368245/stryker.log)

[2019-07-09 07:26] kmdrGroch opened #1628 "maintenance: consistency in variables names"
Another maintenance idea:
One naming convention in variables names.

It may be pretty easy to execute since in #1615 I have added plugin for it.
Options are:
[code]

More info: https://github.com/ajafff/tslint-consistent-codestyle/blob/master/docs/naming-convention.md

[2019-07-11 05:55] #1542 closed

[2019-07-11 06:04] nicojs opened #1634 "Race condition in ChildProcessProxy can result in incorrect handling of OutOfMemory errors"
We're using [`childProcess.on('exit')`](https://nodejs.org/dist/latest-v12.x/docs/api/child_process.html#child_process_event_exit) to detect that a child process exited unexpectedly. We're also relying on the scanning of stdout and stderr output to determine if the process exited because it was out of memory. However, the exit event can be raised before all stdout and stderr data is received.

Thi

[2019-07-11 06:40] #1634 closed

[2019-07-11 15:35] nicojs commented on #1624
Yeah, we have some trouble with the cleanup of our child processes. That should be fixed with #1534 . I'll do a release later today so you can test it.

[2019-07-11 18:05] nicojs commented on #1624
Released, could you test again with version 2.0.2

[2019-07-12 07:45] nicojs commented on #1624
Closing this issue for now, as the original problem is fixed. Please open a new issue when the error still happens on 2.0.2

[2019-07-12 07:45] #1624 closed

[2019-07-12 08:02] nicojs commented on #1628
Great! Please create a PR for this.

Just to confirm, the following will be valid variable names:

[code]

The following are **invalid**:

[code]

[2019-07-12 08:10] nicojs commented on #1620
The jest-runner plugin doesn't use a custom reporter to retrieve the test results, no. However, I do think you need it in the case of `ng test`, since running the `ng test` command only results in an "exitCode" (which is pretty much useless).

As you can see, the [jest-runner relies on the `RunResult` which is retrieved from running jest programmatically](https://github.com/stryker-mutator/stryker

[2019-07-12 08:24] nicojs commented on #1606
In that case: I'm all for it. Could we also make sure that imports of core nodejs modules are above imports of other externals?

[2019-07-12 08:25] nicojs commented on #1607
You mean permission to do #1606 ? Go ahead, 2 birds with one stone

[2019-07-12 08:31] nicojs commented on #1586
Wouw!! I had this issue yesterday as wel. It was a problem with Stryker! It occurred on Windows with Node12.

I fixed it in #1635. If not, please open a new issue. Thanks!

[2019-07-12 08:31] #1586 closed

[2019-07-12 08:34] nicojs commented on #1600
This might have something to do with your tests. Does your `winston/transports/file.js` file create a temp file by any chance?

This might be fixed by adding a dummy file inside your repo `tmp/logs/.gitkeep` (`.gitkeep` is a convention often used to make sure directories exist in the repo).

[2019-07-12 09:09] kmdrGroch commented on #1606
I can make it like this:

external modules from node (sorted)

external modules other than node ones (sorted)

internal modules (sorted)

(this new line between is intended. If no new lines are added it will look like:
external modules (all, sorted)
internal modules (sorted)
)

[2019-07-12 09:13] kmdrGroch commented on #1628
Looks nice :) I will be able to make PR for that soon.

[2019-07-12 09:14] kmdrGroch commented on #1607
I can do it as soon as we clarify #1606

[2019-07-14 10:24] kmdrGroch commented on #1628
@nicojs I have some problems with `private` methods. Ex in `File.ts` you are using `getters` and so I can't do:
[code]

[2019-07-14 18:59] rhpereda opened #1639 "trasnpile with esm"
**Question**
Is possible to run stryker mutation tests with ESM for load the ES6 code?

Every time i run it agains a small simple nodejs project that use ESM, stryker throws an exception related to the imports and exports syntax used is ES6.

Any help will be appreciated.

Thanks in advance

[2019-07-15 06:29] kmdrGroch commented on #1639
@rhpereda what about using babel transpiler? Stryker doesn't support `import` and `export` since Node doesn't support it too.

[2019-07-15 08:46] kmdrGroch commented on #1526
Solved by #1615

[2019-07-15 08:46] #1526 closed

[2019-07-15 08:48] kmdrGroch commented on #1492
Can someone check if it is still an issue?

[2019-07-15 08:48] kmdrGroch commented on #1257
Isn't it fixed by now?

[2019-07-15 08:50] kmdrGroch commented on #1282
Since it is not fixable, I guess this issue can be closed

[2019-07-15 10:55] nicojs commented on #1593
I see... this isn't possible at the moment, no. You would need to add glob expressions for all files you want to add explicitly.

I've added the feature tag to this issue. How would you expect us to support this (without a breaking change)? We could add a flag like `fileResolvingStrategy`... or add a magic string constant that you need to put as first in the `files` array, like `!!gitfiles` or som

[2019-07-15 11:03] nicojs commented on #1492
Closing this for now. @xoadrian feel free to comment if this is still an issue, so we can reopen this if needed.

[2019-07-15 11:03] #1492 closed

[2019-07-15 11:07] nicojs commented on #1282
Thanks @kmdrGroch , feel free to open a PR on our handbook to explain what it is and why we can't do anything about it (or choose to not do anything about it)

[2019-07-15 11:08] nicojs commented on #1257
I don't think so, feel free to give it a shot, it should pretty straight forward

[2019-07-15 11:49] kmdrGroch commented on #1282
I can add a section 'equivalent mutants', describe it a bit and add these I have found

[2019-07-15 12:23] rhpereda commented on #1639
Thanks for the reply, use babel could be one option, but is not that simple, i will need to rewrite some code for it. That's why i decided to ask if the mutator support esm as es6 loader, but suppose the easier and faster way to go is migrate to babel. Thanks!!
Appreciate the help!

[2019-07-15 13:34] kmdrGroch commented on #1639
rewrite code for babel? I think you would only need to change some config files and thats all (maybe I am missing a point since I have never used esm

[2019-07-15 15:04] nicojs commented on #1282
That would be great! It will help others and give us something to point to if others find this issue.

[2019-07-15 15:11] nicojs commented on #1639
Hi @rhpereda esm is certainly something that we can support. Which test runner are you using and how is it registering esm in normal testing use cases? Then we can figure out how Stryker should load it.

Generally, we like to keep your testing configuration in line with how Stryker runs your tests.

[2019-07-15 15:19] nicojs commented on #1628
What's the problem? Probably `_content`  and `_textContent` aren't allowed? Change the name to `innerContent` and `innerTextContent` respectively.

[code]

Most definitely not. I want `File` to be `readonly`. Having them writable might lead to obvious bugs.

This results in a `StackOverflowError` 🤓

[2019-07-16 01:58] rhpereda commented on #1639
Hi @nicojs, thanks for the reply and the interest to support ESM in stryker. In answer to the questions you made:
- My test runner is mocha
- i run the unit test like this: `NODE_ENV = test mocha -r esm ./test/unit --recursive`, and the integration in a similar way.
- Also use nodemon for dev, and executed like this: `nodemon start.js`, where the` start.js` file contains this configuration:
`
requ

[2019-07-16 04:56] nicojs commented on #1590
I'm getting the same error from jest directly 🤷‍♀️

[code]

[2019-07-16 05:13] nicojs commented on #1639
Thanks for your reply.

Did you try the `require` mocha options in stryker.conf.js? It is documented here: https://github.com/stryker-mutator/stryker/tree/master/packages/mocha-runner#configuring

I think that should solve the problem.

[2019-07-16 07:15] Djaler commented on #1590
@nicojs Sorry, fixed it. Check latest commit

[2019-07-16 16:32] RuudVerhoef opened #1645 "Problem running Stryker."
I am trying to run Stryker but I must be doing something wrong as I can not get it to work properly.

I am running Stryker using Mocha 6.1.4 as a test runner.  As I do not want to install anything globally I installed Stryker using the command: "npm install --save-dev @stryker-mutator/core".

After going through the set up my stryker.conf.js looks like:

[code]

I added the files and mutate array'

[2019-07-16 20:03] nicojs commented on #1645
You're specifying `files` here. With `files` you select _all files needed to run your tests_. The default is to use your local git repository, which is normally what you want. So removing it would probably fix your issue. This is documented here: https://github.com/stryker-mutator/stryker/tree/master/packages/core#files-string

[2019-07-16 20:41] RuudVerhoef commented on #1645
I was trying to run it in a non-git project.

I just "git init" the project and removed the files array, Running Stryker then yields this error:
![image](https://user-images.githubusercontent.com/43232271/61327467-46623200-a819-11e9-868f-342f28133596.png)
Besides the error, I also wonder what the initial test run does. It states it ran 1 test but I know there are 3 tests written (split up in 2 fil

[2019-07-17 03:54] rhpereda commented on #1639
Hi @nicojs , i manage to make it work using the `testRunner: "command"` option, like this:
`module.exports = function (config) {
    config.set({
        thresholds: {
            break: 80
        },
        mutator: "javascript",
        packageManager: "npm",
        reporters: ["html"],
        testRunner: "command",
        commandRunner: {
            command: 'npm test'
        }
    });
};

[2019-07-17 11:28] nicojs commented on #1639
The command runner should always works yes. The mocha runner will be a lot more performant and should work with ESM as well. I'll add the setup with ESM to the [stryker-handbook](https://github.com/stryker-mutator/stryker-handbook). Is that where you were looking @rhpereda?

[2019-07-17 12:23] kmdrGroch commented on #1606
@nicojs What about this ^? (I haven't found an option to autofix to the state you want. I can only do default one / manually sort them)

[2019-07-17 13:02] gohackfelipe opened #1646 "Mutants generated. Is it possible to know ?"
**Question**

Hi guys,
Some questions:

**1.** Is it possible to know how many mutants will be generated for a specific javascript code ?

**2.** In positive case, could I know what type of mutation was applied?

I'd know this information before to run the _stryker run_ . Could guys give me an ideia for how get it ?

[2019-07-17 13:59] rhpereda commented on #1639
Actually no, i was looking at this: https://github.com/stryker-mutator/stryker/tree/master/packages/core#readme. I wasn't able to found how to do this in the handbook, also the handbook documentation only mention three guides: https://github.com/stryker-mutator/stryker-handbook#readme, would be really helpful to add the commandRunner in here. I wasn't able to make it work with mocha-runner thats w

[2019-07-17 19:43] LarsDenBakker commented on #1573
Sorry this took a bit longer, but we've completed re-implemented our testing testing setup. It now properly makes use of karma's base path, can you see if it works for you now?

[2019-07-17 19:45] nicojs commented on #1606
Than let's do the default one, if that is the autofixable one. We need autofix, otherwise you'll go mad :)

[2019-07-18 06:14] kmdrGroch commented on #1606
Sure. 'Delivery is assumed to be in 5 days' ;D

[2019-07-18 06:18] kmdrGroch commented on #1646
Isn't stryker show how many mutants are created?
When you get result, you see (or at least saw in previous versions), which mutation was applied

However you can't get this number before running stryker. You could estimate it on your own, by checking your code, but for bigger projects it would be impossible.

I dont know why would you like to know number of mutants before running stryker, but if @

[2019-07-18 06:32] Djaler opened #1647 "Do not mutate types"
Just look at this report part:
![image](https://user-images.githubusercontent.com/7964583/61434297-4019a600-a93e-11e9-8f37-862f15c232ea.png)

**Stryker config**

[code]

**Stryker environment**

[code]

**Add stryker.log**

[stryker.log](https://github.com/stryker-mutator/stryker/files/3405064/stryker.log)

[2019-07-18 07:40] kmdrGroch commented on #1647
I don't think it is a bug. Since you are using constants in interface, it is like you would make class
[code]
so it is normal it will be mutated to `false`.

If you don't want it to be mutated, use `.d.ts` files. Otherwise i think it is correct to mutate it :/

[2019-07-18 11:27] kmdrGroch commented on #1282
Where exactly should i document this issue in handbook? I can't find the best matching place :/

[2019-07-18 18:52] Djaler commented on #1647
I don't think so. Such things will not compile at all if I'll have some implementations for this interfaces

[2019-07-19 21:44] gohackfelipe commented on #1646
Actually I'm studying how to build something like stryker-runner.
My intention is to build an artifact able to run any source to mutate, unit test using your own dataset as webserver api.

To understand how many mutants will be generated get a batch processing flexibility.

However, understanding your answer, I have found that this is not a good way to keep on.

[2019-07-20 21:38] kmdrGroch commented on #1646
Basically, as I understand, Stryker first of all generate all mutants and count them. If you want to do it without generating them, honestly I don't know the best way to achieve it.

[2019-07-21 23:44] rodoabad opened #1653 "React `propTypes` mutation."
**Question**

When we're writing  React component, we typically write `propTypes` validations so we know that the props we're passing to a component is of the correct type.

Stryker is mutating these though even though they are for development purposes.
<img width="503" alt="Screen Shot 2019-07-21 at 6 41 29 PM" src="https://user-images.githubusercontent.com/1240667/61598744-8c3b4380-abe7-11e9-8a8

[2019-07-22 06:42] kmdrGroch commented on #1653
For now i guess this is a bug. I don't see workaround. We might need to add some option to exclude given line or sth like this, the way it is done ex. in tslint or eslint

[2019-07-23 07:02] simondel commented on #1647
Thanks for bringing this to our attention! This is something we should fix in my opinion.

[2019-07-23 07:05] simondel commented on #1653
Hi! Right now this is not possible to exclude. We have a general feature request for this: #1472
As there is a general issue open, I'm closing this issue for now.

[2019-07-23 07:05] #1653 closed

[2019-07-23 08:30] Djaler opened #1655 "Run only related tests on initial run"
With jest testRunner Stryker executes tests for mutations with `--findRelatedTests` flag by default. Maybe initial test run should be with this flag too? This can increase performance for large code base if I mutate few files

[2019-07-23 12:53] trollepierre commented on #1593
Where?

Adding a flag like `fileResolvingStrategy` would be the simplest solution to me.

Optional values would match:
- all files => `all`
- all gitfiles => `gitfiles`
- `custom` (in that case, follow what is inside `files`

What do you think about it?

[2019-07-23 16:27] kmdrGroch commented on #1472
@nicojs, @simondel I am working on this and it looks quite nice for now :)
![image](https://user-images.githubusercontent.com/28489774/61729464-91c79380-ad77-11e9-9f32-2e832ce932e8.png)

[2019-07-23 19:15] simondel commented on #1655
I don't think the test runners really know if they're running an initial run or not. It's not really a flag.

What makes you think that the setting is not on during the initial run?

[2019-07-23 19:17] Djaler commented on #1655
Because I see tests count

[2019-07-23 19:19] simondel commented on #1593
With the exception of your node_modules folder, what is in your .gitignore right now? You could also work by adding all files and then excluding what you don't want.

Also, why would you like to have a file in the sandbox that is not in your git repo? What kind of file (or files) are we talking about?

[2019-07-23 19:21] simondel commented on #1472
Nice one @kmdrGroch! That looks promising! What is your end goal regarding syntax and features?

[2019-07-23 19:23] simondel commented on #1655
Fair enough 👍  Do you also see that during the first runs while testing mutations?

Since we copy your files to a sandbox, all files may be 'changed/touched' in the first run. Jest may have to run all tests once to build a new baseline so it can start doing incremental runs in the future.

[2019-07-23 19:34] trollepierre commented on #1593
I am talking about the translation, that we get from an external service (Phraseapp).
The en.json and other language json are not committed during development. But are necessary to test the app.

[2019-07-23 19:35] Djaler commented on #1655
Hmm, I'll try to debug this case tomorrow

[2019-07-23 19:45] kmdrGroch commented on #1472
@simondel I am going to make features like these:
`stryker-enable` (or `stryker: enable`) [I don't know yet since I want the easiest to debug/write]
`stryker-disable` (same pattern everywhere)

these 2 are to enable/disable globally (In a current file of course)

these 2 are fully implemented right now + `stryker: disable-next` (only for 1 mutation)

I have also been working on disabling the first

[2019-07-23 19:48] leobenkel commented on #1472
Maybe you could use the same syntax as `ScalaStyle` : http://www.scalastyle.org/configuration.html

[2019-07-23 19:55] kmdrGroch commented on #1472
looks nice !

[2019-07-24 06:40] kmdrGroch commented on #1472
So after rethinking it I think I will make options like:

// stryker:on    - globally switches mutations on
// stryker:off    - globally switches mutations off

// stryker:on mutationName
// stryker:on ArrayLiteral
// stryker:off ArrayLiteral, ArrayNewExpression, ...
(switches on / off specific type of mutations [using stryker:on/off will reset these too. //stryker:on used after //stryker:off Arra

[2019-07-24 06:42] kmdrGroch commented on #1472
@nicojs, @simondel, any thoughts?

[2019-07-24 06:59] kmdrGroch opened #1658 "update and integrate `stryker-mutator/stryker-plugin-seed`"
I can see, there is a repository called stryker-mutator/stryker-plugin-seed, but it seems to be outdated.

We could add it's updated version here in some `modding` or `development` section.

[2019-07-24 07:31] Djaler opened #1659 "Option to disable initial test run"
On my CI system I always run Stryker after the normal run of tests. So, I don't need Stryker to run this tests again.
What about simple command line flag `--disableInitialRun` or something similar?

[2019-07-24 07:35] kmdrGroch commented on #1659
@Djaler Stryker has to run tests again in order to check for mutants are being killed or not.
Unless I don't understand your question.

[2019-07-24 07:36] Djaler commented on #1659
I talk about initial run (which Stryker use to check, if there are no errors without mutants)

[2019-07-24 08:09] nicojs commented on #1282
Just on the top level a document called "Equivalent mutants" would be great

[2019-07-24 10:43] #1307 closed

[2019-07-24 10:44] #1191 closed

[2019-07-26 08:03] Djaler commented on #1655
Looks like InitialTestExecutor doesn't provide `mutatedFileName` arg to `sandbox.run`. And because of this initial tests run for all files.

[2019-08-08 09:17] #1278 closed

[2019-08-08 09:18] kmdrGroch commented on #1271
Since we are using TSLint, is it nessesary to use prettier?
If not, we can close this issue :)

[2019-08-08 09:19] #1282 closed

[2019-08-08 09:20] kmdrGroch commented on #444
hasn't it been solved yet?

[2019-08-08 09:34] kmdrGroch opened #1667 "repo (mostly docs) cleanup"
We should make some clean up repository, and possibly update documentation a bit.

Cleanup:
- `docs` folder should be removed if it is not needed.

Documentation:
there is an issue in https://github.com/stryker-mutator/stryker/tree/master/packages/util
since `download` and `node` badges are not displayed as intended

Updating `main` README / somehow merging with `core` README. Since they are +- 1

[2019-08-08 09:36] kmdrGroch opened #1668 "add `maintenance` 'issue type'"
could we make a template for `maintenance`?

Things like adding docs, new styles, things to refactor etc. All these issues could be marked as `maintenance`

[2019-08-08 09:37] kmdrGroch commented on #1249
shouldn't it be closed?

[2019-08-08 11:17] kmdrGroch opened #1669 "add Code of Conduct"
It is very important to remember about it, and i think we should have one.

For some info / content:
https://www.contributor-covenant.org/version/1/4/code-of-conduct
https://www.contributor-covenant.org/
https://en.wikipedia.org/wiki/Code_of_conduct

[2019-08-13 14:45] shaunswales commented on #613
What's the current situation with this as we are running 2.0.2 and still getting this issue.

[2019-08-14 12:15] shaunswales opened #1680 "All tests timing out when using Stryker & JEST with Typescript?"
**Question**
Have you seen all tests timeout before when using Stryker & JEST with Typescript?

**Stryker environment**
[code]

[code]

**Additional context**

I have used the same version of plugins on a repository which is just targeting normal JS files and it works fine.

I only seem to be having this issue with Typescript.

Also, I have tried doing minimal files and I still get the same result

[2019-08-14 15:04] SeanAlexanderHarris commented on #1561
Hej :),

Same issue more or less. Where would the jest config be by default? Got some jest details in the package.json but nothing in a separate file far as I can see?

Thanks :)

[2019-08-15 01:05] apalaniuk opened #1681 "Plugin hook to filter/select AST nodes for mutation"
Currently, entire files have mutations applied to them. #1660/#1472 will allow inline disabling of mutations, but a programmatic approach of selecting which AST nodes to forward for mutation (eg. via a plugin hook) could allow mutation testing more easily in other workflows; for instance, only applying mutations to lines in a VCS diff, which can make it more possible, in certain circumstances, to

[2019-08-15 09:11] GeorgeWL opened #1683 "As part of Init, add .styrker-tmp folders to gitignore"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

By default the stryker temp folders don't seems to be git ignored, this can be frustrating if one forgets to set it as git ignored.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

detect g

[2019-08-15 13:21] kmdrGroch commented on #1681
@apalaniuk you can provide some easier explanation, give a better example? I could implement this idea, but honestly, your "story" was too long for me to fully understand :x
We could work on it since 22.08, due to my holidays right now.

[2019-08-15 13:22] kmdrGroch commented on #1683
@GeorgeWL do I understand you would like to add "*.stryker.tmp" to the .gitignore file? Or inform the user that he should do it?

[2019-08-15 13:26] kmdrGroch commented on #1680
@shaunswales thanks for reporting this. Is it possible for you to provide us some repository, explanatory code to check this?

[2019-08-15 13:50] GeorgeWL commented on #1683
the former, automatically.

The alternative of warning the user might make sense though.

[2019-08-15 14:11] apalaniuk commented on #1681
No problem.

Allowing users to programmatically select which code is mutated (and which mutations are applied) would allow for more flexibility than current inline approaches (#1472) or proposed future config-based approaches.

The context, since this seems to have been suggested in the past (eg. #1464, or [this comment](https://github.com/stryker-mutator/stryker/issues/1472#issuecomment-508844762

[2019-08-16 12:10] JoyalJoyMadeckal opened #1684 "Stryker run command is throwing Emit error!"
I am trying run stryker on my repository. Its in react js. It has thrown me a number of lint errors. After fixing all the lint errors in my code I am getting the below error
"ERROR StrykerCli an error occurred Error: Emit error! Could not emit file"

[2019-08-19 13:27] vitalets opened #1686 "How to run stryker from outside the project?"
**Question**

I want to run stryker (js) on my project from time to time.
For that reason I don't want to keep styker and it's dependencies in my package.json.
First I tried to globally install `stryker-cli` and created `stryker.conf.js` inside my project. But that is not enough. It asks to install stryker locally anyway:
[code]
Then I've created `/stryker-run` directory next to `/myproject` and t

[2019-08-19 20:47] simondel commented on #1686
You may also need to change the relative path for the mocha runner so it's config also points to `../myproject/**/*.spec.js` and such.

[2019-08-19 20:48] simondel commented on #1684
What command are you running that causes this issue?
Also, does it log anything else?

Ps: if you already have a stryker.conf.js, could you post it?

[2019-08-20 04:56] JoyalJoyMadeckal commented on #1684
Stryker installation was successful and configured stryker. Then on running "stryker run" I am getting this error. Image Attached
![image](https://user-images.githubusercontent.com/54176822/63318621-b68e3700-c334-11e9-99d1-b3e7978bf174.png)

My stryker. conf.js file
![image](https://user-images.githubusercontent.com/54176822/63318669-e2a9b800-c334-11e9-9fe5-0251db43685b.png)

[2019-08-20 05:33] simondel commented on #1684
What does Jest do your Typescript transpiling? If so, you can remove the transpilers and tsconfig settings from the Stryker config.

[2019-08-20 05:37] simondel commented on #1680
Hi! Could you post your Stryker.conf.js?

If there's a `translilers` option in there, could you try running it without it?

[2019-08-20 06:12] JoyalJoyMadeckal commented on #1684
Jest is my test framework.
This is the error I am getting
![image](https://user-images.githubusercontent.com/54176822/63321761-4802a680-c33f-11e9-8f90-c1670ae092b1.png)

I will remove the transpiler and try.
Our jest is configured in tsconfig

[2019-08-20 06:31] JoyalJoyMadeckal commented on #1684
I have removed the transpiler and have run.
Now I am getting the following error.
![image](https://user-images.githubusercontent.com/54176822/63322940-366ece00-c342-11e9-9140-4e92d644399e.png)

[2019-08-20 07:31] marabesi commented on #1230
Hello guys, how is it going? I came across this issue using a standard create-react-app + jest application.

[2019-08-20 13:23] jmtelljohann commented on #1230
I am experiencing the same issue with a NestJS application + Jest

[2019-08-20 15:41] enyfour5 commented on #1315
Hi @nicojs is this issue beginner friendly? If so, I would like to help out. Can you please point me in the right direction as to where to find the specific issue and what needs to be done? I'm already reading your contribution guidelines so I can get started. Thanks!

[2019-08-22 05:51] nicojs commented on #1646
As @kmdrGroch explained, there is currently no way to know what mutants will be generated.

I don't truly understand your reason for it. Do you want to badge process? It's probably easiest to do this on file level using the `mutate` property to steer which file you would like to mutate in a badge.

[2019-08-22 06:18] nicojs commented on #1593
I've got another suggestion.

NYC has a similair feature. It ignores node_modules by default, even if you override it with an `exclude` property. It than allows you to override this behavior [using --exclude-node-modules=false](https://github.com/istanbuljs/nyc#including-files-within-node_modules).

We can do this as well by providing a `--include-repository-files` flag. @simondel do you agree? Th

[2019-08-22 06:31] nicojs commented on #1658
I think we should delete it. This repo was mainly there to help us start new repositories before we migrated everything in 1 monorepo using lerna. Plugin creators tend to make their own setup anyway. I've created a small document here: https://github.com/stryker-mutator/stryker-handbook/blob/master/stryker/api/plugins.md that explains how to create and use plugins. That should be sufficient. I'm a

[2019-08-22 06:31] #1658 closed

[2019-08-22 06:58] nicojs commented on #1659
I understand the sentiment, but the initial run is _vital for mutation testing_.

I know you can run your tests and they will pass, but it is important to know that Stryker can do so as well. Stryker runs your tests very different than you yourself do. It creates sandboxes and copies your files to there to create isolation. The sandboxing of your files alone can be enough to make your tests fail.

[2019-08-22 07:53] Djaler commented on #1659
Yeah, I agree that tests can fail in sandbox (#1590)

[2019-08-22 08:26] shaunswales commented on #1680
`  mutate: [...thefileList],
    reporters: ['html', 'clear-text', 'progress', 'dashboard'],
    mutator: 'typescript',
    tsconfigFile: 'tsconfig.json',
    packageManager: 'yarn',
    testRunner: 'jest',
    testFramework: 'jest',
    coverageAnalysis: 'off',
    jest: { enableFindRelatedTests: false },
    htmlReporter: { baseDir: 'reports/mutation' },
    thresholds: { high: 90, low: 75, brea

[2019-08-22 09:45] JoyalJoyMadeckal commented on #1684
Can anyone help me out here?

[2019-08-22 16:36] #1606 closed

[2019-08-22 16:40] nicojs commented on #1655
Maybe the jest runner can let all mutate files be injected using typed-inject. The problem is that it would need to be provided as well in Stryker. This is something that can be done.

[2019-08-23 19:11] trollepierre commented on #1593
I was happy with the suggestion at first sight, but I wonder how can we implement custom files. 🤔

Example: I want to test every files in my .gitignore + my translation. (not more)

Moreover I am not a big fan of the naming. Using a script --include-repository-files=translations works, but what if I have other files?

[2019-08-23 19:11] trollepierre commented on #1593
@simondel :

In my .gitignore, I have /.idea, *.log, coverage, several dist, .yarn.cache, .env

[2019-08-25 13:17] Mobrockers commented on #1472
@nicojs We have had 'ignoring' mutators for a while now. We mark the mutations as 'skipped' status instead of ignore. We should probably agree on using the same status name to indicate excluded mutations.

[2019-08-27 06:18] nicojs commented on #1593
I'm not sure if you understand me. This is what your stryker.conf.js would look like:

[code]

So it would just be a flag to signal that you also want your repository files to be included.

[2019-08-27 07:14] trollepierre commented on #1593
@nicojs : ok I understand and i like this idea!

[2019-08-27 13:49] JoyalJoyMadeckal commented on #1684
[joyal.zip](https://github.com/stryker-mutator/stryker/files/3546419/joyal.zip)
This is my application where I am getting the error on srunning Stryker.
Can anyone jump into this?

[2019-08-27 16:38] nicojs commented on #1669
Sure! Great idea. Go for it!

[2019-08-27 17:11] nicojs commented on #1271
Yeah, actually, I'm looking to migrate away from tslint (since it [will be deprecated soon anyway](https://github.com/palantir/tslint/issues/4534)).

Prettier [easily integrates with linters](https://prettier.io/docs/en/integrating-with-linters.html) especially eslint. So it would still be nice to have it.

A linter and a formatter are similar, but they still do different things.

(it's just a mat

[2019-08-27 17:15] nicojs commented on #444
@simondel  and I discussed mutation switching and we think we can go back to one AST. Once we've got that custom mutators is high on the priority list.

[2019-08-28 06:13] CRACKISH opened #1688 "Angular with library run failed"
**Summary**

I have angular app with two library (core and components). In my tsconfig.json i have path to my builded library as:

`
"paths": {
      "@env/*": [
        "src/environments/*"
      ],
      "core": [
        "dist/core"
      ],
      "core/*": [
        "dist/core/*"
      ],
      "components": [
        "dist/components"
      ],
      "components/*": [
        "dist/components/

[2019-08-28 17:35] #1668 closed

[2019-08-28 19:33] jaimefps opened #1689 "All tests run, no mutants killed. What am I doing wrong?"
**Question**

Stryker seems to have installed correctly and runs fine with "stryker run" command.
However, none of the mutants die, even though we have about 85% coverage on our codebase.
All the mutants surviving seems highly unlikely in a suite of 256 tests, so I'd appreciate a second pair of eyes on my configs to see if I'm missing anything.

**Stryker environment**

[code]

[code]

**Additiona

[2019-08-29 14:18] peternedap opened #1690 "RuntimeError: memory access out of bounds on typescript + mocha"
**Summary**

When running Stryker on a typescript project I get the following error message:

[code]
I have another project with the same configuration that does not give this error.

**Stryker config**

[code]

**Stryker environment**

[code]

[code]

**Your Environment**

| software         | version(s)
| ---------------- | -------
| node             |  v11.8.0
| yarn              |  1.13.0
| Op

[2019-08-29 15:30] JoyalJoyMadeckal opened #1691 "Unable to run Stryker on react type script project--Getting error"
I have configured Stryker for my project in React Type script. But unable to generate the results. Its throwing me error on running (Emit Error.)
This is my project where i am trying to run. Can anyone suggest me a solution for this.
[joyal.zip](https://github.com/stryker-mutator/stryker/files/3556305/joyal.zip)

[2019-08-29 18:15] simondel commented on #1690
Thanks for opening this issue! Is your project open source by any chance?

And how many mutants are generated on the successful project?

[2019-08-30 07:09] peternedap commented on #1690
Unfortunately, it isn't open source.
The successful project only generates 364 mutants

[2019-08-30 09:37] peternedap commented on #1690
Some more information: It seems like 2782 of the mutations happen in a single file. When excluding this file (thus leaving 1245 mutants) Stryker is able to run successfully.

[2019-08-30 12:37] peternedap commented on #1690
It seems like there is some kind of upper limit to the `.js.map` files of about 40,000 characters. Stryker is able to run successfully when deleting enough code to remain under this limit.

[2019-08-30 14:52] BourgoisMickael opened #1692 "How to run a npm script ?"
**Question**

I'm using mocha and I want to run multiple test environment with stryker, how can I run `npm run test:unit && npm run test:integration` with stryker ?

**Stryker environment**
[code]

**Additional context**

So I have 2 separate commands to do something like `mocha test/unit/init test/unit/ --recursive` and same for integration and I'd like to run that with stryker and have a single

[2019-08-30 15:09] simondel commented on #1692
You could do this using the testRunner 'command' (see https://npmjs.com/package/@stryker-mutator/core) which allows you to specify a command to run. You will quite a bit of performance compared to this approach though since we can't optimise the test run ourselves.

I hope this helps!

[2019-08-30 15:11] simondel commented on #1690
@nicojs didn't we introduce a pushback mechanism on the transpiled mutants a while back to prevent a memory overflow?

[2019-08-30 16:43] kmdrGroch opened #1693 "Support mocha v6.2"
It seems we've got some strange errors (caused by us I suppose)

https://travis-ci.org/stryker-mutator/stryker/jobs/578878785#L2266  -  error in real life

https://github.com/stryker-mutator/stryker/blob/master/packages/mocha-runner/src/MochaTestRunner.ts#L54  -  emitting place

[2019-08-31 15:15] nicojs commented on #1693
I think this is mostly because of this change in mocha: https://github.com/mochajs/mocha/commit/15b96afccaf508312445770e3af1c145d90b28c6#diff-39b692a81eb0c9f3614247af744ab4a8

We're relying on a private api to read files and load options. Unfortunately, mocha doesn't have a public API for this. See https://github.com/mochajs/mocha/issues/3882 for more info.

If they don't provide a public api, the

[2019-09-02 07:03] nicojs opened #1697 "Update our e2e dependencies"
We should update all our e2e tests. The build reveals a lot of security warnings. Note: we should keep them locked to ensure relyable builds.

[code]

[2019-09-02 07:05] #1693 closed

[2019-09-02 07:19] peternedap commented on #1690
I've created an example which also throws a `RuntimeError: memory access out of bounds` at https://github.com/peternedap/stryker_memory_bug, though I suspect it is caused by more than 511 branches in `Broken.ts` in this case. Removing line 517 makes Stryker run the tests properly (but still hang on the reporting step).

[2019-09-02 09:04] BourgoisMickael commented on #1692
Thanks so is there a way to call stryker twice for 2 different tests but get only one report ?

For example, with `nyc` I can do something like

[code]

This way I have a new coverage report when I start the command, but then I use the same report for both tests

[2019-09-03 06:59] simondel commented on #1692
Yes, as I mentioned. You can use the command test runner: https://www.npmjs.com/package/@stryker-mutator/core#testrunner--string-

[2019-09-04 07:25] bejugamSandeep commented on #1684
Can someone help us on this issue. You will be able to reproduce the issue directly when you download attached zip file.

[2019-09-04 08:58] liweis opened #1702 "output or saving the jasmine execution contents"
**Question**
is it possible to output or saving the jasmine execution contents/reports so after running the tests we can see which case failed for one particular mutation ?

**Stryker environment**

@stryker-mutator/core@2.0.2

jasmine-runner@2.0.2

**Additional context**

[2019-09-05 05:57] nicojs commented on #1647
Although I agree with the sentiment, wouldn't the better solution be to mark the mutant as `CompileError`?

If you have an `interface` with a literal value. It should be either tested, or throw a compile error. That way you know the interface is actually being used correctly.

The TypeScript transpiler plugin reports compile errors, but only if they happen in the same file as mutation. This is don

[2019-09-05 06:19] nicojs commented on #1702
Probably even better if Stryker can just tell you which test failed, right? The jasmine output itself is currently not being used, not even outputted because the jasmine console reporter is disabled for performance reasons

[2019-09-06 05:30] nicojs commented on #1607
Since #1606 is solved, can we close this?

[2019-09-06 07:14] nicojs commented on #1692
@BourgoisMickael You mean 2 different `mocha` commands? For example `mocha test/unit` && `mocha test/integration`? You can put it in 1 `npm script` command and configure that in Stryker with the command runner. You could also make 1 mocha configuration to combine both and run it with the mocha runner plugin https://www.npmjs.com/package/@stryker-mutator/mocha-runner. Closing this question for now.

[2019-09-06 07:14] #1692 closed

[2019-09-06 08:14] #1607 closed

[2019-09-06 08:15] kmdrGroch commented on #1607
yeah forgot to close that, nice catch! :)

[2019-09-08 11:47] nicojs commented on #1691
Hi @JoyalJoyMadeckal 👋 I've managed to get it working ❤

First of all, there is an issue in more recent versions of `react-scripts`. It doesn't support directories starting with a `.`. For example `.stryker-tmp`, the temp directory Stryker creates to run its sandboxes 🤦‍♂️. See https://github.com/facebook/create-react-app/issues/7660

Luckily, we've just merged configurable temp directory: #1644.

[2019-09-08 11:47] #1691 closed

[2019-09-08 11:49] nicojs commented on #1684
This issue was republished under #1691. I've found the issue(s) and reported it in that issue. Closing this as well.

Thanks for providing a zip file for us to check out. That works a lot better 😅

[2019-09-08 11:49] #1684 closed

[2019-09-08 11:50] nicojs commented on #1691
Ah yes, forgot one more thing. You'll have to remove `transpilers` from your stryker.conf.js. Jest is a magical tool which takes care of transpiling `ts` to `js` for us. No need to "compile twice".

[2019-09-10 07:33] Djaler commented on #1647
@nicojs I think this PR can be a good temporary workaround for now, because, as you say, mutation switches are only a plans now.

[2019-09-10 11:12] Djaler commented on #1249
I don't think so. Solution form #1422 doesn't work with files that exports object. Example:
[code]

[2019-09-10 15:50] #1561 closed

[2019-09-11 10:53] trollepierre opened #1717 "npx stryker does not work anymore"
**Summary**
I used to "npx stryker run" directly on my project, but it does not work anymore

I got this error:
12:46:05 (83613) INFO ConfigReader Using stryker.conf.js in the current working directory.
12:46:05 (83613) FATAL ConfigValidator Value "undefined" is invalid for `timeoutMs`. Expected a number
12:46:05 (83613) FATAL ConfigValidator Value "undefined" is invalid for `port`. Expected a num

[2019-09-11 16:26] kmdrGroch opened #1719 "ESlint migration"
Should I start working on migration to ESlint soon?
https://github.com/palantir/tslint/issues/4534
since we are close to the `November 1st, 2019` mark, I think we could be thinking about implementing it sooner or later

[2019-09-11 16:31] kmdrGroch commented on #1717
Nice catch @trollepierre, it seems our changes in the config have been introduced that bug

[2019-09-11 16:36] kmdrGroch commented on #1717
after short investigation, are you sure you are using the latest version? It seems to be strange that your error is
[code]
Since in the source code we have
``timeoutMS`` not ``timeoutMs`` :/
it's a bit fishy to me. @nicojs any idea?

[2019-09-12 07:41] icehaunter commented on #1647
I also ran into a similar error with mutations in function overload declarations:
![image](https://user-images.githubusercontent.com/1357760/64763993-cec72f80-d549-11e9-81f7-3eb205918f42.png)

[2019-09-13 01:11] lbenie opened #1721 "Setup for a lerna repo"
**Question**

I'm trying to add stryker to a lerna repo. I'm getting unresolved imports for my sandboxed spec files. it's not importing my `__mocks__/*.ts` files.

i.e
[code]

**Stryker environment**

stryker-cli@1.0.0
[code]

[code]

**Additional context**
stryker.conf.js file
[code]

jest.config.js
[code]

[2019-09-13 12:45] kmdrGroch commented on #1719
I'll slowly start migrating our config since next week. It would be nice if you assign me so I don't forget about it ;D Also I have already known about that tool, although it still has some issues I guess I can handle it more or less :)

[2019-09-17 05:22] nicojs commented on #1719
Probably this will be a good time to introduce prettier as well (#1271) using the prettier plugin for eslint. Instead of migrating our config, we could also base our config on Airbnb's one (https://www.npmjs.com/package/eslint-config-airbnb-base), since it would save us a lot of time, as well as being aligned with somewhat of an industry standard. What do you think about this?

I'll publish a smal

[2019-09-17 08:14] mauricedb opened #1728 "stryker run not finding any tests with create-react-app"
**Summary**

When running Stryker on a vanilla React project no tests are found and executed on Windows 10.

Steps to reproduce:

- npm install -g stryker-cli
- npm i create-react-app --global
- create-react-app stryker-test --use-npm
- cd .\stryker-test
- npm test
  - press a
  - Results in: One test found and run
- stryker init
  - select NPM, React, JSX, NPM
- stryker run
  -	Note the run fails

[2019-09-17 09:46] kmdrGroch commented on #1719
well, isn't it better to keep our config like it is right now (I would like it even 'stronger' since some whitespaces are quite annoying in some places, but whatever), I will do it in a few days since I have just finished exams on the university. And sure I can work with prettier. But do you want me to add both eslint and prettier in one PR or should I make 2 separate PRs?

[2019-09-17 12:27] nicojs commented on #1719
This is an example: https://github.com/nicojs/typescript-eslint-prettier-starter

That's fine 2. It will save another dev-dependency we need to maintain, so good decision.

You can make it 1 PR, I don't mind. Let's keep a `printWidth` for prettier of 100 or something (not too small).

Much success my friend! Hope you do well! 🤞

[2019-09-17 13:30] nicojs commented on #1728
I'm pretty sure this is a duplicate of #1691 Root cause is https://github.com/facebook/create-react-app/issues/7660.

See #1691 for a workaround. Please upvote https://github.com/facebook/create-react-app/issues/7660 or create a PR for them to fix it 👍

[2019-09-17 18:07] mauricedb commented on #1728
@nicojs Agreed this is a duplicate. The workaround by adding `tempDirName: "stryker-tmp",` to the `stryker.conf.js` fixes the problem.

Not executing code in a hidden folder makes sense to me though. Feels like a potential security hole.

[2019-09-17 18:07] #1728 closed

[2019-09-18 11:06] nicojs commented on #1721
Hi @lbenie thanks for opening this issue.

Stryker should work with lerna, no problem (we're using it ourselves as well). Could you specify where the `mocks/some-models` is located on disk? Is it checked into source control?

I think you should also remove the transpiler here. Since you're using jest, it will be responsible for the transpiling (not stryker).

[2019-09-18 11:07] #1647 closed

[2019-09-18 11:08] nicojs commented on #1647
Agreed. It might be changed in the future, but for now, let's merge this in. Thanks for the feedback 👍  And thanks to @kmdrGroch for implementing

[2019-09-18 18:50] nicojs commented on #1717
I'm pretty sure the stryker.log file is outdated, since I don't see these messages there:

[code]

Can you please update it?

Also, please specify the versions of the different stryker packages:

[code]

[2019-09-18 22:19] kmdrGroch commented on #1717
@nicojs he has written in his comment:
[code]

BUT

Even if he gets that error. It is for sure outdated since in our source code we have `timeoutMS` not `timeoutMs` (capital S).

[2019-09-20 13:15] kmdrGroch opened #1732 "Cannot find module '@stryker-mutator/util' (VSCode issue)"
Basically, in each file I get an error that '@stryker-mutator/util' cannot be found. It is for sure installed, I have checked node_modules twice. Every other stryker package works just fine, only that one has some problems (at least it's one I have noticed). Do you think it is related to VSCode itself, Typescript or maybe it's our fault?

[2019-09-20 14:04] kmdrGroch commented on #1732
The same issue is with `test-helpers`

[2019-09-20 17:27] kmdrGroch commented on #1689
it shouldn't be problem for stryker to work on `/src` and `__tests__`.  Although it keeps bugging me that
[code]
Is your project open source so we could work with it or private?

[2019-09-22 02:27] amiceli opened #1733 "Is it possible to ignore specific line ?"
**Is it possible to ignore specific line ?**

For example I would to ignore that line :

[code]

**Stryker environment**

[code]

Test runners

- ts-jest@23.0.0
- jest@23.6.0
- @vue/cli-plugin-unit-jest@3.10.0

[2019-09-22 10:19] nicojs commented on #1733
Thanks for opening this issue.

Work and discussion on this is tracked in issue #1472. Closing this as duplicate

[2019-09-22 10:19] #1733 closed

[2019-09-23 19:29] jaimefps commented on #1689
It's private. If I have time later on, I'll try to create a barebones version of my code, and if the problem persists, I'll create a public repo to share. Thanks for responding.

[2019-09-23 20:55] kmdrGroch commented on #1689
thanks, @jaimefps, sorry for bothering and making you wait so much 🙏

[2019-09-23 21:25] jaimefps commented on #1689
@kmdrGroch No worries, this wasn't an urgent request.
Mutation testing still seems to be a somewhat new practice to the JS community.
I wan't to do this more as a surprise for my team when I get the chance.
I'm very excited of what mutation testing means for the quality of unit tests.

[2019-09-23 23:21] kmdrGroch commented on #1689
@jaimefps I am not good at mutation testing myself. My adventure with it began like 2 years ago, when I was in work and one person told he is doing mutation tests for his PHP code. I was like hmm, I don't even know how to write unit tests xD. After that i learnt how to do it and I was like super impressed by both tests and mutation tests. (mutation did not only improved my tests but also I could r

[2019-09-25 09:55] Djaler commented on #1249
Also, there is error even with function-style config:
`Error while reading "/home/kromanov/Projects/perimeter/frontend/babel.config.js" file: TypeError: api.cache.forever is not a function`

I debug this and see that options.babel.optionsApi is `{ cache: {}}` while I set it to
[code]

looks like the source of this problem is serializing config to plain json in ChildProcessProxyWorker.send

[2019-09-25 13:24] simondel commented on #933
Since we didn't hear anything back, we're closing this for now. If anyone wants to add it in the future. Please open a new issue.

[2019-09-25 13:24] #933 closed

[2019-09-25 13:25] simondel commented on #1158
Since I didn't hear anything back via email (as far as I can find) I'm closing this issue for now.

[2019-09-25 13:25] #1158 closed

[2019-09-25 13:25] simondel commented on #1171
Since didn't hear anything back, I'm closing this issue for now.

[2019-09-25 13:25] #1171 closed

[2019-09-25 13:26] simondel commented on #1189
@JoshuaKGoldberg Do you want to do this during hacktoberfest (starting next week)?

Or @noamyogev84 Do you still have plans to do this?

[2019-09-25 14:19] simondel commented on #1257
When implementing this, users that use the 'old' naming, should get a warning with a suggested fix.
Stryker should fix the config and continue working.

For example, the logging _may_ be:
[code]

[2019-09-25 14:35] nicojs commented on #1659
Ok, closing this issue for now. If someone thinks it is a mistake please let us know

[2019-09-25 14:35] #1659 closed

[2019-09-25 14:40] kmdrGroch opened #1743 "rename `typescript` to `typescript-mutator`"
Since we are naming packages like `transpiler`, `runner`, `framework` etc, shouldn't `typescript` be called `typescript-mutator` as there is `javascript-mutator`. A small change, but for me, that's quite annoying and each time I see `typescript` I am like 'oww... you mean typescript-mutator. Why it's not mutator. Mutator...'

[2019-09-25 15:59] Chowarmaan commented on #1158
Funny enough, I tried this with the newest version, and I still get a
couple of the constants reporting that they are not tested/covered, but
others do pass.  The test is done in a loop as specified previously.
However, running the same test on a the sample repository works fine.
Could it be large test related, as the numbers for the survivors is quite
high.  This fails in my project, but I cannot

[2019-09-26 01:41] gugacavalieri commented on #1667
Hey Guys!

I just took a quick look at the repo and I think all the docs moved to the handbook repo, am I right?
(https://github.com/stryker-mutator/stryker-handbook#readme)

And the `docs` folder in the main repo hasn't been updated in two years.

How are you handling documentation? Maybe I could give a hand with that :smile:

[2019-09-26 12:39] kmdrGroch commented on #1667
thanks, @gugacavalieri for initiative! I would like @nicojs or @simondel to opinion that too, but for now, I think adding documentation for #1731 and #1623 would be nice :3 (You can PR to my repo so I'll add it). Also it's a bit hard for me to tell where exactly docs are. Since half of them are in handbook like you said, but also a big part of them is on the website https://github.com/stryker-muta

[2019-09-26 15:21] lbenie commented on #1721
some are located in

`/packages/package1/__mocks__`

and yes they are checked in source control

Thanks I will try that!

[2019-09-26 21:21] brunachamon-hotmart commented on #1316
Any updates? I'm facing same issue =(

[2019-09-26 22:59] JoshuaKGoldberg commented on #1189
All you, go ahead 😁

[2019-09-27 07:02] simondel commented on #1743
Yeah, but it also includes a transpiler...

[2019-09-27 07:19] #1645 closed

[2019-09-27 07:19] simondel commented on #1646
This is not something we will be supporting for now. So I'm closing this issue for now.

[2019-09-27 07:19] #1646 closed

[2019-09-27 08:15] kmdrGroch commented on #1743
doesn't `vue` also include transpiler despite being called `vue-mutator`? Also `javascript-mutator` uses babel to "transpile" files so I guess it's also a transpiler at some point ;P

[2019-09-27 08:56] simondel commented on #1743
The Vue mutator extracts the JavaScript/TypeScript code from the template so it can be passed on to the configured child-mutator (JavaScript or TypeScript)

[2019-09-27 12:42] kmdrGroch commented on #1743
well ok, then it can be closed.

[2019-09-27 12:42] #1743 closed

[2019-09-27 13:20] RuudVerhoef opened #1748 "Running stryker using mocha and babel"
I am trying to run stryker using Mocha as a testrunner and Babel to be able to use the latest JS functions. Runnin only Mocha works fine but something seems to break when I try to run Stryker.
![aaa](https://user-images.githubusercontent.com/43232271/65772200-0b924980-e13a-11e9-8d06-ed90a0d4249f.png)
As you can see a lot of errors appear.
My stryker.con.js file looks like:
[code]
And my package.js

[2019-09-27 14:20] kmdrGroch commented on #1748
Thx for your report. Could you please provide `log` file?

For now, we are supporting only some of the newest features. All of them will be available (as an user input) since #1623 is merged.

Features we support:
'asyncGenerators',
'bigInt',
'classProperties',
'dynamicImport',
'flow',
'jsx',
'objectRestSpread',
['decorators', { decoratorsBeforeExport: true }] as any,

[2019-09-27 14:42] simondel opened #1749 "Angular End-to-End tests are unstable"
The Angular End-to-End tests are unstable. The mutation score differs sometimes because one specific mutant has a different state (survived instead of killed).

The mutation that survives is this Block mutation:
https://github.com/stryker-mutator/stryker/blob/8a20a17d75ee15edacae530cdbd82aafc9f0319c/e2e/test/angular-project/src/app/app.component.ts#L3-L7

Which is **mutated** into:
[code]

This sh

[2019-09-27 19:17] kmdrGroch commented on #1749
Have you tried putting
[code]
into a variable? It could be caused coz of `@Component` (somehow). It should be always changed in variable tho :/

[2019-09-28 10:16] RuudVerhoef commented on #1748
What does this mean to me as an end user of Stryker? From what I understand, some features will be available soon as the branch you refered to is merged?

What is the method for generating a log file?

[2019-09-28 11:35] kmdrGroch commented on #1748
add `fileLogLevel: 'debug'` to your stryker config, run stryker again, and post `stryker.log` file here.
But if it's really the matter of us lacking of features in babel config, then yes, unfortunately, you have to wait until that branch is merged.
the issue probably related to this: #1614

[2019-09-28 16:02] kmdrGroch opened #1751 "Github builds not running(?)"
Recently you have changed CI to Github ones, but it seems they don't actually run (they run infinitely long) for my PRs (tho they seem to work with dependabot PRs??)

Any workaround bout it or sth

[2019-09-30 09:45] RuudVerhoef opened #1754 "Not able to test mongoose models."
I am trying to test some mongoose models to see if required properties are indeed throwing an error if they are not set.

This throws a sandbox runtime error:

Is this fixable (or can I exclude test files in stryker.conf.js) or should I exclude testing this logic?

[2019-09-30 12:18] kmdrGroch opened #1755 "Update `core` readme"
`Configuration` part could be a bit better written (sorted, some parts written better)

[2019-09-30 12:20] kmdrGroch commented on #1754
You could exclude file via `mutate` or `files` option. For now, we don't support specific exclusions.

[2019-09-30 12:34] RuudVerhoef commented on #1754
I am not be able to exclude those files.

The problem is that when creating a object from a mongoose schema (what happens in the tests). Mongoose throws an error under the hood when required properties are not set. This error causes the sandbox to crash (so it seems).

I had to fix it by splitting up my tests in 2 folders. Pointing Stryker only to the folder with tests that do not throw a sandbox

[2019-09-30 16:05] kmdrGroch commented on #1754
It really seems to be a problem. If it is not an issue for you, could you please share repository, or prepare some example one, so we can work on this? :)

[2019-10-01 14:10] scaljeri opened #1758 "Could not inject "InputFileResolver""
**Summary**
After not have used my project for a while, I noticed that stryker doesn't run anymore

Here is the error when I run it

    $> yarn stryker
    yarn run v1.16.0
    $ ./node_modules/.bin/stryker run
    15:48:04 (53340) INFO ConfigReader Using stryker.conf.js in the current working directory.
    15:48:04 (53340) ERROR StrykerCli an error occurred Exception [Error]: Could not inject "

[2019-10-01 16:28] kmdrGroch commented on #1758
@scaljeri you are currently using outdated versions of stryker.
current version is `2.1.0` and it goes for `@stryker-mutator/core` as well as for other dependencies:
[code]
Right now it should be:
[code]
(while xxx is name of runner / reporter / framework etc.)

Try using current `stryker-cli`

[2019-10-01 16:31] kmdrGroch commented on #1758
current available stryker packages are:
[code]

[2019-10-01 16:43] kmdrGroch commented on #1751
fixed with #1756

[2019-10-01 16:43] #1751 closed

[2019-10-01 17:14] kmdrGroch commented on #1758
@scaljeri I created a PR for you, so this issue should be solved :)

[2019-10-01 17:19] kmdrGroch opened #1759 "inconsistency in e2e tests"
I have noticed the same issue in 3 DIFFERENT PRs about e2e tests (all 3 are failing in the same place, while they are completely different PRs so it shouldn't happen [one is passing e2e tho {the 4th one}])

[2019-10-01 19:14] #1758 closed

[2019-10-03 13:49] kmdrGroch opened #1761 "possible overflow fix"
For now, we are using an array to store mutants and files etc.
We could try a different approach ->

Transpile file -> create mutants for this file -> test mutants

instead of

Transpile all files -> create mutants for all files -> test all mutants

This could help with overflows of data (big arrays = big problems)

We would "earn O(n) space complexity for files", and speed would decrease for the

[2019-10-03 17:50] gugacavalieri commented on #1667
Cool !

I will take a look at the docs then and check where the main part is also looking for some typos or grammar mistakes :)

It's feels kind of messy right now but I think we might be able to organize it!

Let's see what @nicojs and @simondel think as well

[2019-10-04 12:44] kmdrGroch commented on #1667
@gugacavalieri My main point is to change the amount of docs. We have docs in 3-4 different places and so it's messy and hard to maintain (just look on main repo doc)
[code]

There are links to at least 2 places with +- the same docs

+ https://github.com/stryker-mutator/stryker/blob/master/packages/core/README.md#configuration
could be a bit 'more compact', alphabetized (always easier to look for

[2019-10-05 14:45] vitalets opened #1767 "Is it possible to ignore line?"
**Question**

Is it possible to ignore particular line where the known mutant lives?
Like in eslint via comment `// eslint-disable-line`.

[2019-10-05 15:38] kmdrGroch commented on #1767
it is not possible right now, although we are planning to add it in the nearest future.

[2019-10-06 15:22] gugacavalieri commented on #1755
What if we included an index like that in the `Configuration` section ?

### Configuration Properties:
* [mutate](#mutate)
* [testRunner](#testRunner)
* [testFramework](#testFramework)
* [coverageAnalysis](#coverageAnalysis)
* [mutator](#mutator)
* [transpilers](#transpilers)
* [reporters](#reporters)
* [files](#files)
* [symlinkNodeModules](#symlinkNodeModules)
* [plugins](#plugins)
* [tempDirNam

[2019-10-06 15:28] gugacavalieri commented on #1667
@kmdrGroch I just took a quick look and the docs on the website are just a quick start.

Most of the technical details are in the `core/readme` file. So I think that is the one we should improve then.

Although sometimes the `readme` redirects the user to the website or to the handbook, maybe we could include all the info that is related to the `core` in this `readme` file and maybe start improvin

[2019-10-06 16:56] kmdrGroch commented on #1755
looks good to me O.O But still I think alphabetical order is the best :/

[2019-10-08 02:16] SebasG22 commented on #1620
Hey folks,
@nicojs thanks for all your work with stryker.
I'm happy to announce that I've made a PR to support mutation testing on `nrwl/nx` workspaces.
The package includes the `mutate` builder and `configuration` schematics that will help scaffold stryker easily with the config file.
This works for `jest` and `karma`.

[2019-10-11 15:55] gugacavalieri commented on #1755
@kmdrGroch hum, that is a really good idea !

[2019-10-12 07:11] simondel commented on #1767
See: #1472

[2019-10-12 07:11] #1767 closed

[2019-10-12 07:33] simondel commented on #1761
I have thought about this as well. It has some downsides and some upsides.

### The good
* The code (and process) of Stryker becomes less complex
* It's a faily cheap (developer time wise) fix for issues that have been going on for a while
* We can run an extra test runner on the thread of the transpiler. This _may_ increase performance (if we aren't on 100% system use with the current setup)

###

[2019-10-12 21:14] simondel commented on #1749
@kmdrGroch The mutated code is default Angular code. This shouldn't cause an issue. We can't ask our users to adopt a different syntax. If this issue is due to the syntax (and not the build environment for example), it should be fixed in Stryker.

[2019-10-12 22:29] kmdrGroch commented on #1749
I know, I am just curious about the origin of that issue. Is it because decorator or some parser can't find it or what

[2019-10-13 19:23] dhuang612 commented on #1315
Hi,

I would like to work on this

[2019-10-13 19:50] simondel commented on #1315
Hi @dhuang612, welcome! If you need any help, please let me or @nicojs know :)

[2019-10-13 21:34] dhuang612 commented on #1315
created PR #1775

[2019-10-15 00:23] dhuang612 commented on #1315
I updated my PR with some comments

[2019-10-15 08:35] mauricedb opened #1779 "JavaScript heap out of memory with CRA based React/TypeScript application"
**Summary**

Running Stryker on a Create React App base TypeScript project causes an FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

**Performance profile of the application before the fatal error**

![image](https://user-images.githubusercontent.com/3197730/66814681-4e745f80-ef37-11e9-9752-9b627aa0838e.png)

**Stryker config**

[code]

**T

[2019-10-15 08:59] simondel commented on #1779
Interesting... You don't see a log message saying _'n mutants generated'_?

[2019-10-15 10:41] mauricedb commented on #1779
@simondel Yes I have seen `MutatorFacade 26902 Mutant(s) generated`.

Seems the last part of the output is missing from the log file. Guess a result of the crash. Still had a copy:

[code]

[2019-10-15 10:59] kmdrGroch commented on #1779
Since we are creating array for all mutants, it could be because of that :/ array with 26902 elements is quite a lot @simondel I guess it's kinda related to my #1761

[2019-10-16 11:07] ronenlh opened #1781 "Test runner for Roku channel development"
**Question**

I'm trying to write a test runner for Roku channel development.
The special challenge is that for the app to run, it needs to be packaged into a zip file and uploaded to the IP of the device. There are no emulators.
The test results are only available in the device logs, accessed via Telnet/Netcat on the device's IP, and then processed with Regex tools.

**Stryker environment**

Muta

[2019-10-16 12:48] nicojs commented on #1779
I'm curious to see what happens when you set `maxConcurrentTestRunners: 2`.

[2019-10-16 12:54] nicojs commented on #1761
First of all, I'm not sure the large array is the problem here. An array in JavaScript isn't an allocated block on the heap like they are in C++, C#, Java, etc.

For example: this command executes without a problem `node -e "const arr = []; for(let i=0; i< 9999999;i++){ arr.push(i); }"`

So I'm not convinced that the large array is the problem in #1779. As you can see, it managed to generate the a

[2019-10-16 12:59] nicojs commented on #1779
I'm pretty sure this line of code is the problem:

https://github.com/stryker-mutator/stryker/blob/2bb7dd8b6f605eac29ba4af0463aa0cc4f395af2/packages/core/src/mutants/MutantTestMatcher.ts#L56

We're matching all mutants to all tests. Basically creating 26902 arrays with 1531 elements in them. All small elements mind you, but this is pretty much not necessary as we know we'll have to run all tests f

[2019-10-16 13:13] mauricedb commented on #1779
@nicojs Did a quick test and looks like the same result.

`stryker.conf.js`
[code]

[code]

[2019-10-17 12:33] trollepierre commented on #1717
Sorry for the delay.
It works today, when I start a new test.
I close the issue, so

[2019-10-17 12:33] #1717 closed

[2019-10-17 19:14] cpilson opened #1785 "Stryker integration with GitHub CI/CD?"
Greetings. I didn’t see GH as a supported CI. I’d anticipate people will start using GitHub’s actions (I think this is what they’re called) to do light to moderate CI work. It may be beneficial to add support for this.

[2019-10-17 19:25] #1271 closed

[2019-10-17 19:25] #1719 closed

[2019-10-18 07:11] nicojs opened #1791 "Full report on the stryker-dashboard"
See https://github.com/stryker-mutator/stryker-handbook/issues/27

[2019-10-18 07:15] nicojs opened #1792 "Support Github Actions, Gitlab CI and Azure devops as CI providers for the dashboard reporters"
**Describe the solution you'd like**

Add Github, Gitlab and Azure Devops to the supported list of ci providers here: https://github.com/stryker-mutator/stryker/tree/master/packages/core/src/reporters/ci

[2019-10-18 07:19] nicojs commented on #1785
Hi @cpilson. I'm not sure what the issue would be to run Stryker in github actions (via a workflow) with the a [run step](https://help.github.com/en/articles/workflow-syntax-for-github-actions#jobsjob_idstepsrun). We're actually busy with that ourselves to enable running stryker on stryker in nightly builds.

Or are you referring to having it automatically send the results to the Stryker dashboard

[2019-10-18 07:19] #1785 closed

[2019-10-18 16:16] brodybits commented on #1284
I had similar troubles with the popular Prettier code formatting tool, see prettier/prettier#6681 (I limited it to CLI testing for now, as an unfortunate workaround). This was on a Vultr 16-CPU virtual server with 64 GB RAM, not good!

[2019-10-18 17:32] brodybits commented on #1284
This seems to help run Stryker on all source files in Prettier:

[code]

ref: https://stackoverflow.com/questions/38558989/node-js-heap-out-of-memory

It *may* be possible to use NODE_OPTIONS instead, as documented in the second answer. For further investigation, when I get a chance.

[2019-10-18 18:16] kmdrGroch commented on #1284
@brodybits It makes sense tho, since we store quite a lot of data, it may weight a lot. But 1.7GB, I dunno. There should be some tools to check how much data is used. I am really looking for your results!

[2019-10-18 18:32] brodybits commented on #1284
Yes but not such a good experience. I am discussing my progress in hopes that some others will start watching, experimenting, and contributing ideas to help us all find a good solution.

I have a feeling (and nothing more than a feeling) that Stryker could use some improvement in resource allocation and usage. I think it should be possible to break things into separate worker threads or processes

[2019-10-18 19:18] kmdrGroch commented on #1284
@brodybits I like your thinking. If you need some resources, I have found:
https://www.valentinog.com/blog/memory-usage-node-js/
https://marmelab.com/blog/2018/04/03/how-to-track-and-fix-memory-leak-with-nodejs.html

[2019-10-18 20:11] brodybits commented on #1284
Nice resources, thanks! I am still quite new with Stryker, not sure when I
will get to do much more investigation.
--
Sent from my mobile

[2019-10-18 20:28] kmdrGroch commented on #1284
I guess the easiest way to get into stryker is to play with it just a bit. After doing several commits, and understanding `what it is doing` and `how it works` you will be pretty good at it. It isn't that hard to get I guess. While learning how stryker works I also managed to learn whole TS :P Also if you have questions you are more than welcome. We will teach / show how it works

[2019-10-20 11:06] nicojs opened #1795 "Remove dependency on lodash"
**Is your maintenance request related to a problem? Please describe.**
We use lodash in a hand full of places, however we only do it for simple things. Like checking if a function is a function (instead of `value instanceof Function`), or checking if something is an array (instead of `Array.isArray(value)`). We should be able to remove the dependency.

**Describe the solution you'd like**
Remove a

[2019-10-20 12:11] MagicCurlyHair commented on #1795
Hi @nicojs
I can take this issue.

[2019-10-20 14:22] kmdrGroch commented on #1795
@nicojs I have noticed a bug in this template. It doesn't create a label `🔧 Maintenance` and doesn't assign me by default :<

[2019-10-21 04:06] itsmeraji commented on #1653
Hi, our team is interested in using Stryker to get the mutation test results, but almost all the files get this propTypes mutated and it brings the mutation test score down. We would like to know is there a possibility to exclude propTypes from getting mutated in Stryker. Is there any progress made on this?

[2019-10-21 09:13] kmdrGroch commented on #1653
@itsmeraji I'll start working on #1472 very soon. It should be done until the end of this month I hope

[2019-10-21 09:18] kmdrGroch opened #1796 "Enable other rules for eslint"
As we were talking with Nico in #1731, there are some rules, which could be turned on, as well as tslint rules which are introduced one by one to eslint.
We could make some list which should be enabled.

[2019-10-22 05:26] #1779 closed

[2019-10-22 06:44] itsmeraji commented on #1653
@kmdrGroch, Thank you for the reply. But will it be possible to add some configuration in Stryker.conf and disable proptypes mutation in all files automatically, based on the configuration ? If we have to add ignore comments, we ve to add ignore comment for proptypes in all the files..

[2019-10-22 10:50] kmdrGroch commented on #1653
@itsmeraji, for now, we are only planning to add the comments-based exclusion. In the future, we could write some plugin for it, but no hopes right now.

[2019-10-23 11:11] rvy-brillio opened #1804 "Mutation testing successful, yet results to 0%"
Hi team, first of all thanks for creating/maintaining this awesome tool.

**Question**

I've setup and run the tool in my local and, even though the run is successful, the mutation result is 0%. Almost all of the code is not covered.

**Stryker environment**

[code]

Test runner:
[code]
Other than this, I'm also using jasmine's additional plugins:
[code]

**Additional context**

stryker.conf.js:
[

[2019-10-23 11:31] kmdrGroch commented on #1804
it's indeed very strange. Is your repository public so we could try finding an issue?

[2019-10-23 16:24] rvy-brillio commented on #1804
Thanks for the quick response @kmdrGroch. The repository is private, but I can share the stryker.log generated from the run. Will that help in any manner?

[2019-10-23 17:19] kmdrGroch commented on #1804
It might help. Just give us whatever you can :)

[2019-10-23 20:28] simondel commented on #1804
Very strange!

Are you using Git? If so, please remove the `files` option from the config because we can use Git to copy the required files (your manual setup may miss some things)

As a workaround for now, you could run with coverage analysis `"off"`.

[2019-10-24 15:33] rvy-brillio commented on #1804
Sorry for the late replies (I was traveling without network).

@kmdrGroch here's the stryker log file: [stryker.log](https://github.com/stryker-mutator/stryker/files/3768307/stryker.log)

Hi @simondel, I'm using Git, and I have a file that git cannot pick up because it is ignored in .gitignore. The file that I require to be part of the test run is my **test env** file. So, I explicitly used `files

[2019-10-24 17:23] simondel commented on #1804
25 hours is not that bad in your case :P The initial testrun took 1 minute and 45 seconds. If every run is as slow as that and you don't run in parallel, it'll take almost 10 **days** to run. However, due to parallelisation and running in a 'hot' environment, you may end up closer to the 25 hour mark.

Coverage analysis will improve this a lot of course (if we figure out why it's broken in your ca

[2019-10-24 20:01] kmdrGroch commented on #1804
I don't see any issue on the first glance :/
@rvy-prillio, maybe could you prepare some 'lighter' version of your app? (for example, remove files which should not be visible for public / create a simple app with the same configuration you have not)?

[2019-10-25 04:06] rvy-brillio commented on #1804
@simondel I'll try to do this. I'll get back if the execution completes.

I had the same plan @kmdrGroch. Let me get that app ready and test it accordingly. It might take some time, so please feel free to close this. I can open another issue once the app is ready (and if the issue still persist).

[2019-10-25 19:58] guilleflmpeya opened #1806 "ERROR on Stryker run, missingPlugin: [ 'optionalChaining' ]"
**Question**

How can I make stryker to use this plugin  'optionalChaining' ?
**Stryker environment**

[code]

[code]

**Additional context**

[2019-10-25 21:40] simondel commented on #1806
Hello :) I don't know what _missingPlugin: [ 'optionalChaining' ]_ means. Where does it come from?

[2019-10-25 22:59] dhuang612 commented on #1315
someone else can take this over, thanks

[2019-10-26 18:54] noamyogev84 commented on #1189
Nop. go ahead :)

[2019-10-28 07:11] nicojs commented on #1795
Maybe because I assigned labels directly from "create issue" screen? Sorry about it, I thought it would still add the default label.

[2019-10-28 07:11] nicojs commented on #1795
Closed with #1799

[2019-10-28 07:11] #1795 closed

[2019-10-28 10:16] mega6382 opened #1811 "Unable to load json modules in Stryker"
**Summary**

**Stryker config**

[code]

**Test runner config**

[code]
**Stryker environment**

[code]

[code]

**Test runner environment**

[code]

[code]

**Your Environment**

| software         | version(s)
| ---------------- | -------
| node             | v10.15.1
| npm              | 6.11.3
| Operating System | Windows 10

**Add stryker.log**

[stryker.log](https://github.com/stryker-mutato

[2019-10-28 13:07] tsachis commented on #1472
@simondel @nicojs @kmdrGroch @Djaler
I've added an option to exclude code patterns via configuration (#1810)
Would appreciate any feedback.

Usage:
[code]

[2019-10-28 16:16] guilleflmpeya commented on #1806
Sorry, allow me to improve the description of the issue I'm having.
When I do, 'stryker run' I got this:

![image](https://user-images.githubusercontent.com/46934215/67695836-88585380-f984-11e9-990c-f35cb0296f8f.png)

I think is due to this we used in our project
https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining

So the question is, how I make stryker work along whit this plugin?

[2019-10-28 17:15] kmdrGroch commented on #1806
actually, for now you can't. Tho there is PR with this feature waiting to merge. Track https://github.com/stryker-mutator/stryker/pull/1764 for more info

[2019-10-28 17:25] kmdrGroch commented on #1472
considering exactly post made by @simondel (mean this issue), I think this branch is the closest one to solve it: https://github.com/kmdrGroch/stryker/tree/fix-1472. Tho I had some problems with typescript part (Javascript part works just fine)

[2019-10-29 07:01] nicojs commented on #1292
Sorry @sprengerjo but I don't like this approach: `.filter(mutateFile => !mutateFile.name.endsWith('.d.ts'))`. This adds specific source code knowledge to the Stryker core. Right now, it doesn't know any typescript/javascript specifics. I would like to keep it that way. This also doesn't guard agains missing `.map` files for other input files.

@kmdrGroch out of curiosity, why do you check-in buil

[2019-10-29 08:05] tsachis commented on #1472
@kmdrGroch  Using inline comments to exclude mutations is a very useful feature.
However, IMO it does not cover the use case of excluding patterns in your entire codebase (e.g. `logger.info`, `propTypes`).

Adding a way to globally exclude patterns is another important feature that can cover that use case, and help users improve process performance and filter out noise from the output.

@simondel

[2019-10-29 10:54] kmdrGroch commented on #1292
Thanks, @nicojs! I was probably just doing something really bad :x

[2019-10-29 10:54] #1292 closed

[2019-10-30 09:25] mega6382 commented on #1811
@nicojs Thanks for replying, I have prepared this mcve for you test(https://github.com/mega6382/stryker-ts-test). There are two issues in total that I am facing. First is that the json files are not being copied over to the build directory when I run stryker, but they are when I run tsc. You can test this by:

1. Run `npm run test` to see that it works with simple tsc and using mocha directly.
2.

[2019-11-01 14:59] dance-cmdr opened #1814 "JSON Reporter"
**Is your feature request related to a problem? Please describe.**
We are making a tool that requires stryker report snapshots to express mutant rating over time. Historical mutant rating.

**Describe the solution you'd like**
Export a stryker report in a json file.

**Describe alternatives you've considered**
My first take was to use the data from the html-reporter but it was embedding the data i

[2019-11-01 15:01] dance-cmdr commented on #1814
I'm working on this one already as part of our innovation day here in DAZN and as one of my personal objectives.

This idea was discussed a while ago here. https://github.com/stryker-mutator/stryker-handbook/issues/25

[2019-11-01 22:36] aivopaas opened #1815 "perTest coverage analysis crashes because of undefined baseline variable"
**Summary**

When running stryker with perTest coverage analysis, it crashes on my code because the `baseline` variable is sometimes undefined.

I have prepared a PR where you can see which variable exactly and where.
https://github.com/stryker-mutator/stryker/pull/1760

**Stryker config**

[code]

**Test runner config**

[code]

**Stryker environment**

[code]

[code]

**Test runner environment**

[2019-11-04 14:55] dance-cmdr commented on #1814
Hi there! Just an update and a couple of questions!

I have the draft of the json-reporter here. https://github.com/dance-cmdr/stryker/tree/json-reporter

It is a very simple implementation so far. The only thing it does so far is stringifying `mutationTestReportSchema.MutationTestResult` and dumping it in a json file.

The solution is modelled after the html-reporter so it will be very familiar t

[2019-11-04 16:20] mega6382 commented on #1811
@nicojs Any update on this?

[2019-11-05 12:07] #1614 closed

[2019-11-05 20:51] andreadellacorte commented on #613
Would also love an update - I am running into the same issue

[2019-11-05 22:18] kmdrGroch opened #1817 "change Promises into async functions"
We should consider changing Promises to async functions. The 'how it works' would stay the same with the increase of performance (really slight tho) and readability (huge)

[2019-11-05 23:45] andreadellacorte commented on #1566
+1 on this, I had to disable this as before all my mutants were surviving as no tests were being run.

Putting my stryker config here in case it could help somebody in the future.

[code]

[2019-11-06 19:46] #1669 closed

[2019-11-06 19:51] kmdrGroch opened #1829 "Travis files"
Are we still using Travis?
I can see we have .travis folder and travis.yml, but we are using GitHub ci, aren't we?

Should them be removed?

[2019-11-06 19:57] simondel commented on #1829
Yes we are. We use Travis to release. This has not yet been migrated to Github Workflows.

[2019-11-06 19:57] #1829 closed

[2019-11-06 20:04] brodybits commented on #1829
I wonder if this should be tracked in an issue?

Travis CI seems to be sadly another point of potential CI build failure.

Thanks!

[2019-11-06 20:35] brodybits commented on #1811
I would *personally* categorize this as a feature request, since JSON is not 100% the same thing as JavaScript.

I would recommend considering use of .conf(ig).js or .conf(ig).ts files as a workaround.

[2019-11-06 23:03] mega6382 commented on #1811
@brodybits OK, but there is still a problem, if you were to checkout the repo I shared above you can see that there is still a problem even if I were to hard code the values in the TS file. Can you help me with that please?

[2019-11-06 23:33] brodybits commented on #1811
@mega6382 I fixed up `src/test/unit/app.test.ts` as follows:

[code]

Works for me now, I hope it is clear. You should be able to find the explanation elsewhere, if needed.

I was also wondering why you have "|| true" in the package test script entry, does not look right. Maybe I am missing something here.

Please keep in mind that I am not a maintainer, just wanted to help the user community out

[2019-11-07 05:49] nicojs commented on #1749
This might be a race condition in the Angular-cli / karma itself.

Writing mutation to disk -> run karma -> see result.

The way compilation errors are reported is by this line of code:

I'm updating the tests to pass in the mean time. This is causing too many red builds

[2019-11-07 06:06] #1815 closed

[2019-11-07 06:45] nicojs commented on #1779
@mauricedb could you try out if v2.2.1 works for you? It has the fix in it

[2019-11-07 08:26] mega6382 commented on #1811
@brodybits I had already the tried the approach that you have mentioned above, but it is not feasible for me to use it in my actual code. Because I need to use the instance of app in multiple tests in the same file.  This code works when simply running with mocha, I would just like to know why it doesn't in stryker.

You can ignore the "|| true".

[2019-11-07 16:37] nicojs commented on #1759
This mostely has to do with #1749, which we've mitigated for now (swept under the rug, see issue for more details).

However there is still a problem with the grunt integration test:

[code]

It runs stryker twice with different configs. I think the first run is conflicting with the second one. For some reason the `.stryker-tmp` directory is deleted by the first run while the second one started. W

[2019-11-07 16:53] nicojs commented on #1817
Sure, go ahead. Be sure to also take error handling into account.

[code]

Becomes:

[code]

[2019-11-07 17:15] #1759 closed

[2019-11-07 17:30] nicojs commented on #1814
Hi @dance-cmdr 👋 thanks for picking this one up ❤

Great, this is exactly what it should do 😅

Test on a real project: you should be able to use `npm link` (or `npm install file:..`) . For example (if your project is situated next to stryker on disk):

[code]

You could also use a tool like [install-local](https://npmjs.com/packages/install-local) to do an actual production installation of a local

[2019-11-07 17:34] nicojs commented on #1804
Yes, a lighter version of the app will be the fastest way to get this up-and running 👍

[2019-11-07 19:56] nicojs commented on #1814
Just took a look in your branch. You've created a separate package for the reporter. While it's not _wrong_ perse, I would like it if it was integrated in the list of reporters coming with stryker out-of-the-box.

This will be easier for us to maintain as well as easier to use.

You can do this by adding the reporter to this directory:

https://github.com/stryker-mutator/stryker/blob/master/packag

[2019-11-08 22:34] kmdrGroch commented on #1749
It might also be caused by coz obsolete versions of testing tools / angular. Let's if anything changes after #1832

[2019-11-08 23:57] nicojs commented on #621
I think this is a bigger issue. Not only is `load_error` effected, but also `browser_error`. In general, when an error occurs, the promise from a karma run is not resolved, at all.

Time to fix this one.

[2019-11-09 00:20] #1697 closed

[2019-11-09 00:31] kmdrGroch opened #1834 "Setting up Iteration Plan / Roadmaps"
I think it would be nice to set up some iteration plans and roadmaps like it is done in Typescript.
It could help us focus on some topics more than others / show what was changed etc.

[2019-11-09 00:34] #1732 closed

[2019-11-10 18:59] mauricedb commented on #1779
@nicojs

👍 Stryker starts up on the whole application just fine now. Still going to take quite some time.

[code]

[2019-11-11 06:56] nicojs opened #1837 "Karma runner: handle preprocessor errors from karma-webpack"
Preprocessor magic in karma is doing more stuff nowadays. For example, the karma-webpack plugin runs entire webpack. Whenever an error is thrown, it is often logged to the console and proceeded, like business as usual. In karma-webpack's case, this means a timeout, because karma is blocked until the next succesful bundle.

In order to fix this issue, these 2 things need to be fixed first:

1. The

[2019-11-11 06:58] nicojs commented on #1834
Yes I agree. What is your suggestion? Add a `roadmap.md` file? @simondel what are your thoughts on this?

[2019-11-11 07:18] simondel commented on #1834
Sounds like a good plan. Since Waffle is dead 🧇😭

Duplicate of: https://github.com/stryker-mutator/stryker/issues/334

[2019-11-11 07:35] simondel commented on #1834
We have a few big topics that we want to fix:
* Excluding specific mutations (https://github.com/stryker-mutator/stryker/issues/1472) (Syntax should be discussed with Stryker.NET and Stryker4s)
* Mutation switching (https://github.com/stryker-mutator/stryker/issues/1514)
* Incremental analysis (https://github.com/stryker-mutator/stryker/issues/322) (Some people have worked on this using Git)

In m